Repository mcu-tools/mcuboot, pull requests merged in 2021-11, with the labels that each got.

#1205 kconfig: add name to choice option
  boot/zephyr/Kconfig
Labels: area: zephyr

#1206 loader: add checking of reset address
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Labels: area: core

#1220 doc/design: Explain swap without using scratch algorithm
  docs/design.md
Labels: area: docs
