Repository mcu-tools/mcuboot, pull requests merged in 2021-12, with the labels that each got.

#1227 doc/design: fix typo in swap-using-scratch description
  docs/design.md
Labels: area: docs

#1231 zephyr: fix typo in CONFIG_ERASE_PROGRESSIVELY conversion
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Labels: bug, area: zephyr

#1087 boot: zephyr: Configure mimxrt685_evk board
  boot/zephyr/boards/mimxrt685_evk_cm33.conf
Labels: area: zephyr

#880 samples: zephyr: Use move swap for Zephyr tests
  samples/zephyr/overlay-ecdsa-p256.conf
  samples/zephyr/overlay-rsa.conf
  samples/zephyr/overlay-skip-primary-slot-validate.conf
Labels: area: zephyr

#1247 boot_serial: Fix Zephyr include path for reboot.h
  boot/boot_serial/src/boot_serial.c
Labels: area: zephyr

#1264 espressif: Improve CI script for easing local validation
  .github/workflows/espressif.yaml
  ci/espressif_run.sh
Labels: area: espressif
