Repository mcu-tools/mcuboot, pull requests merged in 2021-09, with the labels that each got.

#1125 zephyr: Remove BOOT_SERIAL_UART dependency from ENABLE_MGMT_PERUSER
  boot/zephyr/Kconfig
Labels: bug, area: zephyr

#1139 boot/bootutil/loader: fix comparison using fih_eq() in hook service
  boot/bootutil/src/loader.c
Labels: bug

#1071 ESP32-S2: Basic MCUboot support
  boot/espressif/hal/CMakeLists.txt
  boot/espressif/hal/include/esp32s2/sdkconfig.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_logging.h
  boot/espressif/hal/src/esp32/bootloader_init.c
  boot/espressif/hal/src/esp32s2/bootloader_init.c
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp_loader.c
  boot/espressif/port/esp_mcuboot.c
  boot/espressif/tools/toolchain-esp32s2.cmake
Labels: area: esp32
