Repository mcu-tools/mcuboot, pull requests merged in 2022-09, with the labels that each got.

#1458 boot: zephyr: return NULL if stm32 watchdog is not enabled
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Labels: area: zephyr

#1457 boot: zephyr: enable watchdog feed by default
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Labels: area: zephyr

#1455 boot: nuttx: main: add suport for board late initialization.
  boot/nuttx/main.c
Labels: area: nuttx

#1477 zephyr/sample.yaml Limit allowed build platforms
  boot/zephyr/sample.yaml
Labels: area: zephyr

#1476 bootutil: loader: Add post copy hook to swap function
  boot/bootutil/src/loader.c
Labels: area: zephyr

#1466 imgtool: add option to export public PEM
  docs/encrypted_images.md
  scripts/imgtool/keys/ecdsa.py
  scripts/imgtool/keys/general.py
  scripts/imgtool/keys/rsa.py
  scripts/imgtool/keys/x25519.py
  scripts/imgtool/main.py
Labels: RFC

#1482 zephyr/Kconfig: fixed BOOT_WATCHDOG_FEED default value
  boot/zephyr/Kconfig
Labels: area: zephyr

#1484 [RFC] imgtool: change getpub exporting format parameter
  docs/encrypted_images.md
  scripts/imgtool/main.py
Labels: RFC
