Repository mcu-tools/mcuboot, pull requests merged in 2022-08, with the labels that each got.

#1419 boot: zephyr: add support for generic watchdog alias
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Labels: area: zephyr

#1413 boot_serial: Fix incorrect format specifier for off_t
  boot/boot_serial/src/boot_serial.c
Labels: bug, area: serial recovery

#1409 zephyr: direct inclusion of the hooks file
  boot/bootutil/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/boards/nrf52840dk_hooks_sample_overlay.conf
  boot/zephyr/sample.yaml
Labels: area: zephyr

#1438 zephyr: Remove devicetree 'label' property
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/usb_cdc_acm.overlay
Labels: area: zephyr

#1433 boot_serial: fix serial recovery mode with timeout
  boot/boot_serial/src/boot_serial.c
Labels: area: zephyr

#1445 imgtool: Fix output of confirmed image in HEX format
  scripts/imgtool/image.py
Labels: area: imgtool

#1404 zephyr: flash: support 32byte block write size
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Labels: area: zephyr
