Repository mcu-tools/mcuboot, pull requests merged in 2022-01, with the labels that each got.

#1272 zephyr/boot_serial_extension: us BOOT_LOG instead of LOG_
  boot/zephyr/boot_serial_extensions.c
Labels: area: zephyr

#1261 boot/bootutil: added log on swap type used
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_scratch.c
Labels: area: core

#1277 doc: fixed ecdsa.md
  docs/ecdsa.md
Labels: area: docs

#1276 doc: updated release.md
  docs/release.md
Labels: area: docs

#1283 zephyr: rsa: Use a smaller sha256 implementation
  boot/zephyr/include/config-ec.h
  boot/zephyr/include/config-ed25519.h
  boot/zephyr/include/config-kw.h
  boot/zephyr/include/config-rsa-kw.h
  boot/zephyr/include/config-rsa.h
Labels: area: zephyr

#1281 single_loader: zephyr: Fix compilation with VALIDATE_PRIMARY_SLOT enabled
  boot/zephyr/single_loader.c
Labels: bug, area: core

#1298 zephyr: fix compilation when no CONFIG_BOOT_ENCRYPTION_KEY_FILE
  boot/zephyr/CMakeLists.txt
Labels: bug, area: zephyr
