Repository mcu-tools/mcuboot, pull requests merged in 2022-11, with the labels that each got.

#1500 boot:nuttx: Fix sign-comparsion issue
  boot/nuttx/src/flash_map_backend/flash_map_backend.c
Labels: area: nuttx

#1505 boot: nuttx: Support application specific wdg initialization.
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/watchdog/watchdog.h
  boot/nuttx/main.c
  boot/nuttx/src/watchdog/watchdog.c
Labels: area: nuttx

#1501 boot: zephyr: prefer swap move if scratch_partition not enabled
  boot/zephyr/Kconfig
Labels: area: zephyr

#1520 imgtool: fix --vector-to-sign usage
  scripts/imgtool/image.py
Labels: area: imgtool

#1527 bootutil: Fix bootutil_find_key return value
  boot/bootutil/src/image_validate.c
Labels: area: core
