Repository mcu-tools/mcuboot, pull requests merged in 2023-07, with the labels that each got.

#1732 boot_serial: Fix showing images that are not valid
  boot/boot_serial/src/boot_serial.c
Labels: area: serial recovery

#1733 boot_serial: fix misuse of 'matched' param from zcbor_map_decode_bulk()
  boot/boot_serial/src/boot_serial.c
Labels: area: serial recovery

#1703 boot: mynewt: add support for the mcumgr echo command in serial boot mode
  boot/boot_serial/syscfg.yml
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
Labels: area: mynewt

#1750 boot: boot_serial: Fix wrong cbor type for confirm
  boot/boot_serial/src/boot_serial.c
Labels: area: serial recovery

#1755 boot: bootutil: Fix missing packed attributes, add hash size define
  boot/bootutil/include/bootutil/image.h
Labels: area: core

#1759 boot: zephyr: Fix indication LED not selecting GPIO
  boot/zephyr/Kconfig
Labels: area: zephyr

#1751 boot: boot_serial: Add updated SMP header
  boot/boot_serial/src/boot_serial_priv.h
Labels: area: serial recovery
