Repository mcu-tools/mcuboot, pull requests merged in 2023-03, with the labels that each got.

#1649 mynewt: Add flash_area_get_sector
  boot/mynewt/flash_map_backend/include/flash_map_backend/flash_map_backend.h
Labels: Hotfix

#1155 zephyr: Check zephyr,uart-mcumgr as candidate for serial recovery
  boot/zephyr/Kconfig.serial_recovery
  boot/zephyr/serial_adapter.c
Labels: area: zephyr, area: serial recovery

#1507 boot_serial: support fragmentation for outgoing SMP packets
  boot/boot_serial/src/boot_serial.c
Labels: area: serial recovery
