Repository mcu-tools/mcuboot, pull requests merged in 2024-09, with the labels that each got.

#2006 boot: Make boot_enc_valid take slot instead of image index
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
Labels: crypto

#2049 boot: zephyr: Add fallback to USB DFU
  boot/zephyr/Kconfig
  boot/zephyr/main.c
Labels: area: zephyr

#2060 bootutil: Fix AES and SHA-256 contexts not zeroized (mbedTLS)
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/include/bootutil/crypto/aes_kw.h
  boot/bootutil/include/bootutil/crypto/sha.h
Labels: crypto

#1967 boot: SHA512 verification
  boot/bootutil/include/bootutil/crypto/sha.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/image_validate.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Labels: area: core

#2069 boot: zephyr: Remove broken target config header feature
  boot/zephyr/CMakeLists.txt
  boot/zephyr/targets/arduino_101.h
Labels: area: zephyr
