Repository mcu-tools/mcuboot, pull requests merged in 2024-10, with the labels that each got.

#2017 boot: Replace boot_encrypt by boot_enc_encrypt and boot_enc_decrypt
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
Labels: crypto

#2029 RFC: bootutil: Add TLV for Pure (over image) signature
  boot/bootutil/include/bootutil/image.h
  scripts/imgtool/image.py
Labels: crypto

#2082 boot: zephyr: Fix Warning 'boot_serial_enter defined but not used'
  boot/zephyr/main.c
Labels: area: zephyr

#2079 samples: zephyr: add sysbuild to the hello-world sample
  samples/zephyr/hello-world/sample.yaml
  samples/zephyr/hello-world/sysbuild.conf
Labels: area: zephyr

#2088 zephyr: Fixing Kconfig dependency for SHA512
  boot/zephyr/Kconfig
Labels: area: zephyr

#2098 imgtool: bugfix #2096
  scripts/imgtool/main.py
Labels: bug, area: imgtool

#2095 boot_serial: Fix serial recovery for LPC55x and MCXNx
  boot/boot_serial/src/boot_serial.c
  boot/zephyr/Kconfig.serial_recovery
Labels: NXP
