Repository mcu-tools/mcuboot, pull requests merged in 2024-11, with the labels that each got.

#2102 doc: remove repetition
  docs/design.md
Labels: area: docs

#2121 boot: zephyr: Add fallback for overhead calculation when auto fails
  boot/zephyr/CMakeLists.txt
Labels: bug, area: zephyr

#2116 boot_serial: Support sha256, sha384 and sha512
  boot/boot_serial/src/boot_serial.c
Labels: area: serial recovery

#2097 Add a test to verify if lzma2 compression works
  scripts/tests/test_compression.py
Labels: area: imgtool

#2127 zephyr: Add CONFIG_MCUBOOT_CLEANUP_RAM
  boot/zephyr/Kconfig
  boot/zephyr/main.c
Labels: area: zephyr

#2130 boot: zephyr: Fix sample.bootloader.mcuboot.usb_cdc_acm_recovery
  boot/zephyr/sample.yaml
  boot/zephyr/usb_cdc_acm_recovery.conf
Labels: area: zephyr
