Repository mcu-tools/mcuboot, pull requests merged in 2024-08, with the labels that each got.

#2026 imgtool: Add missing encodings to emitter tests
  scripts/imgtool/keys/ecdsa_test.py
  scripts/imgtool/keys/ed25519_test.py
Labels: area: imgtool

#2012 boot: Simplify copy loop in boot_copy_region
  boot/bootutil/src/loader.c
Labels: crypto

#2034 bootutil: Fix missing include
  boot/bootutil/include/bootutil/boot_record.h
Labels: area: core

#2035 espressif: Update the references for using the new Espressif HAL
  boot/espressif/hal/include/esp32c6/esp32c6.cmake
  boot/espressif/hal/include/esp32h2/esp32h2.cmake
Labels: area: espressif
