Repository mcu-tools/mcuboot, pull requests merged in 2024-12, with the labels that each got.

#2138 boot: zephyr: boot_record: Save boot data with single image
  boot/bootutil/src/boot_record.c
  boot/zephyr/single_loader.c
Labels: area: zephyr

#2109 bootutil: Fix upgrade might fail after power-failure if swap-scratch is used
  boot/bootutil/src/loader.c
Labels: area: core

#2100 bootutil: Fix device bricked after power failure during swap-move revert
  boot/bootutil/src/bootutil_public.c
  docs/design.md
Labels: bug

#2150 boot/zephyr/boards: configure fastest RRAM operations
  boot/zephyr/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l15_cpuapp.conf
Labels: area: zephyr
