Repository mcu-tools/mcuboot, pull requests merged in 2025-04, with the labels that each got.

#2236 imgtool: dumpinfo avoid exit
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/main.py
Labels: area: imgtool

#2267 boot: bootutil: swap_move: Fix maximum application size
  boot/bootutil/src/swap_move.c
Labels: bug

#2268 boot: boot_serial: Fix swap using offset
  boot/boot_serial/src/boot_serial.c
Labels: bug

#2280 boot: boot_serial: Fix issue with CBOR and setting image state
  boot/boot_serial/src/boot_serial.c
Labels: bug, area: serial recovery
