Repository mcu-tools/mcuboot, pull requests merged in 2025-05, with the labels that each got.

#2288 boot: zephyr: kconfig: enable dependencies of Mbed TLS Kconfig option
  boot/zephyr/Kconfig
Labels: crypto

#2290 boot: zephyr: flash_map: Fix missing include
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
Labels: area: zephyr

#2291 boot: zephyr: kconfig: Fix issues and re-order
  boot/zephyr/Kconfig
Labels: area: zephyr

#2274 Docfix
  docs/contributing.md
  docs/index.md
Labels: area: docs
