Repository mcu-tools/mcuboot, pull requests merged in 2025-06, with the labels that each got.

#2333 boot: zephyr: update NXP MPU define to new name
  boot/zephyr/arm_cleanup.c
  boot/zephyr/include/arm_cleanup.h
  boot/zephyr/main.c
Labels: area: zephyr, NXP

#2339 imgtool: fix dependency on click version
  scripts/tests/test_commands.py
Labels: area: imgtool

#2334 scripts: imgtool: Compression of no header-padded images
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Labels: area: imgtool

#2340 sim: Test for boot_load_image_from_flash_to_sram API
  sim/mcuboot-sys/csupport/run.c
  sim/mcuboot-sys/src/c.rs
  sim/src/image.rs
  sim/tests/core.rs
Labels: area: sim
