Repository mcu-tools/mcuboot, pull requests merged in 2025-07, with the labels that each got.

#2361 boot: boot_serial: Fix wrong slot ID for hook calls
  boot/boot_serial/src/boot_serial.c
Labels: bug

#2364 boot: boot_serial: Fix slot info response on error
  boot/boot_serial/src/boot_serial.c
Labels: bug

#2380 boot: zephyr: boards: Remove outdated nrf54l15pdk board config
  boot/zephyr/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
Labels: area: zephyr

#2358 zephyr: Remove legacy flash_area_get_sectors
  boot/zephyr/CMakeLists.txt
  boot/zephyr/flash_map_legacy.c
Labels: area: zephyr

#2379 zephyr: Add zephyr samples folder to list of samples
  zephyr/module.yml
Labels: area: zephyr

#2370 boot: zephyr: RAM cleanup debug loop
  boot/zephyr/Kconfig
  boot/zephyr/main.c
Labels: area: zephyr

#2388 boot: zephyr: Remove support for deprecated LED dts
  boot/zephyr/io.c
Labels: area: zephyr

#2387 boot: zephyr: Remove references to tinycrypt
  boot/zephyr/prj.conf
Labels: area: zephyr

#2391 zephyr: boards: nrf54h20dk: disable power domains
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp_iron.overlay
Labels: area: zephyr

#2390 zephyr: Improve SHA support selectors
  boot/zephyr/Kconfig
Labels: area: zephyr

#2392 zephyr: Enable building ECDSA PSA variant
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Labels: area: zephyr, crypto

#2343 loader: Allow to specify slot number in version comparison
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
  docs/imgtool.md
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Labels: area: core, area: zephyr
