Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

zephyr: Add support for AES256
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

imgtool: Allow for AES256 encryption
  scripts/imgtool/image.py
Owners: @d3zd3z

zephyr: Kconfig to control MCUBOOT_USE_TLV_ALLOW_LIST
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

doc: Add information on TLV allow list
  docs/design.md
Owners: @d3zd3z

bootutil: Add MCUBOOT_USE_TLV_ALLOW_LIST
  boot/bootutil/src/image_validate.c
  docs/release-notes.d/tlv-allow-list.md
Owners: @davidvincze, @d3zd3z

sys: Add MCUBOOT_USE_TLV_ALLOW_LIST to mcuboot_config.h
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

sys: Add MCUBOOT_USE_TLV_ALLOW_LIST to mcuboot_config.h
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

zephyr: Kconfig to control MCUBOOT_USE_TLV_ALLOW_LIST
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: nrf54l15dk: Remove invalid Kconfigs
  boot/zephyr/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l10_cpuapp.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: Remove reference to old Kconfigs
  boot/zephyr/main.c
  boot/zephyr/prj.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: nrf52: Fix minimal config
  boot/zephyr/boards/nrf52_minimal_footprint.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: update name of nrf54h20dk
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Owners: @nordicjm, @de-nordic

docs/design: add notes about swap algorithms
  docs/design.md
Owners: @d3zd3z

boot: zephyr: boards: update name of nrf54h20dk
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp.conf
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: adjust sample.yaml to pass USB deprecation process
  boot/zephyr/sample.yaml
Owners: @nordicjm, @de-nordic

boot: zephyr: Fix including asn1 when ed25519 is used
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: zephyr: Fix including asn1 when ed25519 is used
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

bootutil: Fix PureEdDSA when flash base is not 0x0
  boot/bootutil/src/image_validate.c
  docs/release-notes.d/fix-pure-eddsa-base-address.md
Owners: @davidvincze, @d3zd3z

zephyr: Fix FLASH_DEVICE_ID for nRF54H20 platform
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

doc: Add information on TLV allow list
  docs/design.md
Owners: @d3zd3z

bootutil: (refactor) split image_validate.c into separate files
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_img_security_cnt.c
  boot/bootutil/src/image_validate.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

boot/boot_serial: build-time skip of the erasing of img status page
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

bootutil: swap_scratch: Fix scratch scrambling
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: zephyr: Remove reference to deprecated BT_CTLR option
  boot/zephyr/prj.conf
Owners: @nordicjm, @de-nordic

bootutil: (refactor) split image_validate.c into separate files
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_img_security_cnt.c
  boot/bootutil/src/image_validate.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

bootutil: swap_scratch: Fix scratch scrambling
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: zephyr: Remove reference to deprecated BT_CTLR option
  boot/zephyr/prj.conf
Owners: @nordicjm, @de-nordic

boot/boot_serial: build-time skip of the erasing of img status page
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: zephyr: board: nrf54h20: Enable PM by default
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp.conf
Owners: @nordicjm, @de-nordic

bootutil: Fix bootutil_aes_ctr_drop memset usage
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
Owners: @davidvincze

boot: zephyr: boards: nrf54h20dk cpuapp add chosen code part
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Owners: @nordicjm, @de-nordic

CI: FIH: Update FIH tests to use recent TFM; bump toolchain to 14.2
  ci/fih-tests_run.sh
  ci/fih_test_docker/execute_test.sh
Owners: @d3zd3z

espressif: add forced aligned flash erase
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: fix build if hal_espressif is used as HAL layer for Espressif Port
  boot/espressif/CMakeLists.txt
  boot/espressif/hal/include/stubs.h
  boot/espressif/hal/include/zephyr_compat.h
Owners: @almir-okato

bootutil: Fix bootutil_aes_ctr_drop memset usage
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
Owners: @davidvincze

zephyr: use REQUIRED in dt_nodelabel calls to fail early and with meaningful message
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

doc/release-notes: serial recovery fix
  docs/release-notes.d/fix-serial-recovery-progressive-erase.md
Owners: @d3zd3z

bootutil: Fix PureEdDSA when flash base is not 0x0
  boot/bootutil/src/image_validate.c
  docs/release-notes.d/fix-pure-eddsa-base-address.md
Owners: @davidvincze, @d3zd3z

zephyr: Fix FLASH_DEVICE_ID for nRF54H20 platform
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

doc/release-notes: serial recovery fix
  docs/release-notes.d/fix-serial-recovery-progressive-erase.md
Owners: @d3zd3z
