Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

boot: zephyr: Add serial recovery (with all options) build
  boot/zephyr/sample.yaml
Owners: @nordicjm, @de-nordic

boot: zephyr: Fix trailer size alignment for swap-using-offset
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: zephyr: Flush logs before entering serial recovery
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: zephyr: cmake: Fix Zephyr version file define
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: zephyr: cmake: Fix Zephyr version file define
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: mbed: Add flash_area_get_sector
  boot/mbed/include/flash_map_backend/flash_map_backend.h
  boot/mbed/src/flash_map_backend.cpp
Owners: @d3zd3z

boot:zephyr:boards: Add configuration for nucleo_n657x0_q
  boot/zephyr/boards/nucleo_n657x0_q_stm32n657xx_fsbl.conf
Owners: @nordicjm, @de-nordic

imgtool: add AES-KW encryption support
  docs/encrypted_images.md
  docs/imgtool.md
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/main.py
Owners: @d3zd3z

tests: add AES-KW encryption coverage
  scripts/tests/test_encryption_kw.py
Owners: @d3zd3z

sim: init mbedtls allocator for KW
  sim/mcuboot-sys/csupport/run.c
Owners: @d3zd3z

boot: zephyr: Rename nRF54H Kconfig symbol usage
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/target.h
Owners: @nordicjm, @de-nordic

boot: bootutil: Fix extra . in logging output
  boot/bootutil/src/bootutil_public.c
Owners: @davidvincze

boot: zephyr: Rename nRF54H Kconfig symbol usage
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/target.h
Owners: @nordicjm, @de-nordic

boot: mbed: Add flash_area_get_sector
  boot/mbed/include/flash_map_backend/flash_map_backend.h
  boot/mbed/src/flash_map_backend.cpp
Owners: @d3zd3z

boot: bootutil: Add missing swap offset file and fix RAM load
  boot/bootutil/CMakeLists.txt
  boot/bootutil/src/ram_load.c
Owners: @davidvincze

boot: zephyr: Add serial recovery (with all options) build
  boot/zephyr/sample.yaml
Owners: @nordicjm, @de-nordic

boot: zephyr: Replace swap offset with swap move in Kconfig fragment
  boot/zephyr/sample.yaml
  boot/zephyr/swap_move.conf
  boot/zephyr/swap_offset.conf
Owners: @nordicjm, @de-nordic

boot: bootutil: Fix extra . in logging output
  boot/bootutil/src/bootutil_public.c
Owners: @davidvincze

boot: bootutil: Add missing swap offset file and fix RAM load
  boot/bootutil/CMakeLists.txt
  boot/bootutil/src/ram_load.c
Owners: @davidvincze

boot: mbed: fix MCUBOOT_SWAP_SAVE_ENCTLV
  boot/mbed/mbed_lib.json
Owners: @d3zd3z

imgtool: Output format option to dumpinfo
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: handle .hex in dumpinfo
  scripts/imgtool/dumpinfo.py
Owners: @d3zd3z

boot: zephyr: cmake: Add support for sub-partitions
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

imgtool: handle .hex in dumpinfo
  scripts/imgtool/dumpinfo.py
Owners: @d3zd3z

boot: espressif: reorganize cmake build script file
  boot/espressif/CMakeLists.txt
Owners: @almir-okato

boot: bootutil: bootutil_find_key: Fix definition
  boot/bootutil/src/bootutil_find_key.c
Owners: @davidvincze

boot: bootutil: image_ed25519: Fix inbuilt key usage
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

boot: zephyr: Add support for inbuilt key
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: zephyr: Add support for external PSA crypto library
  boot/bootutil/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: Fix missing ranges properties
  boot/zephyr/boards/mimxrt1050_evk_mimxrt1052_hyperflash_ram_load.overlay
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840_single_slot.overlay
  boot/zephyr/boards/nrf52840dk_nrf52840_ram_load.overlay
  boot/zephyr/boards/nrf52840dk_qspi_nor_secondary.overlay
  boot/zephyr/boards/nrf52840dk_ram.overlay
  boot/zephyr/boards/nrf52840dk_ram_multi.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: move CDC ACM serial to the new device stack
  boot/zephyr/Kconfig.serial_recovery
  boot/zephyr/serial_adapter.c
Owners: @nordicjm, @de-nordic

boot: zephyr: cmake: Add support for sub-partitions
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: Fix missing ranges properties
  boot/zephyr/boards/mimxrt1050_evk_mimxrt1052_hyperflash_ram_load.overlay
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840_single_slot.overlay
  boot/zephyr/boards/nrf52840dk_nrf52840_ram_load.overlay
  boot/zephyr/boards/nrf52840dk_qspi_nor_secondary.overlay
  boot/zephyr/boards/nrf52840dk_ram.overlay
  boot/zephyr/boards/nrf52840dk_ram_multi.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: cmake: Add mbedTLS library folder to include path
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot_serial: boot_serial_encryption: Fix typos and wrong types
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

boot_serial: boot_serial_encryption: Fix typos and wrong types
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

boot: zephyr: cmake: Add mbedTLS library folder to include path
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

imgtool: dumpinfo -f,--format option
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: espressif: Fix build problem with mbedtls
  boot/espressif/common.cmake
Owners: @almir-okato

boot: espressif: split dram_seg into dram_loader_seg memory segment
  boot/espressif/main.c
  boot/espressif/port/esp32/ld/bootloader.ld
  boot/espressif/port/esp32c2/ld/bootloader.ld
  boot/espressif/port/esp32c3/ld/bootloader.ld
  boot/espressif/port/esp32c6/ld/bootloader.ld
  boot/espressif/port/esp32h2/ld/bootloader.ld
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp32s3/ld/bootloader.ld
  boot/espressif/port/include/esp32/memory.h
  boot/espressif/port/include/esp32c2/memory.h
  boot/espressif/port/include/esp32c3/memory.h
  boot/espressif/port/include/esp32c6/memory.h
  boot/espressif/port/include/esp32h2/memory.h
  boot/espressif/port/include/esp32s2/memory.h
  boot/espressif/port/include/esp32s3/memory.h
Owners: @almir-okato
