Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

boot: zephyr: boards config of the stm32h7s78 disco kit
  boot/zephyr/boards/stm32h7s78_dk.conf
  boot/zephyr/boards/stm32h7s78_dk.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h7s3l8 nucleo
  boot/zephyr/boards/nucleo_h7s3l8.conf
  boot/zephyr/boards/nucleo_h7s3l8.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h573 disco kit
  boot/zephyr/boards/stm32h573i_dk.conf
  boot/zephyr/boards/stm32h573i_dk.overlay
Owners: @nordicjm, @de-nordic

bootutil: Make boot_get_first_trailer_sector available for swap-move
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

bootutil: swap-move: Allow unaligned trailer sector during move
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

bootutil: swap-move: Erase secondary trailer during swap
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

Add checks to crypto operation calls in MCUboot
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

boot: bootutil: loader: Add include for flash function
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: zephyr: boards config of the stm32h7s78 disco kit
  boot/zephyr/boards/stm32h7s78_dk.conf
  boot/zephyr/boards/stm32h7s78_dk.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h7s3l8 nucleo
  boot/zephyr/boards/nucleo_h7s3l8.conf
  boot/zephyr/boards/nucleo_h7s3l8.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h573 disco kit
  boot/zephyr/boards/stm32h573i_dk.conf
  boot/zephyr/boards/stm32h573i_dk.overlay
Owners: @nordicjm, @de-nordic

Updates for 2.2.0-rc1 release
  README.md
  docs/release-notes.d/bootutil-enc-hw-keys.md
  docs/release-notes.d/bootutil-image-verification.md
  docs/release-notes.d/compatible-slots.md
  docs/release-notes.d/encrypted-scratch-partition.md
  docs/release-notes.d/espressif-idf-version-checking.md
  docs/release-notes.d/fix-nordic.md
  docs/release-notes.d/fix-ram-load-zephyr-address.md
  docs/release-notes.d/fix-stuck-revert.md
  docs/release-notes.d/fix-zephyr-sysbuild-name.md
  docs/release-notes.d/imgtool_sanity_test.md
  docs/release-notes.d/max-app-size-changes.md
  docs/release-notes.d/serial-recovery-list.md
  docs/release-notes.d/serial-recovery-slot-info.md
  docs/release-notes.d/serial-recovery-var.md
  docs/release-notes.d/swap-using-offset.md
  docs/release-notes.d/zephyr-auto-max-sectors.md
  docs/release-notes.d/zephyr-compression.md
  docs/release-notes.md
  repository.yml
  scripts/imgtool/__init__.py
Owners: @d3zd3z

Install timeout during setup of watchdog
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Default to swap using offset for nRF devices
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: bootutil: swap_move: Fix maximum application size
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

boot: bootutil: swap_move: Fix maximum application size
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

boot: boot_serial: Fix swap using offset
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: boot_serial: Fix swap using offset
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: boot_serial: Fix swap using offset
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: bootutil: swap_offset: Fix maximum application size
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

bootutil: swap-move: Update maximum size to allow unaligned trailers
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

docs: release-notes: Add note on unaligned swap-move trailers
  docs/release-notes.d/swap-move-unaligned-trailers.md
Owners: @d3zd3z

docs: design: Update maximum image size when using swap-move
  docs/design.md
Owners: @d3zd3z

bootutil: swap-move: Remove check of the image size in swap_run
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

sim: swap-move: Allow firmware data in the first trailer sector
  sim/src/image.rs
Owners: @d3zd3z

sim: Fix largest image computation for swap-move and swap-offset
  sim/src/image.rs
Owners: @d3zd3z

bootutil: swap-move: Avoid rewriting the secondary trailer on revert
  boot/bootutil/src/bootutil_misc.h
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

zephyr: Fix TLV area was included in trailer size when rounding up
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

zephyr: Fix trailer size computation for swap-scratch
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

bootutil: Fix crash when bootutil_sha_init() is called in loop
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

docs: Add contributing guideline
  docs/contributing.md
  docs/index.md
Owners: @d3zd3z

docs: Add current version to docs
  docs/index.md
Owners: @d3zd3z

zephyr: Fix trailer size computation for swap-scratch
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

zephyr: Fix TLV area was included in trailer size when rounding up
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: bootutil: swap_offset: Fix maximum application size
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

Revert "zephyr: arm: Update reading the flash image reset vector"
  boot/zephyr/flash_map_extended.c
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: nrf54lm20apdk
  boot/zephyr/boards/nrf54lm20apdk_nrf54lm20a_cpuapp.conf
Owners: @nordicjm, @de-nordic

Revert "zephyr: arm: Update reading the flash image reset vector"
  boot/zephyr/flash_map_extended.c
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

imgtool: dumpinfo.py: use correct define when tlv iterating
  scripts/imgtool/dumpinfo.py
Owners: @d3zd3z

boot: espressif: integrate Espressif Port with Zephyr sysbuild system
  boot/espressif/CMakeLists.txt
  boot/espressif/common.cmake
  boot/espressif/hal/CMakeLists.txt
  boot/espressif/hal/include/esp32c2/sdkconfig.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_assert.h
  boot/espressif/zephyr/CMakeLists.txt
  boot/espressif/zephyr/Kconfig
  boot/espressif/zephyr/include/stubs.h
  boot/espressif/zephyr/prj.conf
  boot/espressif/zephyr/socs/esp32_procpu.conf
  boot/espressif/zephyr/socs/esp32c2.conf
  boot/espressif/zephyr/socs/esp32c3.conf
  boot/espressif/zephyr/socs/esp32c6_hpcore.conf
  boot/espressif/zephyr/socs/esp32s2.conf
  boot/espressif/zephyr/socs/esp32s3_procpu.conf
  docs/release-notes.d/espressif-build-espressif-port-from-zephyros-sysbuild.md
Owners: @almir-okato, @nordicjm, @de-nordic, @d3zd3z

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
