Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

docs: design: Update maximum image size when using swap-move
  docs/design.md
Owners: @d3zd3z

docs: design: Update description of the swap tables
  docs/design.md
Owners: @d3zd3z

docs: release-notes: Add note on unaligned swap-move trailers
  docs/release-notes.d/swap-move-unaligned-trailers.md
Owners: @d3zd3z

boot/zephyr: Use MCUBOOT_RAM_LOAD instead of CONFIG_BOOT_RAM_LOAD
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot/bootutil/ram_load: Add flash area pointer to bootloader state
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/ram_load.c
  boot/zephyr/single_loader.c
  samples/runtime-source/zephyr/hooks/hooks.c
Owners: @davidvincze, @nordicjm, @de-nordic

boot: zephyr: add support for mcx_n9xx_evk
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0.conf
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0_qspi.conf
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0_qspi.overlay
Owners: @nordicjm, @de-nordic

boot/zephyr: nrf54h20dk adaptations
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/include/target.h
Owners: @nordicjm, @de-nordic

boot: bootutil: Fix clash of STRUCT_PACKED definition
  boot/bootutil/include/bootutil/image.h
Owners: @davidvincze

boot: bootutil: Fix clash of STRUCT_PACKED definition
  boot/bootutil/include/bootutil/image.h
Owners: @davidvincze

imgtool: dumpinfo: Avoid exit and use return
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot/zephyr: nrf54h20dk adaptations
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/include/target.h
Owners: @nordicjm, @de-nordic

boot: zephyr: defines FLASH device for external NOR
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32 disco kit
  boot/zephyr/boards/b_u585i_iot02a.conf
  boot/zephyr/boards/b_u585i_iot02a.overlay
  boot/zephyr/boards/stm32f746g_disco.conf
  boot/zephyr/boards/stm32f746g_disco.overlay
  boot/zephyr/boards/stm32h735g_disco.conf
  boot/zephyr/boards/stm32h735g_disco.overlay
  boot/zephyr/boards/stm32h747i_disco_m7.conf
  boot/zephyr/boards/stm32h747i_disco_m7.overlay
  boot/zephyr/boards/stm32h750b_dk.conf
  boot/zephyr/boards/stm32h750b_dk.overlay
  boot/zephyr/boards/stm32h7b3i_dk.conf
  boot/zephyr/boards/stm32h7b3i_dk.overlay
  boot/zephyr/boards/stm32l496g_disco.conf
  boot/zephyr/boards/stm32l496g_disco.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h7s78 disco kit
  boot/zephyr/boards/stm32h7s78_dk.conf
  boot/zephyr/boards/stm32h7s78_dk.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h7s3l8 nucleo
  boot/zephyr/boards/nucleo_h7s3l8.conf
  boot/zephyr/boards/nucleo_h7s3l8.overlay
Owners: @nordicjm, @de-nordic

imgtool: dumpinfo: Avoid exit and use return
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: zephyr: flash_map_extended: Add pointless workaround for clang
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

feat: added fixed signature script option
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

Updates for 2.2.0-rc1 release
  README.md
  docs/release-notes.d/bootutil-enc-hw-keys.md
  docs/release-notes.d/bootutil-image-verification.md
  docs/release-notes.d/compatible-slots.md
  docs/release-notes.d/encrypted-scratch-partition.md
  docs/release-notes.d/espressif-idf-version-checking.md
  docs/release-notes.d/fix-nordic.md
  docs/release-notes.d/fix-ram-load-zephyr-address.md
  docs/release-notes.d/fix-stuck-revert.md
  docs/release-notes.d/fix-zephyr-sysbuild-name.md
  docs/release-notes.d/imgtool_sanity_test.md
  docs/release-notes.d/max-app-size-changes.md
  docs/release-notes.d/serial-recovery-list.md
  docs/release-notes.d/serial-recovery-slot-info.md
  docs/release-notes.d/serial-recovery-var.md
  docs/release-notes.d/swap-using-offset.md
  docs/release-notes.d/zephyr-auto-max-sectors.md
  docs/release-notes.d/zephyr-compression.md
  docs/release-notes.md
  repository.yml
  scripts/imgtool/__init__.py
Owners: @d3zd3z

mynewt: Start watchdog when enable by syscfg
  boot/mynewt/src/main.c
Owners: @kasjer

boot/mynewt: remove redundant mbedtls flag and enable CTR
  boot/boot_serial/test/syscfg.yml
  boot/bootutil/pkg.yml
  ci/mynewt_keys/enc_rsa/pkg.yml
Owners: @nordicjm, @de-nordic, @davidvincze, @d3zd3z

boot: zephyr: flash_map_extended: Add pointless workaround for clang
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

bootutil: swap-scratch: Fix conflicts after support of devices w/o erase
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

mynewt: Start watchdog when enable by syscfg
  boot/mynewt/src/main.c
Owners: @kasjer

boot/mynewt: remove redundant mbedtls flag and enable CTR
  boot/boot_serial/test/syscfg.yml
  boot/bootutil/pkg.yml
  ci/mynewt_keys/enc_rsa/pkg.yml
Owners: @nordicjm, @de-nordic, @davidvincze, @d3zd3z

swap_move: correct appsize calcs and warning
  boot/bootutil/src/swap_move.c
  docs/design.md
Owners: @davidvincze, @d3zd3z

bootutil: swap-scratch: Fix conflicts after support of devices w/o erase
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

swap_move: correct appsize calcs and warning
  boot/bootutil/src/swap_move.c
  docs/design.md
Owners: @davidvincze, @d3zd3z

zephyr: Disable SPI_NOR by default for nrf7002dk/nrf5340/cpuapp
  boot/zephyr/boards/nrf7002dk_nrf5340_cpuapp.conf
Owners: @nordicjm, @de-nordic

boot/zephyr/boards: nrf54h20dk 'iron' board configuration
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
Owners: @nordicjm, @de-nordic

zephyr: Disable SPI_NOR by default for nrf7002dk/nrf5340/cpuapp
  boot/zephyr/boards/nrf7002dk_nrf5340_cpuapp.conf
Owners: @nordicjm, @de-nordic

boot/zephyr/boards: nrf54h20dk 'iron' board configuration
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
Owners: @nordicjm, @de-nordic

Updates for 2.2.0-rc1 release
  README.md
  docs/release-notes.d/bootutil-enc-hw-keys.md
  docs/release-notes.d/bootutil-image-verification.md
  docs/release-notes.d/compatible-slots.md
  docs/release-notes.d/encrypted-scratch-partition.md
  docs/release-notes.d/espressif-idf-version-checking.md
  docs/release-notes.d/fix-nordic.md
  docs/release-notes.d/fix-ram-load-zephyr-address.md
  docs/release-notes.d/fix-stuck-revert.md
  docs/release-notes.d/fix-zephyr-sysbuild-name.md
  docs/release-notes.d/imgtool_sanity_test.md
  docs/release-notes.d/max-app-size-changes.md
  docs/release-notes.d/serial-recovery-list.md
  docs/release-notes.d/serial-recovery-slot-info.md
  docs/release-notes.d/serial-recovery-var.md
  docs/release-notes.d/swap-using-offset.md
  docs/release-notes.d/zephyr-auto-max-sectors.md
  docs/release-notes.d/zephyr-compression.md
  docs/release-notes.md
  repository.yml
  scripts/imgtool/__init__.py
Owners: @d3zd3z

boot: zephyr: Add support for Cortex-R cleanup before final jump
  boot/zephyr/Kconfig
  boot/zephyr/arm_cleanup.c
  boot/zephyr/include/arm_cleanup.h
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: zephyr: Add Cortex-R support
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: espressif: integrate Espressif Port with Zephyr sysbuild system
  boot/espressif/CMakeLists.txt
  boot/espressif/common.cmake
  boot/espressif/hal/CMakeLists.txt
  boot/espressif/hal/include/esp32c2/sdkconfig.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_assert.h
  boot/espressif/zephyr/CMakeLists.txt
  boot/espressif/zephyr/Kconfig
  boot/espressif/zephyr/include/stubs.h
  boot/espressif/zephyr/prj.conf
  boot/espressif/zephyr/socs/esp32_procpu.conf
  boot/espressif/zephyr/socs/esp32c2.conf
  boot/espressif/zephyr/socs/esp32c3.conf
  boot/espressif/zephyr/socs/esp32c6_hpcore.conf
  boot/espressif/zephyr/socs/esp32s2.conf
  boot/espressif/zephyr/socs/esp32s3_procpu.conf
  docs/release-notes.d/espressif-build-espressif-port-from-zephyros-sysbuild.md
Owners: @almir-okato, @nordicjm, @de-nordic, @d3zd3z

docs: release-notes: Add changes for Cortex-R booting
  boot/zephyr/Kconfig
  boot/zephyr/include/arm_cleanup.h
  docs/release-notes.d/add-cortex-r-support-00-basic.md
  docs/release-notes.d/add-cortex-r-support-01-cleanup-core.md
Owners: @nordicjm, @de-nordic, @d3zd3z

boot: bootutil: loader: Add include for flash function
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: zephyr: defines FLASH device for external NOR
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32 disco kit
  boot/zephyr/boards/b_u585i_iot02a.conf
  boot/zephyr/boards/b_u585i_iot02a.overlay
  boot/zephyr/boards/stm32f746g_disco.conf
  boot/zephyr/boards/stm32f746g_disco.overlay
  boot/zephyr/boards/stm32h735g_disco.conf
  boot/zephyr/boards/stm32h735g_disco.overlay
  boot/zephyr/boards/stm32h747i_disco_m7.conf
  boot/zephyr/boards/stm32h747i_disco_m7.overlay
  boot/zephyr/boards/stm32h750b_dk.conf
  boot/zephyr/boards/stm32h750b_dk.overlay
  boot/zephyr/boards/stm32h7b3i_dk.conf
  boot/zephyr/boards/stm32h7b3i_dk.overlay
  boot/zephyr/boards/stm32l496g_disco.conf
  boot/zephyr/boards/stm32l496g_disco.overlay
Owners: @nordicjm, @de-nordic
