Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

boot: zephyr: add support for revert mode with ramload
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

boot/zephyr: Fix SINGLE_APPLICATION_SLOT_RAM_LOAD file inclusion
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

samples: Add a sample for runtime chosen image
  samples/runtime-source/zephyr/README.md
  samples/runtime-source/zephyr/app/CMakeLists.txt
  samples/runtime-source/zephyr/app/boards/frdm_k64f.overlay
  samples/runtime-source/zephyr/app/prj.conf
  samples/runtime-source/zephyr/app/src/main.c
  samples/runtime-source/zephyr/hooks/CMakeLists.txt
  samples/runtime-source/zephyr/hooks/hooks.c
  samples/runtime-source/zephyr/hooks/zephyr/module.yml
  samples/runtime-source/zephyr/sample.conf
Owners: @nordicjm, @de-nordic

boot: Add flash area ID/device ID retrieval hooks
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

boot/bootutil: Get bootloader state
  boot/bootutil/include/bootutil/bootutil.h
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/loader.c
  boot/zephyr/single_loader.c
Owners: @davidvincze, @nordicjm, @de-nordic

samples/runtime-source: Make it buildable on twister
  .github/workflows/zephyr_build.yaml
  boot/zephyr/CMakeLists.txt
  boot/zephyr/sample.yaml
  samples/runtime-source/zephyr/app/sample.yaml
Owners: @d3zd3z, @nordicjm, @de-nordic

boot: New boot_go hook
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/main.c
Owners: @davidvincze, @nordicjm, @de-nordic

boot/bootutil: Make RAM loading methods public
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/ram_load.c
Owners: @davidvincze

bootutil: Allow bypassing ASN.1 encoding for ED25519 key import
  boot/bootutil/src/image_ed25519.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

zephyr: Add Kconfig option CONFIG_BOOT_KEY_IMPORT_BYPASS_ASN
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

bootutil: add BLINFO_FLASH_AREA to report image flash area
  boot/bootutil/include/bootutil/boot_status.h
  boot/bootutil/src/boot_record.c
Owners: @davidvincze

boot: bootutil: Swap offset: Do not fail on header in wrong sector
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: bootutil: loader: Fix issue with stuck revert
  boot/bootutil/src/loader.c
Owners: @davidvincze

docs: release-notes: Add note on fix for revert issue
  docs/release-notes.d/fix-stuck-revert.md
Owners: @d3zd3z

doc: compression format
  docs/compression_format.md
  docs/images/decomp.png
  docs/imgtool.md
Owners: @d3zd3z

doc: compression format
  docs/compression_format.md
  docs/images/decomp.png
  docs/imgtool.md
Owners: @d3zd3z

samples: compression_test
  samples/compression_test/README.txt
  samples/compression_test/independent_cmp.c
Owners: @d3zd3z

scripts: imgtool: pretended encryption flag
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

docs: release-notes: Add note on fix for revert issue
  docs/release-notes.d/fix-stuck-revert.md
Owners: @d3zd3z

boot: bootutil: loader: Fix issue with stuck revert
  boot/bootutil/src/loader.c
Owners: @davidvincze

doc: imgtool: importance of clear flag
  docs/encrypted_images.md
Owners: @d3zd3z

doc: imgtool: importance of clear flag
  docs/encrypted_images.md
Owners: @d3zd3z

boot: bootutil: Use BOOT_IMG_AREA to get boot_loader_state area
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

samples/runtime-source: Make it buildable on twister
  .github/workflows/zephyr_build.yaml
  boot/zephyr/CMakeLists.txt
  boot/zephyr/sample.yaml
  samples/runtime-source/zephyr/app/sample.yaml
Owners: @d3zd3z, @nordicjm, @de-nordic

boot: Add flash area ID/device ID retrieval hooks
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

samples: Add a sample for runtime chosen image
  samples/runtime-source/zephyr/README.md
  samples/runtime-source/zephyr/app/CMakeLists.txt
  samples/runtime-source/zephyr/app/boards/frdm_k64f.overlay
  samples/runtime-source/zephyr/app/prj.conf
  samples/runtime-source/zephyr/app/src/main.c
  samples/runtime-source/zephyr/hooks/CMakeLists.txt
  samples/runtime-source/zephyr/hooks/hooks.c
  samples/runtime-source/zephyr/hooks/zephyr/module.yml
  samples/runtime-source/zephyr/sample.conf
Owners: @nordicjm, @de-nordic

samples: Add a sample for runtime chosen image
  samples/runtime-source/zephyr/README.md
  samples/runtime-source/zephyr/app/CMakeLists.txt
  samples/runtime-source/zephyr/app/boards/frdm_k64f.overlay
  samples/runtime-source/zephyr/app/prj.conf
  samples/runtime-source/zephyr/app/src/main.c
  samples/runtime-source/zephyr/hooks/CMakeLists.txt
  samples/runtime-source/zephyr/hooks/hooks.c
  samples/runtime-source/zephyr/hooks/zephyr/module.yml
  samples/runtime-source/zephyr/sample.conf
Owners: @nordicjm, @de-nordic

boot: Add flash area ID/device ID retrieval hooks
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

samples/runtime-source: Make it buildable on twister
  .github/workflows/zephyr_build.yaml
  boot/zephyr/CMakeLists.txt
  boot/zephyr/sample.yaml
  samples/runtime-source/zephyr/app/sample.yaml
Owners: @d3zd3z, @nordicjm, @de-nordic

boot/bootutil: Get bootloader state
  boot/bootutil/include/bootutil/bootutil.h
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/loader.c
  boot/zephyr/single_loader.c
Owners: @davidvincze, @nordicjm, @de-nordic

boot: New boot_go hook
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/main.c
Owners: @davidvincze, @nordicjm, @de-nordic

boot/bootutil: Make RAM loading methods public
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/ram_load.c
Owners: @davidvincze

boot/zephyr: Fix SINGLE_APPLICATION_SLOT_RAM_LOAD file inclusion
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: bootutil: Use BOOT_IMG_AREA to get boot_loader_state area
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

mynewt: Add flash_sector_get_size
  boot/mynewt/flash_map_backend/include/flash_map_backend/flash_map_backend.h
Owners: @kasjer

bootutil: PSA implementation of x25519 and ed25519 verification
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/pkg.yml
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

zephyr: Enable building ed25519 PSA variant with Zephyr
  boot/bootutil/zephyr/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: Enable MCUBOOT_DEV_WITH_ERASE in other systems
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

zephyr: Use flash_area_flatten in bs_custom_storage_erase
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

bootutil: Add support for devices without erase and reduced erases
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze
