Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

imgtool: handle keys=None without crashing
  scripts/imgtool/image.py
Owners: @d3zd3z

bootutil: Fix signature verification for multi-sig images
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Parse key id for built in keys
  boot/bootutil/include/bootutil/crypto/ecdsa.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/image_validate.c
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

imgtool: Add support for multiple signatures
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: Add extra TLV support for image binding
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: add image binding TLV support
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/image_validate.c
  samples/mcuboot_config/mcuboot_config.template.h
Owners: @davidvincze, @d3zd3z

bootutil: Add platform boot hook after ram load
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/ram_load.c
Owners: @davidvincze

Build: Fix build error when BOOT_IMAGE_NUMBER=1
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: add image binding TLV support
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/image_validate.c
  samples/mcuboot_config/mcuboot_config.template.h
Owners: @davidvincze, @d3zd3z

Build: Fix build error when BOOT_IMAGE_NUMBER=1
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

imgtool: Add extra TLV support for image binding
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Add platform boot hook after ram load
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/ram_load.c
Owners: @davidvincze

sim: Add PSOC Edge E8x device with the new max-align-16 feature
  .github/workflows/sim.yaml
  sim/Cargo.toml
  sim/mcuboot-sys/Cargo.toml
  sim/mcuboot-sys/build.rs
  sim/src/image.rs
  sim/src/lib.rs
Owners: @d3zd3z

boot: zephyr: Kconfig: Add Zephyr KConfig to build PSA APIs for RSA sigverify
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: Do not select RSA key exchange in BOOT_SIGNATURE_TYPE_RSA
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: Do not select RSA key exchange in BOOT_SIGNATURE_TYPE_RSA
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: bootutil: loader: Add error codes to log messages
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: socs: esp32h2: add default .conf file
  boot/zephyr/socs/esp32h2.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boot_serial_extension: Remove include
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

boot: zephyr: sysbuild: cmake: Rework sysbuild hooks
  boot/zephyr/sysbuild/CMakeLists.txt
Owners: @nordicjm, @de-nordic

docs: release-notes: Add note on zephyr sysbuild rework
  docs/release-notes.d/zephyr-sysbuild-hooks.md
Owners: @d3zd3z

docs: design: Fix TLV type size
  docs/design.md
Owners: @d3zd3z

bootutil: Readd AES-CTR PSA APIs after being removed due to refactoring
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/include/bootutil/crypto/aes_ctr_psa.h
Owners: @davidvincze

zephyr: socs: esp32h2: add default .conf file
  boot/zephyr/socs/esp32h2.conf
Owners: @nordicjm, @de-nordic

samples: zephyr: Remove hello-world
  samples/zephyr/hello-world/CMakeLists.txt
  samples/zephyr/hello-world/README.rst
  samples/zephyr/hello-world/boards/.gitignore
  samples/zephyr/hello-world/boards/README.rst
  samples/zephyr/hello-world/prj.conf
  samples/zephyr/hello-world/sample.yaml
  samples/zephyr/hello-world/src/Makefile
  samples/zephyr/hello-world/src/main.c
  samples/zephyr/hello-world/sysbuild.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: Add ECDSA support using mbedTLS
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Misc. tidy
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Fix options being out of menu
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

ext: nrf: cc310_glue: Fix include path
  ext/nrf/cc310_glue.h
Owners: @d3zd3z

boot: zephyr: cmake: Fix multitude of issues
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: zephyr: boot_serial_extension: Remove include
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Fix options being out of menu
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

ext: nrf: cc310_glue: Fix include path
  ext/nrf/cc310_glue.h
Owners: @d3zd3z

boot: zephyr: kconfig: Misc. tidy
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: cmake: Fix multitude of issues
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: bootutil: loader: Add error codes to log messages
  boot/bootutil/src/loader.c
Owners: @davidvincze

docs: design: Fix TLV type size
  docs/design.md
Owners: @d3zd3z

boot: zephyr: sysbuild: cmake: Rework sysbuild hooks
  boot/zephyr/sysbuild/CMakeLists.txt
Owners: @nordicjm, @de-nordic

docs: release-notes: Add note on zephyr sysbuild rework
  docs/release-notes.d/zephyr-sysbuild-hooks.md
Owners: @d3zd3z

boot: zephyr: Replace swap offset with swap move in Kconfig fragment
  boot/zephyr/sample.yaml
  boot/zephyr/swap_move.conf
  boot/zephyr/swap_offset.conf
Owners: @nordicjm, @de-nordic

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
