Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

bootutil: Improve defines in PSA encryption source
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: Remove BOOTUTIL_CRYPTO_AES_CTR_KEY_SIZE
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
Owners: @nordicjm, @de-nordic, @davidvincze

bootutil: Improve HKDF code
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

doc: Add information on supporting SHA512 wieh ECIES-X25519
  docs/encrypted_images.md
Owners: @d3zd3z

zephyr: Support for HKDF/HMAC with SHA512
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Add support for HAMC-SHA512 with ECIES-X25519
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

imgtool: Add support for HMAC/HKDF-SHA512 with ECIES-X25519
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Improve HKDF code
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: Add support for HAMC-SHA512 with ECIES-X25519
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

doc: Add information on supporting SHA512 wieh ECIES-X25519
  docs/encrypted_images.md
Owners: @d3zd3z

zephyr: Support for HKDF/HMAC with SHA512
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

imgtool: Add support for HMAC/HKDF-SHA512 with ECIES-X25519
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: fix verify tlv offset before main scan
  scripts/imgtool/image.py
Owners: @d3zd3z

bootutil: Parse key id for built in keys
  boot/bootutil/include/bootutil/crypto/ecdsa.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/image_validate.c
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

imgtool: Add support for multiple signatures
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Add support for multi-sign of same type
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/image_multi_sig.c
Owners: @davidvincze

boot/zephyr/main: fix placement of pointer to arm vector
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

.github/workflows: update west initialization module
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

boot/zephyr/main: fix placement of pointer to arm vector
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

.github/workflows: update west initialization module
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

bootutil: Cut down allowed TLV list
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Support for MCUBOOT_BYPASS_KEY_MATCH
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Improve logging coverage
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze

zephyr: Improve logging
  boot/zephyr/firmware_loader.c
  boot/zephyr/main.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic

zephyr: Add CONFIG_BOOT_BYPASS_KEY_MATCH
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

imgtool: Rename key-ids to psa-key-ids
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: zephyr: defines FLASH device for external NOR
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32 disco kit
  boot/zephyr/boards/b_u585i_iot02a.conf
  boot/zephyr/boards/b_u585i_iot02a.overlay
  boot/zephyr/boards/stm32h750b_dk.conf
Owners: @nordicjm, @de-nordic

bootutil: Cut down allowed TLV list
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

imgtool: fix verify tlv offset before main scan
  scripts/imgtool/image.py
Owners: @d3zd3z

boot: Switch to picolibc
  boot/zephyr/prj.conf
  boot/zephyr/socs/esp32_procpu.conf
  boot/zephyr/socs/esp32c2.conf
  boot/zephyr/socs/esp32c3.conf
  boot/zephyr/socs/esp32c6.conf
  boot/zephyr/socs/esp32s2.conf
  boot/zephyr/socs/esp32s3_procpu.conf
Owners: @nordicjm, @de-nordic

sim: Fix largest image computation for swap-move and swap-offset
  sim/src/image.rs
Owners: @d3zd3z

boot: bootutil: swap-offset: Fix image size check during validation
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

boot: bootutil: Fix max image size computation for swap-move/swap-offset
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

sim: Use largest image for all upgrade strategies
  sim/src/image.rs
Owners: @d3zd3z

sim: Enable oversized_secondary_slot test with max-align-32
  sim/tests/core.rs
Owners: @d3zd3z

doc: Add information on supporting SHA512 wieh ECIES-X25519
  docs/encrypted_images.md
Owners: @d3zd3z

bootutil: Add support for HAMC-SHA512 with ECIES-X25519
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

zephyr: Support for HKDF/HMAC with SHA512
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

imgtool: Add support for HMAC/HKDF-SHA512 with ECIES-X25519
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
