Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

boot: zephyr: Add support for Cortex-R cleanup before final jump
  boot/zephyr/Kconfig
  boot/zephyr/arm_cleanup.c
  boot/zephyr/include/arm_cleanup.h
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add changes for Cortex-R booting
  docs/release-notes.d/add-cortex-r-support-00-basic.md
  docs/release-notes.d/add-cortex-r-support-01-cleanup-core.md
Owners: @d3zd3z

boot: zephyr: Add support for Cortex-R cleanup before final jump
  boot/zephyr/Kconfig
  boot/zephyr/arm_cleanup.c
  boot/zephyr/include/arm_cleanup.h
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add changes for Cortex-R booting
  docs/release-notes.d/add-cortex-r-support-00-basic.md
  docs/release-notes.d/add-cortex-r-support-01-cleanup-core.md
Owners: @d3zd3z

boot: bootutil: Fix encryption/decryption size during copy
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: loader: overwrite-only mode fix for trailer erase
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: Switch to picolibc
  boot/zephyr/prj.conf
  boot/zephyr/socs/esp32_procpu.conf
  boot/zephyr/socs/esp32c2.conf
  boot/zephyr/socs/esp32c3.conf
  boot/zephyr/socs/esp32c6.conf
  boot/zephyr/socs/esp32s2.conf
  boot/zephyr/socs/esp32s3_procpu.conf
Owners: @nordicjm, @de-nordic

bootutil: Fix boot_scramble_region escaping flash area
  boot/bootutil/src/loader.c
  docs/release-notes.d/fix-boot-scramble-region.md
Owners: @davidvincze, @d3zd3z

zephyr: Improve logging
  boot/zephyr/firmware_loader.c
  boot/zephyr/main.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic

bootutil: Improve logging coverage
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze

boot: zephyr: Refactor DFU entry logic
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

bootutil: loader: overwrite-only mode fix for trailer erase
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Fix boot_scramble_region escaping flash area
  boot/bootutil/src/loader.c
  docs/release-notes.d/fix-boot-scramble-region.md
Owners: @davidvincze, @d3zd3z

bootutil: boot_decrypt_key: Only one bootutil_hmac_sha256_drop needed
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: Small cleanup in image.h
  boot/bootutil/include/bootutil/image.h
Owners: @davidvincze

bootutil: Remove redundant ALIGN definitions
  boot/bootutil/include/bootutil/bootutil_public.h
Owners: @davidvincze

bootutil: Move all encryption TLV helper identifiers into one place
  boot/bootutil/include/bootutil/bootutil_macros.h
  boot/bootutil/include/bootutil/crypto/rsa.h
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: Replace local identifiers with common definitions
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

zephyr: Support for HKDF/HMAC with SHA512
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Add support for HAMC-SHA512 with ECIES-X25519
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

imgtool: Add support for HMAC/HKDF-SHA512 with ECIES-X25519
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

doc: Add information on supporting SHA512 with ECIES-X25519
  docs/encrypted_images.md
Owners: @d3zd3z

Hkdf uses size_t
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

Decrypt_key: One context, common defs
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: Enc uses one context type for key exchange
  boot/bootutil/include/bootutil/crypto/ecdh_p256.h
  boot/bootutil/include/bootutil/crypto/ecdh_x25519.h
  boot/bootutil/include/bootutil/crypto/rsa.h
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

boot: zephyr: Refactor DFU entry logic
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

bootutil: Small cleanup in image.h
  boot/bootutil/include/bootutil/image.h
Owners: @davidvincze

bootutil: Enc uses one context type for key exchange
  boot/bootutil/include/bootutil/crypto/ecdh_p256.h
  boot/bootutil/include/bootutil/crypto/ecdh_x25519.h
  boot/bootutil/include/bootutil/crypto/rsa.h
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

loader: Allow to specify slot number in version
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

zephyr: Fix pinreset trigger
  boot/zephyr/io.c
Owners: @nordicjm, @de-nordic

scripts: imgtool: Add hash for ECDSA256P1Public
  scripts/imgtool/image.py
Owners: @d3zd3z

zephyr: Fix pinreset trigger
  boot/zephyr/io.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add notes on fixes
  docs/release-notes.d/click.md
  docs/release-notes.d/imgtool-compression-header-fix.md
  docs/release-notes.d/picolibc.md
  docs/release-notes.d/trailer-fixes.md
  docs/release-notes.d/zephyr-pinreset-trigger.md
Owners: @d3zd3z

scripts: imgtool: Add hash for ECDSA256P1Public
  scripts/imgtool/image.py
Owners: @d3zd3z

docs: release-notes: Add notes on fixes
  docs/release-notes.d/click.md
  docs/release-notes.d/imgtool-compression-header-fix.md
  docs/release-notes.d/picolibc.md
  docs/release-notes.d/trailer-fixes.md
  docs/release-notes.d/zephyr-pinreset-trigger.md
Owners: @d3zd3z

boot: zephyr: defines FLASH device for external NOR
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: Add configuration for stm32n6570_dk
  boot/zephyr/boards/stm32n6570_dk.conf
  boot/zephyr/boards/stm32n6570_dk_stm32n657xx.overlay
Owners: @nordicjm, @de-nordic

boot: stm32n6: Define specific executable region
  boot/zephyr/CMakeLists.txt
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/ram_load.c
Owners: @nordicjm, @de-nordic

espressif: fix build if hal_espressif is used as HAL layer for Espressif Port
  boot/espressif/CMakeLists.txt
  boot/espressif/hal/include/stubs.h
  boot/espressif/hal/include/zephyr_compat.h
Owners: @almir-okato

espressif: add forced aligned flash erase
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
