Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

bootutil: PureEdDSA using ED25519
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_validate.c
  docs/design.md
Owners: @davidvincze, @d3zd3z

bootutil: Allow SHA512 with TinyCrypt
  boot/bootutil/include/bootutil/crypto/sha.h
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

boot: bootutil: Refactor some functions to have state
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/mynewt/src/single_loader.c
  boot/zephyr/firmware_loader.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic, @davidvincze, @kasjer

docs: design: Add information on swap using offset mode
  docs/design.md
Owners: @d3zd3z

boot: bootutil: Add swap using offset algorithm
  boot/bootutil/include/bootutil/boot_status.h
  boot/bootutil/include/bootutil/bootutil.h
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/include/bootutil/caps.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/boot_record.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/caps.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze

sim: Add swap using offset to tests
  .github/workflows/sim.yaml
  sim/Cargo.toml
  sim/mcuboot-sys/Cargo.toml
  sim/mcuboot-sys/build.rs
  sim/src/caps.rs
  sim/src/image.rs
  sim/src/lib.rs
Owners: @d3zd3z

sim: Fix wrong usage of pointer
  sim/mcuboot-sys/csupport/run.c
Owners: @d3zd3z

sim: mcuboot-sys: Add support for limited sector size information
  sim/mcuboot-sys/csupport/run.c
Owners: @d3zd3z

zephyr: Add support for swap using offset mode
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/include/sysflash/sysflash.h
  boot/zephyr/sample.yaml
  boot/zephyr/swap_offset.conf
Owners: @nordicjm, @de-nordic

docs: release-notes: Add note on new swap using offset mode
  docs/release-notes.d/swap-using-offset.md
Owners: @d3zd3z

boot: bootutil: loader: Fix some comments
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: boot_serial: Add support for swap using offset mode
  boot/boot_serial/include/boot_serial/boot_serial_encryption.h
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
Owners: @nordicjm, @de-nordic, @davidvincze

sim: Add swap using offset to tests
  .github/workflows/sim.yaml
  sim/Cargo.toml
  sim/mcuboot-sys/Cargo.toml
  sim/mcuboot-sys/build.rs
  sim/src/caps.rs
  sim/src/image.rs
  sim/src/lib.rs
Owners: @d3zd3z

zephyr: Add support for swap using offset mode
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/include/sysflash/sysflash.h
  boot/zephyr/sample.yaml
  boot/zephyr/swap_offset.conf
Owners: @nordicjm, @de-nordic

boot: bootutil: Refactor some functions to have state
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/mynewt/src/single_loader.c
  boot/zephyr/firmware_loader.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic, @davidvincze, @kasjer

docs: release-notes: Add note on new swap using offset mode
  docs/release-notes.d/swap-using-offset.md
Owners: @d3zd3z

boot: bootutil: Add swap using offset algorithm
  boot/bootutil/include/bootutil/boot_status.h
  boot/bootutil/include/bootutil/bootutil.h
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/include/bootutil/caps.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/boot_record.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/caps.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze

docs: design: Add information on swap using offset mode
  docs/design.md
Owners: @d3zd3z

sim: Fix wrong usage of pointer
  sim/mcuboot-sys/csupport/run.c
Owners: @d3zd3z

sim: mcuboot-sys: Add support for limited sector size information
  sim/mcuboot-sys/csupport/run.c
Owners: @d3zd3z

boot: boot_serial: Add support for swap using offset mode
  boot/boot_serial/include/boot_serial/boot_serial_encryption.h
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
Owners: @nordicjm, @de-nordic, @davidvincze

boot: bootutil: loader: Fix some comments
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Fix image encryption configuration for mbedTLS.
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

Updated script to automatically encrypt images when enabled
  boot/mbed/CMakeLists.txt
  boot/mbed/mcuboot_imgtool.cmake
Owners: @d3zd3z

doc: compression format
  docs/compression_format.md
  docs/images/decomp.png
Owners: @d3zd3z

bootutil: PSA implementation of x25519 and ed25519 verification
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

zephyr: Enable building ed25519 PSA variant with Zephyr
  boot/bootutil/zephyr/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

Replaced hard coded path to public key with variable set in CMakeLists
  boot/mbed/CMakeLists.txt
  boot/mbed/mcuboot_imgtool.cmake
Owners: @d3zd3z

Updated regexp pattern for header-size and slot-size to accept both hexdecimal and decimal numbers
  boot/mbed/mcuboot_imgtool.cmake
Owners: @d3zd3z

update mbed cmake script to automatically sign & encrypt images
  boot/mbed/CMakeLists.txt
  boot/mbed/mcuboot_imgtool.cmake
Owners: @d3zd3z

updated documentation on imgtool and image encryption
  docs/encrypted_images.md
  docs/imgtool.md
Owners: @d3zd3z

boot: bootutil: swap_offset: Skip erasing/copying empty sectors
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

boot: bootutil: swap_offset: Skip erasing/copying empty sectors
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

zephyr: Add support for devices without erase and reduced erases
  boot/zephyr/Kconfig
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: Enable MCUBOOT_DEV_WITH_ERASE in other systems
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

zephyr: Use flash_area_flatten in bs_custom_storage_erase
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

bootutil: Add support for devices without erase and reduced erases
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze

mynewt: Add flash_sector_get_size
  boot/mynewt/flash_map_backend/include/flash_map_backend/flash_map_backend.h
Owners: @kasjer

bootutil: Adapt swap offset for devices without erase
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

boot: zephyr: add ram_load overlays for nrf52840dk and mimxrt1050_evk boards
  boot/zephyr/boards/mimxrt1050_evk_mimxrt1052_hyperflash_ram_load.overlay
  boot/zephyr/boards/nrf52840dk_nrf52840_ram_load.overlay
Owners: @nordicjm, @de-nordic

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
