Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

Update ecdsa.h
  boot/bootutil/include/bootutil/crypto/ecdsa.h
Owners: @davidvincze

boot: zephyr: boards: add ctcc/nrf52840 and ctcc/nrf9161 targets
  boot/zephyr/boards/ctcc_nrf52840.conf
  boot/zephyr/boards/ctcc_nrf9161.conf
Owners: @nordicjm, @de-nordic

ci: actions/cache v1 has been deprecated, use v4
  .github/workflows/imgtool.yaml
Owners: @d3zd3z

boot: bootutil: loader.c: Add check if has upgrade before pushing state change
  boot/bootutil/src/loader.c
Owners: @davidvincze

ci: actions/cache v1 has been deprecated, use v4
  .github/workflows/imgtool.yaml
Owners: @d3zd3z

boot: bootutil: loader.c: Add check if has upgrade before pushing state change
  boot/bootutil/src/loader.c
Owners: @davidvincze

IAR compiler compatibility break in image.h
  boot/bootutil/include/bootutil/image.h
Owners: @davidvincze

samples: compression_test
  samples/compression_test/README.txt
  samples/compression_test/independent_cmp.c
Owners: @d3zd3z

boot/zephyr/boards: configure fastest RRAM operations
  boot/zephyr/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l15_cpuapp.conf
Owners: @nordicjm, @de-nordic

Align with Trusted Firmware security policy
  docs/SECURITY.md
  docs/release-notes.d/align-security-policy.md
Owners: @d3zd3z

Update Mbed CMakeLists.txt for Mbed CE
  boot/mbed/CMakeLists.txt
  boot/mbed/include/flash_map_backend/flash_map_backend.h
  boot/mbed/mbed_lib.json
  boot/mbed/mcuboot_imgtool.cmake
  boot/mbed/mcuboot_main.cpp
  boot/mbed/src/flash_map_backend.cpp
Owners: @d3zd3z

bootutil: Add support for devices without erase and reduced erases
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze

zephyr: Use flash_area_flatten in bs_custom_storage_erase
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

mynewt: Add flash_sector_get_size
  boot/mynewt/flash_map_backend/include/flash_map_backend/flash_map_backend.h
Owners: @kasjer

zephyr: Add support for devices without erase and reduced erases
  boot/zephyr/Kconfig
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: Enable MCUBOOT_DEV_WITH_ERASE in other systems
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

boot/zephyr/boards: configure fastest RRAM operations
  boot/zephyr/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l15_cpuapp.conf
Owners: @nordicjm, @de-nordic

Update Mbed CMakeLists.txt for Mbed CE
  boot/mbed/CMakeLists.txt
  boot/mbed/include/flash_map_backend/flash_map_backend.h
  boot/mbed/mbed_lib.json
  boot/mbed/mcuboot_imgtool.cmake
  boot/mbed/mcuboot_main.cpp
  boot/mbed/src/flash_map_backend.cpp
Owners: @d3zd3z

boot/bootutil: Split private image API out of image.h
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/image_api_priv.h
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

zephyr: Add imgtool/cbor to pip packages installed by west
  zephyr/module.yml
  zephyr/requirements.txt
Owners: @nordicjm, @de-nordic

Update Mbed CMakeLists.txt for Mbed CE
  boot/mbed/CMakeLists.txt
  boot/mbed/include/flash_map_backend/flash_map_backend.h
  boot/mbed/mbed_lib.json
  boot/mbed/mcuboot_imgtool.cmake
  boot/mbed/mcuboot_main.cpp
  boot/mbed/src/flash_map_backend.cpp
Owners: @d3zd3z

zephyr: update mimx1050 and 1060 platform_allow entries
  boot/zephyr/sample.yaml
Owners: @nordicjm, @de-nordic

zephyr: update mimx1050 and 1060 platform_allow entries
  boot/zephyr/sample.yaml
Owners: @nordicjm, @de-nordic

IAR compiler compatibility break in image.h
  boot/bootutil/include/bootutil/image.h
Owners: @davidvincze

imgtool: Add pure signature support
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: zephyr: boards: add support for M5stack CoreS3/CoreS3SE
  boot/zephyr/boards/m5stack_cores3_esp32s3_procpu.overlay
  boot/zephyr/boards/m5stack_cores3_esp32s3_procpu_se.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: add support for M5stack CoreS3/CoreS3SE
  boot/zephyr/boards/m5stack_cores3_esp32s3_procpu.overlay
  boot/zephyr/boards/m5stack_cores3_esp32s3_procpu_se.overlay
Owners: @nordicjm, @de-nordic

Update Mbed CMakeLists.txt for Mbed CE
  boot/mbed/CMakeLists.txt
  boot/mbed/include/flash_map_backend/flash_map_backend.h
  boot/mbed/include/mcuboot_config/mcuboot_logging.h
  boot/mbed/mbed_lib.json
  boot/mbed/mcuboot_imgtool.cmake
  boot/mbed/mcuboot_main.cpp
  boot/mbed/src/flash_map_backend.cpp
Owners: @d3zd3z

zephyr: Remove scratch from flash_area_id_from_multi_image_slot
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

imgtool: Add pure signature support
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: espressif: add support for upgrade modes w/o scratch
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/src/flash_encrypt.c
  boot/espressif/port/esp32/bootloader-multi.conf
  boot/espressif/port/esp32/bootloader.conf
  boot/espressif/port/esp32c2/bootloader.conf
  boot/espressif/port/esp32c3/bootloader.conf
  boot/espressif/port/esp32c6/bootloader.conf
  boot/espressif/port/esp32h2/bootloader.conf
  boot/espressif/port/esp32s2/bootloader.conf
  boot/espressif/port/esp32s3/bootloader-multi.conf
  boot/espressif/port/esp32s3/bootloader.conf
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

boot: espressif: add support for upgrade modes w/o scratch
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/src/flash_encrypt.c
  boot/espressif/port/esp32/bootloader-multi.conf
  boot/espressif/port/esp32/bootloader.conf
  boot/espressif/port/esp32c2/bootloader.conf
  boot/espressif/port/esp32c3/bootloader.conf
  boot/espressif/port/esp32c6/bootloader.conf
  boot/espressif/port/esp32h2/bootloader.conf
  boot/espressif/port/esp32s2/bootloader.conf
  boot/espressif/port/esp32s3/bootloader-multi.conf
  boot/espressif/port/esp32s3/bootloader.conf
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: fix missing macro for esp32s3 XMC flash support
  boot/espressif/hal/include/esp32s3/sdkconfig.h
Owners: @almir-okato

espressif: update readme-espressif.md documentation
  docs/readme-espressif.md
Owners: @d3zd3z

espressif: add checking for supported IDF version
  boot/espressif/CMakeLists.txt
  boot/espressif/tools/utils.cmake
  ci/espressif_install.sh
  docs/release-notes.d/espressif-idf-version-checking.md
Owners: @almir-okato, @d3zd3z

boot: bootutil: Add TLV for size of compressed but decrypted image
  boot/bootutil/include/bootutil/image.h
Owners: @davidvincze

Update Mbed CMakeLists.txt for Mbed CE
  boot/mbed/CMakeLists.txt
  boot/mbed/include/flash_map_backend/flash_map_backend.h
  boot/mbed/include/mcuboot_config/mcuboot_logging.h
  boot/mbed/mbed_lib.json
  boot/mbed/mcuboot_imgtool.cmake
  boot/mbed/mcuboot_main.cpp
  boot/mbed/src/flash_map_backend.cpp
Owners: @d3zd3z

boot: bootutil: Add TLV for size of compressed but decrypted image
  boot/bootutil/include/bootutil/image.h
Owners: @davidvincze

scripts: imgtool: fix compression with encryption
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

espressif: fix missing macro for esp32s3 XMC flash support
  boot/espressif/hal/include/esp32s3/sdkconfig.h
Owners: @almir-okato

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
