Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

bootutil: Replace boot_write_enc_key with boot_write_enc_keys
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

bootutil: Replace literal slot indexes with identifiers
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/loader.c
Owners: @nordicjm, @de-nordic, @davidvincze

bootutil: Add boot_load_and_validate_images_hook
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/hooks_sample.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

bootutil: Expose validate_slot and version_cmp
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: Add MCUboot manifest TLV
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/mcuboot_manifest.h
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_validate.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

imgtool: Add a possibility to attach manifest TLV
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: bootutil: Update sector count calculation for swap offset
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

boot: zephyr: Allow disabling default multiple RAM region file
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/ram_load.c
Owners: @nordicjm, @de-nordic

Revert "loader: Allow to specify slot number in version"
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
  docs/imgtool.md
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

bootutil: Replace boot_write_enc_key with boot_write_enc_keys
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: bootutil: swap_offset: Fix not including unprotected TLVs
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_misc.h
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

docs: design: Add update on swap using offset
  docs/design.md
Owners: @d3zd3z

docs: release-notes: Add note on swap offset fix
  docs/release-notes.d/swap-offset.md
Owners: @d3zd3z

boot: bootutil: swap_offset: Fix not including unprotected TLVs
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_misc.h
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

docs: release-notes: Add note on swap offset fix
  docs/release-notes.d/swap-offset.md
Owners: @d3zd3z

docs: design: Add update on swap using offset
  docs/design.md
Owners: @d3zd3z

Revert "loader: Allow to specify slot number in version"
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
  docs/imgtool.md
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

boot: zephyr: boards: add stm32h573i_dk_stm32h573xx_ext_flash_app overlay
  boot/zephyr/boards/stm32h573i_dk_stm32h573xx_ext_flash_app.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: stm32h573i_dk: remove conf file
  boot/zephyr/boards/stm32h573i_dk.conf
Owners: @nordicjm, @de-nordic

bootutil: boot_enc_set_key does not need to know boot_status
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
Owners: @nordicjm, @de-nordic, @davidvincze

boot: zephyr: rework stm32h750b_dk board overlay & conf
  boot/zephyr/boards/stm32h750b_dk.conf
  boot/zephyr/socs/stm32h750xx_ext_flash_app.conf
  boot/zephyr/socs/stm32h750xx_ext_flash_app.overlay
Owners: @nordicjm, @de-nordic

bootutil: Drop slot number and boot_state from most boot_enc functions
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
Owners: @nordicjm, @de-nordic, @davidvincze

boot: zephyr: rework stm32h750b_dk board overlay & conf
  boot/zephyr/boards/stm32h750b_dk.conf
  boot/zephyr/socs/stm32h750xx_ext_flash_app.conf
  boot/zephyr/socs/stm32h750xx_ext_flash_app.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: socs: add overlay & conf for stm32h573xx_ext_flash_app
  boot/zephyr/boards/stm32h573i_dk.conf
  boot/zephyr/socs/stm32h573xx_ext_flash_app.conf
  boot/zephyr/socs/stm32h573xx_ext_flash_app.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: sysbuild: fix Kconfig option leak
  boot/zephyr/sysbuild/CMakeLists.txt
Owners: @nordicjm, @de-nordic

bootutil: Drop slot number and boot_state from most boot_enc functions
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
Owners: @nordicjm, @de-nordic, @davidvincze

boot: zephyr: boards: remove nrf54h20dk overlay
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: remove nrf54h20dk overlay
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Owners: @nordicjm, @de-nordic

zephyr: remove NRFX_WDT instance symbols
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: mcuboot_config: align nrfx_wdt usage
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Conditionally include mbedtls/ oid.h, asn1.h
  boot/bootutil/include/bootutil/crypto/ecdsa.h
Owners: @davidvincze

boot: zephyr: socs: stm32h7s7xx: Add support for ext_flash_app variant
  boot/zephyr/boards/stm32h7s78_dk.conf
  boot/zephyr/socs/stm32h7s7xx_ext_flash_app.conf
  boot/zephyr/socs/stm32h7s7xx_ext_flash_app.overlay
Owners: @nordicjm, @de-nordic

scripts: Fix ruff issues
  ci/fih_test_docker/damage_image.py
  ci/fih_test_docker/generate_test_report.py
  ci/get_features.py
  scripts/assemble.py
  scripts/imgtool/boot_record.py
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/main.py
Owners: @d3zd3z

scripts: Fix ruff issues
  ci/fih_test_docker/damage_image.py
  ci/fih_test_docker/generate_test_report.py
  ci/get_features.py
  scripts/assemble.py
  scripts/imgtool/boot_record.py
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/main.py
Owners: @d3zd3z

workflow: Add ruff workflow
  .github/workflows/ruff.yaml
Owners: @d3zd3z

ruff: Add ruff configuration file
  .ruff.toml
Owners: @d3zd3z

bootutil: Conditionally include mbedtls/ oid.h, asn1.h
  boot/bootutil/include/bootutil/crypto/ecdsa.h
Owners: @davidvincze

ruff: Add ruff configuration file
  .ruff.toml
Owners: @d3zd3z

workflow: Add ruff workflow
  .github/workflows/ruff.yaml
Owners: @d3zd3z

zephyr implementation
  boot/bootutil/include/bootutil/generate_key_pair.h
  boot/bootutil/src/generate_key_pair.c
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/app.overlay
  boot/zephyr/boards/lora_e5_mini.overlay
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/include/mcuboot_config/mcuboot_rng.h
  boot/zephyr/include/rng_stm32.h
  boot/zephyr/main.c
  boot/zephyr/prj.conf
  boot/zephyr/rng_stm32.c
Owners: @davidvincze, @nordicjm, @de-nordic

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
