Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

bootutil: Add manifest-based loader for Direct XIP
  boot/bootutil/CMakeLists.txt
  boot/bootutil/src/loader.c
  boot/bootutil/src/loader_manifest_xip.c
  boot/zephyr/CMakeLists.txt
Owners: @davidvincze, @nordicjm, @de-nordic

bootutil: Provide support for embedded AES keys
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/bootutil_loader.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/loader.c
  boot/mynewt/src/single_loader.c
Owners: @nordicjm, @de-nordic, @davidvincze, @kasjer

zephyr: Add support for embedded AES key
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/templates/single_builtin_aes_key_provider.c.template
Owners: @nordicjm, @de-nordic

imgtool: Temporary workaround for entanglement with TF-M.
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: Add support for encrypting image with raw AES key
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

zephyr: Fix BOOT_DOWNGRADE_PREVENTION_CHOICE symbol
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

rust: Make workspace more convenient with default
  Cargo.toml
Owners: @d3zd3z

docs: release-notes: notes on vscode improvements
  docs/release-notes.d/vscode.md
Owners: @d3zd3z

gitignore: Ignore some files related to vscode
  .gitignore
Owners: @d3zd3z

remove overlay
  boot/zephyr/boards/lora_e5_mini.overlay
Owners: @nordicjm, @de-nordic

remove usseless prj
  boot/zephyr/prj.conf
Owners: @nordicjm, @de-nordic

minor change
  boot/zephyr/app.overlay
  ext/mbedtls-asn1/include/mbedtls/mbedtls_config.h
Owners: @nordicjm, @de-nordic, @d3zd3z

minor change
  boot/zephyr/app.overlay
Owners: @nordicjm, @de-nordic

mbedtls
  boot/zephyr/mbedtls.conf
Owners: @nordicjm, @de-nordic

marktdown
  docs/key_generation.md
Owners: @d3zd3z

updates for 2.3.0-rc1 release
  README.md
  docs/release-notes.d/add-cortex-r-support-00-basic.md
  docs/release-notes.d/add-cortex-r-support-01-cleanup-core.md
  docs/release-notes.d/align-security-policy.md
  docs/release-notes.d/click.md
  docs/release-notes.d/enable-ram-load-revert.md
  docs/release-notes.d/espressif-fix-fw-update-with-hw-flash-encryption-enabled
  docs/release-notes.d/espressif-move-virtual-efuse-offset-config.md
  docs/release-notes.d/fix-boot-scramble-region.md
  docs/release-notes.d/fix-direct-hash-base-address.md
  docs/release-notes.d/fix-pure-eddsa-base-address.md
  docs/release-notes.d/fix-serial-recovery-progressive-erase.md
  docs/release-notes.d/imgtool-compression-header-fix.md
  docs/release-notes.d/minimal-erase-swap-offset.md
  docs/release-notes.d/picolibc.md
  docs/release-notes.d/single-slot-fixes.md
  docs/release-notes.d/swap-offset.md
  docs/release-notes.d/tlv-allow-list.md
  docs/release-notes.d/trailer-fixes.md
  docs/release-notes.d/vscode.md
  docs/release-notes.d/zephyr-bootutil-max-align.md
  docs/release-notes.d/zephyr-pinreset-trigger.md
  docs/release-notes.md
  repository.yml
  scripts/imgtool/__init__.py
Owners: @d3zd3z

zephyr: Fix BOOT_DOWNGRADE_PREVENTION_CHOICE symbol
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: stm32n657xx: Move overlay to socs
  boot/zephyr/socs/stm32n657xx_fsbl.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: Remove BOOT_MAX_IMG settings
  boot/zephyr/socs/stm32n657xx_fsbl.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: deprecate MBEDTLS_MD
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

updates for 2.3.0-rc1 release
  README.md
  docs/release-notes.d/add-cortex-r-support-00-basic.md
  docs/release-notes.d/add-cortex-r-support-01-cleanup-core.md
  docs/release-notes.d/align-security-policy.md
  docs/release-notes.d/click.md
  docs/release-notes.d/enable-ram-load-revert.md
  docs/release-notes.d/espressif-fix-fw-update-with-hw-flash-encryption-enabled
  docs/release-notes.d/espressif-move-virtual-efuse-offset-config.md
  docs/release-notes.d/fix-boot-scramble-region.md
  docs/release-notes.d/fix-direct-hash-base-address.md
  docs/release-notes.d/fix-pure-eddsa-base-address.md
  docs/release-notes.d/fix-serial-recovery-progressive-erase.md
  docs/release-notes.d/imgtool-compression-header-fix.md
  docs/release-notes.d/minimal-erase-swap-offset.md
  docs/release-notes.d/picolibc.md
  docs/release-notes.d/single-slot-fixes.md
  docs/release-notes.d/swap-offset.md
  docs/release-notes.d/tlv-allow-list.md
  docs/release-notes.d/trailer-fixes.md
  docs/release-notes.d/vscode.md
  docs/release-notes.d/zephyr-bootutil-max-align.md
  docs/release-notes.d/zephyr-pinreset-trigger.md
  docs/release-notes.md
  repository.yml
  scripts/imgtool/__init__.py
Owners: @d3zd3z

boot: zephyr: deprecate MBEDTLS_MD
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: avoid increasing rollback counter during RAM load FW update
  boot/bootutil/src/loader.c
Owners: @davidvincze

iar: Avoid using double colons when defining labels
  boot/bootutil/include/bootutil/fault_injection_hardening.h
Owners: @davidvincze

iar: Avoid using double colons when defining labels
  boot/bootutil/include/bootutil/fault_injection_hardening.h
Owners: @davidvincze

restore module
  zephyr/module.yml
Owners: @nordicjm, @de-nordic

iar: Avoid using double colons when defining labels
  boot/bootutil/include/bootutil/fault_injection_hardening.h
Owners: @davidvincze

iar: Avoid using double colons when defining labels
  boot/bootutil/include/bootutil/fault_injection_hardening.h
Owners: @davidvincze

imgtool: Temporary workaround for entanglement with TF-M.
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

zephyr: Add support for embedded AES key
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/templates/single_builtin_aes_key_provider.c.template
Owners: @nordicjm, @de-nordic

bootutil: Provide support for embedded AES keys
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/bootutil_loader.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/loader.c
  boot/mynewt/src/single_loader.c
Owners: @nordicjm, @de-nordic, @davidvincze, @kasjer

imgtool: Add support for encrypting image with raw AES key
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

design: Fix UUID TLVs
  docs/design.md
Owners: @d3zd3z

boot: Add MCUboot manifest TLV
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/mcuboot_manifest.h
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/mcuboot_manifest.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

doc: Add manifest conceptual description
  docs/design.md
Owners: @d3zd3z

bootutil: Add manifest-based loader for Direct XIP
  boot/bootutil/CMakeLists.txt
  boot/bootutil/src/loader.c
  boot/bootutil/src/loader_manifest_xip.c
  boot/zephyr/CMakeLists.txt
Owners: @davidvincze, @nordicjm, @de-nordic

imgtool: Add a possibility to attach manifest TLV
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: zephyr: socs: stm32h7s3xx: Add support for ext_flash_app variant
  boot/zephyr/boards/nucleo_h7s3l8.conf
  boot/zephyr/socs/stm32h7s3xx_ext_flash_app.conf
  boot/zephyr/socs/stm32h7s3xx_ext_flash_app.overlay
Owners: @nordicjm, @de-nordic

boot: espressif: Fix build problem with mbedtls
  boot/espressif/CMakeLists.txt
Owners: @almir-okato

fix(bootutil): correct copy size when bootstrapping and swapping with MOVE
  boot/bootutil/src/loader.c
  docs/release-notes.d/fix-copy-size-swap-move-bootstrapping.md
Owners: @davidvincze, @d3zd3z
