Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

imgtool: python version coverage
  .github/workflows/imgtool.yaml
  scripts/imgtool/keys/general.py
  scripts/setup.py
Owners: @d3zd3z

bootutil: fix implicit fallthrough warning in boot_set_next
  boot/bootutil/src/bootutil_public.c
Owners: @davidvincze

boot: zephyr: add ESP32-C5 support
  boot/zephyr/socs/esp32c5_hpcore.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: add ESP32-P4 support
  boot/zephyr/socs/esp32p4_hpcore.conf
Owners: @nordicjm, @de-nordic

Version bump for v2.4.0
  README.md
  boot/zephyr/VERSION
  docs/index.md
  repository.yml
Owners: @d3zd3z, @nordicjm, @de-nordic

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
