Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

boot: Reuse pointers for flash_area objects from state
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: zephyr: add support for revert mode with ramload
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

doc: update documentation for mcuboot to document ram-load with revert
  docs/design.md
  docs/release-notes.d/enable-ram-load-revert.md
Owners: @d3zd3z

zephyr: fix Mbed TLS configuration header file selection
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/prj.conf
Owners: @nordicjm, @de-nordic

sim: Add device with larger sectors in slot 0 than in slot 1
  sim/src/image.rs
  sim/src/lib.rs
Owners: @d3zd3z

boot: bootutil: Fix invalid last sector computation for swap-scratch
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: espressif: reorganize cmake build script file
  boot/espressif/CMakeLists.txt
Owners: @almir-okato

Add option to use a counter to choose which slot to boot for RAM load/direct XIP rather than relying on version number comparison
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: fix Mbed TLS configuration header file selection
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/prj.conf
Owners: @nordicjm, @de-nordic

boot: bootutil: Fix scratch trailer overwritten if image trailer is large
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

sim: Avoid assuming trailer is sector-aligned for swap-scratch + max-align-32
  sim/mcuboot-sys/src/area.rs
  sim/src/image.rs
Owners: @d3zd3z

boot: bootutil: Fix underflow in swap-scratch when trailer is large
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: bootutil: Take into account scratch trailer when computing max image size
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: bootutil: Ensure the whole trailer is erased when it is large
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: Reuse pointers for flash_area objects from state
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: zephyr: boards: Add frdm-mcxn236 configuration
  boot/zephyr/boards/frdm_mcxn236.conf
Owners: @nordicjm, @de-nordic

docs: table formatting fix
  docs/design.md
Owners: @d3zd3z

boot: zephyr: boards: Add frdm-mcxn236 configuration
  boot/zephyr/boards/frdm_mcxn236.conf
Owners: @nordicjm, @de-nordic

boot: Additional flash_area_open removals
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: espressif: integrate Espressif Port with Zephyr sysbuild system
  boot/espressif/CMakeLists.txt
  boot/espressif/Kconfig
  boot/espressif/hal/CMakeLists.txt
  boot/espressif/prj.conf
  boot/espressif/zephyr/socs/esp32.conf
  boot/espressif/zephyr/socs/esp32c2.conf
  boot/espressif/zephyr/socs/esp32c3.conf
  boot/espressif/zephyr/socs/esp32c6.conf
  boot/espressif/zephyr/socs/esp32s2.conf
  boot/espressif/zephyr/socs/esp32s3.conf
  boot/espressif/zephyr/zephyr.cmake
Owners: @almir-okato, @nordicjm, @de-nordic

boot: zephyr: add ram_load overlays for nrf52840dk and mimxrt1050_evk boards
  boot/zephyr/boards/mimxrt1050_evk_mimxrt1052_hyperflash_ram_load.overlay
  boot/zephyr/boards/nrf52840dk_nrf52840_ram_load.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: add support for revert mode with ramload
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

doc: update documentation for mcuboot to document ram-load with revert
  docs/design.md
  docs/release-notes.d/enable-ram-load-revert.md
Owners: @d3zd3z

bootutil: Fix ASN1 bypass not building
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

zephyr: Do not compile ASN1 code when bypassed
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

zephyr: Prevent selecting MBEDTLS_ASN1_PARSE_C when not needed
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: Additional flash_area_open removals
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

zephyr: Prevent selecting MBEDTLS_ASN1_PARSE_C when not needed
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

bootutil: Fix ASN1 bypass not building
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

zephyr: Do not compile ASN1 code when bypassed
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

zephyr: Fix ED25519 compilation with mbedTLS
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: bootutil: Fix usage of flash_area object
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

zephyr: Fix ED25519 compilation with mbedTLS
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: bootutil: Fix usage of flash_area object
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

zephyr: Add missing selection for allowed SHA algorithms
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: Add missing selection for allowed SHA algorithms
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: Add support for devices without erase and reduced erases
  boot/zephyr/Kconfig
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Add support for devices without erase and reduced erases
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze

zephyr: Use flash_area_flatten in bs_custom_storage_erase
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

boot: Enable MCUBOOT_DEV_WITH_ERASE in other systems
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc
