Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

boot: espressif: add .xt.prop to the compiled ELF file
  boot/espressif/port/esp32/ld/bootloader.ld
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp32s3/ld/bootloader.ld
Owners: @almir-okato

boot: espressif: fix total_len unused variable warning
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

boot: espressif: integrate Espressif Port with Zephyr sysbuild system
  boot/espressif/CMakeLists.txt
  boot/espressif/common.cmake
  boot/espressif/hal/CMakeLists.txt
  boot/espressif/hal/include/esp32c2/sdkconfig.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_assert.h
  boot/espressif/port/esp32/ld/bootloader.ld
  boot/espressif/port/esp32c2/ld/bootloader.ld
  boot/espressif/port/esp32c3/ld/bootloader.ld
  boot/espressif/port/esp32c6/bootloader.conf
  boot/espressif/port/esp32c6/ld/bootloader.ld
  boot/espressif/port/esp32h2/ld/bootloader.ld
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp32s3/ld/bootloader.ld
  boot/espressif/port/include/esp32/memory.h
  boot/espressif/port/include/esp32c2/memory.h
  boot/espressif/port/include/esp32c3/memory.h
  boot/espressif/port/include/esp32c6/memory.h
  boot/espressif/port/include/esp32h2/memory.h
  boot/espressif/port/include/esp32s2/memory.h
  boot/espressif/port/include/esp32s3/memory.h
  boot/espressif/zephyr/CMakeLists.txt
  boot/espressif/zephyr/Kconfig
  boot/espressif/zephyr/include/stubs.h
  boot/espressif/zephyr/prj.conf
  boot/espressif/zephyr/socs/esp32_procpu.conf
  boot/espressif/zephyr/socs/esp32c2.conf
  boot/espressif/zephyr/socs/esp32c3.conf
  boot/espressif/zephyr/socs/esp32c6_hpcore.conf
  boot/espressif/zephyr/socs/esp32h2.conf
  boot/espressif/zephyr/socs/esp32s2.conf
  boot/espressif/zephyr/socs/esp32s3_procpu.conf
  docs/release-notes.d/espressif-build-espressif-port-from-zephyros-sysbuild.md
Owners: @almir-okato, @nordicjm, @de-nordic, @d3zd3z

imgtool: dumpinfo --format. type_name and silent
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: mbed: fix MCUBOOT_SWAP_SAVE_ENCTLV
  boot/mbed/mbed_lib.json
Owners: @d3zd3z

imgtool: add --custom-tlv-file option
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: bootutil: image_ed25519: Fix inbuilt key usage
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

boot: bootutil: bootutil_find_key: Fix definition
  boot/bootutil/src/bootutil_find_key.c
Owners: @davidvincze

boot: zephyr: Add support for external PSA crypto library
  boot/bootutil/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: Add support for inbuilt key
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

imgtool: dumpinfo -f,--format option
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: zephyr: serial_recovery: initialize CDC ACM USB lazily
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig.serial_recovery
  boot/zephyr/main.c
  boot/zephyr/serial_adapter.c
  boot/zephyr/usbd_cdc_serial.c
  boot/zephyr/usbd_cdc_serial.h
  docs/readme-zephyr.md
Owners: @nordicjm, @de-nordic, @d3zd3z

boot: zephyr: fix SWO log output lost during app transition
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: espressif: Fix build problem with mbedtls
  boot/espressif/common.cmake
Owners: @almir-okato

boot: espressif: integrate Espressif Port with Zephyr sysbuild system
  boot/espressif/CMakeLists.txt
  boot/espressif/common.cmake
  boot/espressif/hal/CMakeLists.txt
  boot/espressif/hal/include/esp32c2/sdkconfig.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_assert.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/espressif/port/esp32/ld/bootloader.ld
  boot/espressif/port/esp32c2/ld/bootloader.ld
  boot/espressif/port/esp32c3/ld/bootloader.ld
  boot/espressif/port/esp32c6/bootloader.conf
  boot/espressif/port/esp32c6/ld/bootloader.ld
  boot/espressif/port/esp32h2/ld/bootloader.ld
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp32s3/ld/bootloader.ld
  boot/espressif/port/include/esp32/memory.h
  boot/espressif/port/include/esp32c2/memory.h
  boot/espressif/port/include/esp32c3/memory.h
  boot/espressif/port/include/esp32c6/memory.h
  boot/espressif/port/include/esp32h2/memory.h
  boot/espressif/port/include/esp32s2/memory.h
  boot/espressif/port/include/esp32s3/memory.h
  boot/espressif/zephyr/CMakeLists.txt
  boot/espressif/zephyr/Kconfig
  boot/espressif/zephyr/include/stubs.h
  boot/espressif/zephyr/prj.conf
  boot/espressif/zephyr/socs/esp32_procpu.conf
  boot/espressif/zephyr/socs/esp32c2.conf
  boot/espressif/zephyr/socs/esp32c3.conf
  boot/espressif/zephyr/socs/esp32c6_hpcore.conf
  boot/espressif/zephyr/socs/esp32h2.conf
  boot/espressif/zephyr/socs/esp32s2.conf
  boot/espressif/zephyr/socs/esp32s3_procpu.conf
  docs/release-notes.d/espressif-build-espressif-port-from-zephyros-sysbuild.md
Owners: @almir-okato, @nordicjm, @de-nordic, @d3zd3z

boot: espressif: split dram_seg into dram_loader_seg memory segment
  boot/espressif/main.c
  boot/espressif/port/esp32/ld/bootloader.ld
  boot/espressif/port/esp32c2/ld/bootloader.ld
  boot/espressif/port/esp32c3/ld/bootloader.ld
  boot/espressif/port/esp32c6/ld/bootloader.ld
  boot/espressif/port/esp32h2/ld/bootloader.ld
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp32s3/ld/bootloader.ld
  boot/espressif/port/include/esp32/memory.h
  boot/espressif/port/include/esp32c2/memory.h
  boot/espressif/port/include/esp32c3/memory.h
  boot/espressif/port/include/esp32c6/memory.h
  boot/espressif/port/include/esp32h2/memory.h
  boot/espressif/port/include/esp32s2/memory.h
  boot/espressif/port/include/esp32s3/memory.h
Owners: @almir-okato

boot: espressif: fix total_len unused variable warning
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

boot: espressif: add .xt.prop to the compiled ELF file
  boot/espressif/port/esp32/ld/bootloader.ld
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp32s3/ld/bootloader.ld
Owners: @almir-okato

fix(bootutil): feed watchdog during swap operations
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: zephyr: migrate CDC ACM serial recovery to USB_DEVICE_STACK_NEXT
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig.serial_recovery
  boot/zephyr/boards/nrf52840dongle_nrf52840.conf
  boot/zephyr/boards/nrf52840dongle_nrf52840_big.overlay
  boot/zephyr/main.c
  boot/zephyr/sample.yaml
  boot/zephyr/serial_adapter.c
  boot/zephyr/usb_cdc_acm_log_recovery.conf
  boot/zephyr/usb_cdc_acm_recovery.conf
  boot/zephyr/usbd_cdc_serial.c
  boot/zephyr/usbd_cdc_serial.h
  docs/readme-zephyr.md
Owners: @nordicjm, @de-nordic, @d3zd3z

fix(logging): drain deferred log buffer before jumping to app
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

fix(logging): wait for SWO TPIU drain before jumping to app
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

docs: add serial recovery throughput tuning guide
  docs/serial_recovery.md
Owners: @d3zd3z

boot: zephyr: cmake: Improve support for NVM device finding
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: bootutil: image_validate: Fix swap-offset pure mode address
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

boot: zephyr: capture lost early and late log events
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

bootutil: update sha calls to legacy Mbed TLS
  boot/bootutil/include/bootutil/crypto/sha.h
Owners: @davidvincze

bootutil: remove useless code from bootutil_rsa_parse_public_key()
  boot/bootutil/include/bootutil/crypto/rsa.h
Owners: @davidvincze

boot: zephyr: kconfig: add choice for RSA crypto library
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

ci: add tardigrade OTA resilience testing
  .github/workflows/tardigrade.yaml
Owners: @d3zd3z

During the first boot, the microcontroller automatically generates a key pair. The process includes:
  boot/bootutil/include/bootutil/boot_store_enc_keys.h
  boot/bootutil/include/bootutil/generate_key_pair.h
  boot/bootutil/src/boot_store_enc_keys.c
  boot/bootutil/src/generate_key_pair.c
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/gen_enc_keys.conf
  boot/zephyr/gen_enc_keys.overlay
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/include/sysflash/sysflash.h
  boot/zephyr/keys.c
  boot/zephyr/main.c
  docs/key_generation.md
  ext/mbedtls-pkcs8/pkcs8secp256write.c
  ext/mbedtls-pkcs8/pkcs8secp256write.h
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

boot: zephyr: boards: nrf54l15dk: Remove useless Kconfig setting
  boot/zephyr/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l15_cpuapp.conf
Owners: @nordicjm, @de-nordic

imgtool: Fix regression in verify TLV skipping
  scripts/imgtool/image.py
Owners: @d3zd3z

imgtool: dumpinfo -f,--format option
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: update sha calls to legacy Mbed TLS
  boot/bootutil/include/bootutil/crypto/sha.h
Owners: @davidvincze

boot: zephyr: kconfig: add choice for RSA crypto library
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

bootutil: remove useless code from bootutil_rsa_parse_public_key()
  boot/bootutil/include/bootutil/crypto/rsa.h
Owners: @davidvincze

boot: zephyr: boards: nrf54l15dk: Remove useless Kconfig setting
  boot/zephyr/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l10_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l15_cpuapp.conf
Owners: @nordicjm, @de-nordic

imgtool: add --custom-tlv-file option
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: zephyr: call LOG_PANIC before jumping to app to flush in flight logs
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
