Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

zephyr: Improve logging
  boot/zephyr/firmware_loader.c
  boot/zephyr/main.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic

doc: Add information on supporting SHA512 with ECIES-X25519
  docs/encrypted_images.md
Owners: @d3zd3z

zephyr: Support for HKDF/HMAC with SHA512
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Add support for HAMC-SHA512 with ECIES-X25519
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

imgtool: Add support for HMAC/HKDF-SHA512 with ECIES-X25519
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: zephyr: add support for booting ARC processors
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

bootutil: loader: Expose routine to open/close all flash areas
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: loader: Expose routine to determine sector layout
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot_serial: Use flash area from bootloader state when possible
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot_serial: Avoid re-initializing state in boot_image_validate_encrypted
  boot/boot_serial/include/boot_serial/boot_serial_encryption.h
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

boot_serial: Use flash sectors from bootloader state when possible
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: Remove now superfluous start_off parameters
  boot/boot_serial/include/boot_serial/boot_serial_encryption.h
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
Owners: @nordicjm, @de-nordic, @davidvincze

boot_serial: Initialize a bootloader state for bs_list and bs_set
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: zephyr: stm32n6570_dk: define CONFIG_MULTIPLE_EXECUTABLE_RAM_REGIONS
  boot/zephyr/boards/stm32n6570_dk_stm32n657xx_fsbl.conf
Owners: @nordicjm, @de-nordic

boot: Zephyr: Add a Kconfig for MULTIPLE_EXECUTABLE_RAM_REGIONS define
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: zephyr: add support for booting ARC processors
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

bootutil: Add support for HAMC-SHA512 with ECIES-X25519
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

zephyr: Support for HKDF/HMAC with SHA512
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

imgtool: Add support for HMAC/HKDF-SHA512 with ECIES-X25519
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

doc: Add information on supporting SHA512 with ECIES-X25519
  docs/encrypted_images.md
Owners: @d3zd3z

boot: bootutil: Fix encryption/decryption size during copy
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Support for MCUBOOT_BYPASS_KEY_MATCH
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

zephyr: Add CONFIG_BOOT_BYPASS_KEY_MATCH
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot_serial: Avoid re-initializing state in boot_image_validate_encrypted
  boot/boot_serial/include/boot_serial/boot_serial_encryption.h
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

boot_serial: Use flash area from bootloader state when possible
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

bootutil: loader: Expose routine to open/close all flash areas
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: Remove now superfluous start_off parameters
  boot/boot_serial/include/boot_serial/boot_serial_encryption.h
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
Owners: @nordicjm, @de-nordic, @davidvincze

boot_serial: Use flash sectors from bootloader state when possible
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot_serial: Initialize a bootloader state for bs_list and bs_set
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

bootutil: loader: Expose routine to determine sector layout
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: cleanup removed CONFIG_BOOT_MGMT_CUSTOM_IMG_LIST
  boot/zephyr/CMakeLists.txt
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/readme-zephyr.md
Owners: @nordicjm, @de-nordic, @d3zd3z

zephyr: cleanup removed CONFIG_BOOT_MGMT_CUSTOM_IMG_LIST
  boot/zephyr/CMakeLists.txt
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/readme-zephyr.md
Owners: @nordicjm, @de-nordic, @d3zd3z

bootutil: Parse key id for built in keys
  boot/bootutil/include/bootutil/crypto/ecdsa.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/image_validate.c
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

imgtool: Add support for multiple signatures
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Add support for multi-sign of same type
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_img_security_cnt.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  samples/mcuboot_config/mcuboot_config.template.h
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @d3zd3z

imgtool: Rename key-ids to psa-key-ids
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: imgtool: Fix CI failures
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/image_validate.c
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @davidvincze, @d3zd3z

zephyr: Remove legacy flash_area_get_sectors
  boot/zephyr/CMakeLists.txt
  boot/zephyr/flash_map_legacy.c
Owners: @nordicjm, @de-nordic

zephyr: Allow enabling logical sectors
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Support for logical sectors
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze
