Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

boot: bootutils: Add image in image support
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot_serial: Use struct enc_data in decrypt_region_inplace
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

gitignore: Ignore some files related to vscode
  .gitignore
Owners: @d3zd3z

rust: Make workspace more convenient with default
  Cargo.toml
Owners: @d3zd3z

docs: release-notes: notes on vscode improvements
  docs/release-notes.d/vscode.md
Owners: @d3zd3z

sim: Remove sig-ecdsa and enc-ec256 entirely
  .github/workflows/sim.yaml
  sim/Cargo.toml
  sim/mcuboot-sys/Cargo.toml
  sim/mcuboot-sys/build.rs
Owners: @d3zd3z

bootutil: crypto: Remove tinycrypt ecdsa refs
  boot/bootutil/include/bootutil/crypto/ecdh_p256.h
  boot/bootutil/include/bootutil/crypto/ecdsa.h
Owners: @davidvincze

ci: Update FIH docker to Ubuntu Plucky (25.04)
  ci/fih-tests_config.sh
  ci/fih-tests_run.sh
  ci/fih_test_docker/docker-build/Dockerfile
  ci/fih_test_docker/execute_test.sh
Owners: @d3zd3z

bootutil: In boot_swap_image add return check from boot_read_enc_key
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Refactor boot_read_enc_key
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

boot: zephyr: Allow disabling default multiple RAM region file
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/ram_load.c
Owners: @nordicjm, @de-nordic

boot_serial: Use struct enc_data in decrypt_region_inplace
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

nrf port and mbedtls conf
  .gitignore
  boot/bootutil/src/generate_key_pair.c
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/app.overlay
  boot/zephyr/include/mcuboot_config/mcuboot_rng.h
  boot/zephyr/main.c
  boot/zephyr/prj.conf
  zephyr/module.yml
Owners: @d3zd3z, @davidvincze, @nordicjm, @de-nordic

imgtool: Add support for encrypting image with raw AES key
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Provide support for embedded AES keys
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/bootutil_loader.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/loader.c
  boot/mynewt/src/single_loader.c
Owners: @nordicjm, @de-nordic, @davidvincze, @kasjer

minor change
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: Add support for embedded AES key
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/templates/single_builtin_aes_key_provider.c.template
Owners: @nordicjm, @de-nordic

bootutil: Split header with encryption functions
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/include/bootutil/crypto/aes_ctr_mbedtls.h
  boot/bootutil/include/bootutil/crypto/aes_ctr_psa.h
  boot/bootutil/include/bootutil/crypto/aes_ctr_tinycrypt.h
Owners: @davidvincze

bootutil: Add boot_loader_state_init
  boot/bootutil/include/bootutil/bootutil.h
  boot/bootutil/src/bootutil_loader.c
Owners: @davidvincze

bootutil: Use boot_state_init instead of boot_state_clear
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot_serial: Initialize state with boot_state_init
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

bootutil: Remove NULL state logic from boot_state_clear
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

bootutil: Fix encryption context de initialization in boot_state_clear
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

boot_serial: Fix double boot_loader_state init
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

boot_serial: Use struct enc_data in decrypt_region_inplace
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

boot: zephyr: sysflash: Increase number of supported images
  boot/zephyr/include/sysflash/sysflash.h
Owners: @nordicjm, @de-nordic

mbedtls, modify generation enc key
  boot/bootutil/include/bootutil/generate_key_pair.h
  boot/bootutil/src/generate_key_pair.c
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/config-ec.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/main.c
  boot/zephyr/prj.conf
Owners: @davidvincze, @nordicjm, @de-nordic

minor change
  ext/mbedtls-asn1/include/mbedtls/mbedtls_config.h
Owners: @d3zd3z

remove last stm32 word
  boot/bootutil/src/generate_key_pair.c
  boot/zephyr/boards/lora_e5_mini.overlay
Owners: @davidvincze, @nordicjm, @de-nordic

minor change
  boot/bootutil/src/image_validate.c
  boot/zephyr/Kconfig
Owners: @davidvincze, @nordicjm, @de-nordic

scripts: Move pytest tests from imgtool/keys to tests directory
  scripts/tests/keys/test_ecdsa.py
  scripts/tests/keys/test_ed25519.py
  scripts/tests/keys/test_rsa.py
Owners: @d3zd3z

coding-styles and headers
  boot/bootutil/include/bootutil/generate_key_pair.h
  boot/bootutil/src/generate_key_pair.c
  boot/zephyr/boot_rng.c
  boot/zephyr/include/boot_rng.h
  boot/zephyr/include/mcuboot_config/mcuboot_rng.h
  boot/zephyr/main.c
  boot/zephyr/prj.conf
Owners: @davidvincze, @nordicjm, @de-nordic

bootutil: Split header with encryption functions
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/include/bootutil/crypto/aes_ctr_mbedtls.h
  boot/bootutil/include/bootutil/crypto/aes_ctr_psa.h
  boot/bootutil/include/bootutil/crypto/aes_ctr_tinycrypt.h
Owners: @davidvincze

bootutil: Allow using psa_key_id_t in AES crypto context
  boot/bootutil/include/bootutil/crypto/aes_ctr_psa.h
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: Support for logical sectors
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Allow enabling logical sectors
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

sim: Test logical sectors
  sim/Cargo.toml
  sim/mcuboot-sys/Cargo.toml
  sim/mcuboot-sys/build.rs
Owners: @d3zd3z

Add comments
  boot/bootutil/src/generate_key_pair.c
  boot/zephyr/boot_rng.c
Owners: @davidvincze, @nordicjm, @de-nordic

boot: zephyr: sysflash: Increase number of supported images
  boot/zephyr/include/sysflash/sysflash.h
Owners: @nordicjm, @de-nordic

scripts: Move pytest tests from imgtool/keys to tests directory
  scripts/tests/keys/test_ecdsa.py
  scripts/tests/keys/test_ed25519.py
  scripts/tests/keys/test_rsa.py
Owners: @d3zd3z

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
