Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

zephyr: use REQUIRED in dt_nodelabel calls to fail early and with meaningful message
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

readme: Update for next dev release
  README.md
  boot/zephyr/VERSION
Owners: @d3zd3z, @nordicjm, @de-nordic

sys: Add MCUBOOT_USE_TLV_ALLOW_LIST to mcuboot_config.h
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

zephyr: Kconfig to control MCUBOOT_USE_TLV_ALLOW_LIST
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Add MCUBOOT_USE_TLV_ALLOW_LIST
  boot/bootutil/src/image_validate.c
  docs/release-notes.d/tlv-allow-list.md
Owners: @davidvincze, @d3zd3z

doc: Add information on TLV allow list
  docs/design.md
Owners: @d3zd3z

readme: Update for next dev release
  README.md
  boot/zephyr/VERSION
Owners: @d3zd3z, @nordicjm, @de-nordic

boot: zephyr: boards: nrf54h20dk cpuapp add chosen code part
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp.overlay
Owners: @nordicjm, @de-nordic

docs/design: add notes about swap algorithms
  docs/design.md
Owners: @d3zd3z

bootutil: Support for logical sectors
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Allow enabling logical sectors
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

espressif: fix flash write/erase operation when encryption is enabled
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: flash: fix image wrong state after swap-scratch when flash encryption is enabled
  boot/espressif/hal/src/flash_encrypt.c
  boot/espressif/port/esp_mcuboot.c
  docs/readme-espressif.md
  docs/release-notes.d/espressif-fix-fw-update-with-hw-flash-encryption-enabled
Owners: @almir-okato, @d3zd3z

docs/design: add notes about swap algorithms
  docs/design.md
Owners: @d3zd3z

bootutil: Fixed security counter overflow detected to late
  boot/bootutil/include/bootutil/security_cnt.h
  boot/bootutil/src/image_validate.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

bootutil: Fixed security counter overflow detected to late
  boot/bootutil/include/bootutil/security_cnt.h
  boot/bootutil/src/image_validate.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

bootutil: src: image_validate.c: remove mbedtls headers
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

boot: bootutil: Fix pure image validation check with offset swap
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Move primary/secondary slot definition to bootutil_public
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_priv.h
Owners: @davidvincze

espressif: bump supported IDF code to v5.1.6
  boot/espressif/CMakeLists.txt
  boot/espressif/hal/include/esp32c2/esp32c2.cmake
  boot/espressif/hal/include/esp32c3/esp32c3.cmake
  boot/espressif/hal/include/esp32c6/esp32c6.cmake
  boot/espressif/hal/include/esp32h2/esp32h2.cmake
  boot/espressif/hal/include/esp32s3/esp32s3.cmake
  boot/espressif/hal/include/stubs.h
  boot/espressif/hal/include/zephyr_compat.h
  boot/espressif/port/esp32h2/bootloader.conf
Owners: @almir-okato

espressif: reorganize iram_loader.text section to reduce its size
  boot/espressif/port/esp32/ld/bootloader.ld
  boot/espressif/port/esp32c2/ld/bootloader.ld
  boot/espressif/port/esp32c3/ld/bootloader.ld
  boot/espressif/port/esp32c6/ld/bootloader.ld
  boot/espressif/port/esp32h2/ld/bootloader.ld
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp32s3/ld/bootloader.ld
Owners: @almir-okato

espressif: ci: add C2, C6 and H2 builds and adjust for hal v5.1.6
  .github/workflows/espressif.yaml
  boot/espressif/ci_configs/esp32-secureboot.conf
  boot/espressif/ci_configs/esp32c2-secureboot.conf
  boot/espressif/ci_configs/esp32c3-secureboot.conf
  boot/espressif/ci_configs/esp32c6-secureboot.conf
  boot/espressif/ci_configs/esp32h2-secureboot.conf
  boot/espressif/ci_configs/esp32s2-secureboot.conf
  boot/espressif/ci_configs/esp32s3-secureboot.conf
  boot/espressif/ci_configs/secureboot-sign-ec256.conf
  boot/espressif/ci_configs/secureboot-sign-ed25519.conf
  boot/espressif/ci_configs/secureboot-sign-rsa2048.conf
  boot/espressif/ci_configs/secureboot-sign-rsa3072.conf
  ci/espressif_install.sh
  ci/espressif_run.sh
Owners: @d3zd3z, @almir-okato

espressif: add forced aligned flash erase
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: fix flash write/erase operation when encryption is enabled
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: flash: fix image wrong state after swap-scratch when flash encryption is enabled
  boot/espressif/hal/src/flash_encrypt.c
  boot/espressif/port/esp_mcuboot.c
  docs/readme-espressif.md
  docs/release-notes.d/espressif-fix-fw-update-with-hw-flash-encryption-enabled
Owners: @almir-okato, @d3zd3z

imgtool: Add missing copyright notice to test_keys.py
  scripts/tests/test_keys.py
Owners: @d3zd3z

imgtool: Add new tests for key operations
  scripts/tests/conftest.py
  scripts/tests/constants.py
  scripts/tests/test_keys.py
Owners: @d3zd3z

imgtool: Add tests for dumpinfo command
  scripts/tests/test_dumpinfo.py
Owners: @d3zd3z

imgtool: Add testing for verify command
  scripts/tests/test_verify.py
Owners: @d3zd3z

imgtool: Add tests for signing
  scripts/tests/test_sign.py
Owners: @d3zd3z

imgtool: Add support for hex files in dumpinfo and tests
  scripts/imgtool/dumpinfo.py
  scripts/tests/test_dumpinfo.py
Owners: @d3zd3z

imgtool: Improve key type checks and invalid pass-phrase handling
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/general.py
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: Unify File not found error messages
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/image.py
  scripts/imgtool/main.py
  scripts/tests/test_sign.py
  scripts/tests/test_verify.py
Owners: @d3zd3z

imgtool: Add verification tests for hex files
  scripts/tests/images/signed/hex/zero_hex-addr_0.hex
  scripts/tests/images/signed/hex/zero_hex-addr_16.hex
  scripts/tests/images/signed/hex/zero_hex-addr_35.hex
  scripts/tests/test_verify.py
Owners: @d3zd3z

imgtool: Install imgtool dependencies in zephyr-build
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

imgtool: Install imgtool dependencies in fih-test
  ci/fih_test_docker/execute_test.sh
Owners: @d3zd3z

bootutil: Move primary/secondary slot definition to bootutil_public
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_priv.h
Owners: @davidvincze

boot: Add VID and CID checks
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/mcuboot_uuid.h
  boot/bootutil/src/image_validate.c
  docs/design.md
Owners: @davidvincze, @d3zd3z

imgtool: Add support for VID and CID
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

zephyr: Add Kconfig-based VID and CID checks
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/Kconfig.uuid.template
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/main.c
  boot/zephyr/mcuboot_uuid.c
Owners: @nordicjm, @de-nordic
