Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

boot: zephyr: Remove enable from beginning of prompts
  boot/zephyr/Kconfig
  boot/zephyr/Kconfig.serial_recovery
Owners: @nordicjm, @de-nordic

bootutil: Allow using psa_key_id_t in AES crypto context
  boot/bootutil/include/bootutil/crypto/aes_ctr_psa.h
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

espressif: fix UART init for Serial Recovery and unify adapter code
  boot/espressif/CMakeLists.txt
  boot/espressif/port/esp32/bootloader.conf
  boot/espressif/port/esp32/serial_adapter.c
  boot/espressif/port/esp32c2/bootloader.conf
  boot/espressif/port/esp32c2/serial_adapter.c
  boot/espressif/port/esp32c3/bootloader.conf
  boot/espressif/port/esp32c6/bootloader.conf
  boot/espressif/port/esp32c6/serial_adapter.c
  boot/espressif/port/esp32h2/bootloader.conf
  boot/espressif/port/esp32h2/serial_adapter.c
  boot/espressif/port/esp32s2/bootloader.conf
  boot/espressif/port/esp32s2/serial_adapter.c
  boot/espressif/port/esp32s3/bootloader.conf
  boot/espressif/port/esp32s3/serial_adapter.c
  boot/espressif/port/serial_adapter.c
Owners: @almir-okato

bootutil: Use boot_state_init instead of boot_state_clear
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Add boot_loader_state_init
  boot/bootutil/include/bootutil/bootutil.h
  boot/bootutil/src/bootutil_loader.c
Owners: @davidvincze

bootutil: Fix encryption context de initialization in boot_state_clear
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

bootutil: Remove NULL state logic from boot_state_clear
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

boot_serial: Initialize state with boot_state_init
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

Infineon: Improve image upgrade time for CYW20829/CYW89829 devices
  boot/cypress/Changelog.md
  boot/cypress/platforms/CYW20829.md
  boot/cypress/platforms/memory/external_memory/external_memory.c
Owners: @romanjoe

espressif: fix UART init for Serial Recovery and unify adapter code
  boot/espressif/CMakeLists.txt
  boot/espressif/port/esp32/bootloader.conf
  boot/espressif/port/esp32/serial_adapter.c
  boot/espressif/port/esp32c2/bootloader.conf
  boot/espressif/port/esp32c2/serial_adapter.c
  boot/espressif/port/esp32c3/bootloader.conf
  boot/espressif/port/esp32c6/bootloader.conf
  boot/espressif/port/esp32c6/serial_adapter.c
  boot/espressif/port/esp32h2/bootloader.conf
  boot/espressif/port/esp32h2/serial_adapter.c
  boot/espressif/port/esp32s2/bootloader.conf
  boot/espressif/port/esp32s2/serial_adapter.c
  boot/espressif/port/esp32s3/bootloader.conf
  boot/espressif/port/esp32s3/serial_adapter.c
  boot/espressif/port/serial_adapter.c
Owners: @almir-okato

boot: zephyr: Remove enable from beginning of prompts
  boot/zephyr/Kconfig
  boot/zephyr/Kconfig.serial_recovery
Owners: @nordicjm, @de-nordic

boot: zephyr: Add ECDSA support using mbedTLS
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

bootutil: Fix signature verification for multi-sig images
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

imgtool: add multi-signing utils for append and remove
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Fix signature verification for multi-sig images
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

imgtool: add multi-signing utils for append and remove
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Fix some debug log format specifiers
  boot/bootutil/src/bootutil_area.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze

imgtool: Testing create2
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: Changes to main
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Fixes after tests
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Temporarly drop mem cleanup from boot_state_clear
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

imgtool: Add support for encrypting image with raw AES key
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: Temporary workaround for entanglement with TF-M.
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot_serial: Use boot_state_init where intent to initialize
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

bootutil: Add API to lock HW counter
  boot/bootutil/include/bootutil/security_cnt.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

sim: Use boot_state_init and boot_state clear where required.
  sim/mcuboot-sys/csupport/run.c
Owners: @d3zd3z

boot: bootutil: bootutil_area: Fix swap using offset min scramble
  boot/bootutil/src/bootutil_area.c
Owners: @davidvincze

docs: release-notes: Add note on swap offset min scramble fix
  docs/release-notes.d/minimal-erase-swap-offset.md
Owners: @d3zd3z

boot: bootutil: bootutil_area: Add debug for adjusted offset
  boot/bootutil/src/bootutil_area.c
Owners: @davidvincze

boot: bootutil: bootutil_area: Add debug for adjusted offset
  boot/bootutil/src/bootutil_area.c
Owners: @davidvincze

docs: release-notes: Add note on swap offset min scramble fix
  docs/release-notes.d/minimal-erase-swap-offset.md
Owners: @d3zd3z

boot: bootutil: bootutil_area: Fix swap using offset min scramble
  boot/bootutil/src/bootutil_area.c
Owners: @davidvincze

bootutil: Add API to lock HW counter
  boot/bootutil/include/bootutil/security_cnt.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

bootutil: Fix some debug log format specifiers
  boot/bootutil/src/bootutil_area.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze

boot_serial: Use boot_state_init where intent to initialize
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

sim: Use boot_state_init and boot_state clear where required.
  sim/mcuboot-sys/csupport/run.c
Owners: @d3zd3z

bootutil: Temporarly drop mem cleanup from boot_state_clear
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

boot: Add MCUboot manifest TLV
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/mcuboot_manifest.h
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_validate.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

imgtool: Add a possibility to attach manifest TLV
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

doc: Add manifest conceptual description
  docs/design.md
Owners: @d3zd3z
