Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

boot: boot_serial: Fix issue with CBOR and setting image state
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: zephyr: add ram_load overlays for nrf52840dk and mimxrt1050_evk boards
  boot/zephyr/boards/mimxrt1050_evk_mimxrt1052_hyperflash_ram_load.overlay
  boot/zephyr/boards/nrf52840dk_nrf52840_ram_load.overlay
Owners: @nordicjm, @de-nordic

doc: update documentation for mcuboot to document ram-load with revert
  docs/design.md
  docs/release-notes.d/enable-ram-load-revert.md
Owners: @d3zd3z

boot: zephyr: add support for revert mode with ramload
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

boot: bootutil: Only update the security counter for confirmed images
  boot/bootutil/src/loader.c
Owners: @davidvincze

sim: Use non-equal security counters when testing upgrades
  sim/mcuboot-sys/src/api.rs
  sim/mcuboot-sys/src/c.rs
  sim/src/image.rs
  sim/tests/core.rs
Owners: @d3zd3z

sim: Enable oversized_secondary_slot test with max-align-32
  sim/tests/core.rs
Owners: @d3zd3z

boot: boot_serial: Fix issue with CBOR and setting image state
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: bootutil: Move erase function location
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: zephyr: kconfig: Fix BOOT_SWAP_USING_MOVE description
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Fix BOOT_SWAP_USING_MOVE description
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: bootutil: Move erase function location
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: zephyr: kconfig: enable dependencies of Mbed TLS Kconfig option
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: bootutil: Refactor erase functionality to fix watchdog feeding
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze

docs: release-notes: Add additional fixes
  docs/release-notes.md
Owners: @d3zd3z

boot: bootutil: swap_scratch: Fix issue with bricking device
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: zephyr: kconfig: Fix issues and re-order
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: flash_map: Fix missing include
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: enable dependencies of Mbed TLS Kconfig option
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: flash_map: Fix unused argument
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
Owners: @nordicjm, @de-nordic

boot: zephyr: flash_map: Fix unused argument
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
Owners: @nordicjm, @de-nordic

boot: zephyr: flash_map: Fix missing include
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Fix issues and re-order
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: bootutil: swap-offset: Fix image size check during validation
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

sim: Use largest image for all upgrade strategies
  sim/src/image.rs
Owners: @d3zd3z

boot: bootutil: Fix max image size computation for swap-move/swap-offset
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

sim: Fix largest image computation for swap-move and swap-offset
  sim/src/image.rs
Owners: @d3zd3z

boot: bootutil: Refactor erase functionality to fix watchdog feeding
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze

docs: release-notes: Add additional fixes
  docs/release-notes.md
Owners: @d3zd3z

boot: bootutil: swap_scratch: Fix issue with bricking device
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

bootutil: Improve defines in PSA encryption source
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

zephyr: nRF54l15_cpuapp configuration with LTO enabled
  boot/zephyr/socs/nrf54l15_cpuapp.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32 disco kit
  boot/zephyr/boards/b_u585i_iot02a.conf
  boot/zephyr/boards/b_u585i_iot02a.overlay
  boot/zephyr/boards/stm32h750b_dk.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h7rs target boards
  boot/zephyr/boards/nucleo_h7s3l8.conf
  boot/zephyr/boards/stm32h7s78_dk.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h573 disco kit
  boot/zephyr/boards/stm32h573i_dk.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: defines FLASH base address device for external NOR
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

zephyr: nRF54l15_cpuapp configuration with LTO enabled
  boot/zephyr/socs/nrf54l15_cpuapp.conf
Owners: @nordicjm, @de-nordic

Bootutil: always initialise the size returned by boot_util_image_size()
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

Bootutil: always initialise the size returned by boot_util_image_size()
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

bootutil: Remove BOOTUTIL_CRYPTO_AES_CTR_KEY_SIZE
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
Owners: @nordicjm, @de-nordic, @davidvincze
