Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

DEBUG: test scenario for C3 - THIS COMMIT WILL BE DELETED
  boot/espressif/port/esp32c3/bootloader.conf
Owners: @almir-okato

DEBUG: add debug logs - THIS COMMIT WILL BE DELETED
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/loader.c
  boot/espressif/port/esp_mcuboot.c
Owners: @davidvincze, @almir-okato

DEBUG: test scenario for confirm image after an OTA - THIS COMMIT WILL BE DELETED
  boot/espressif/hal/include/esp32s3/sdkconfig.h
  boot/espressif/port/esp32s3/bootloader.conf
Owners: @almir-okato

bootutil: add MCUBOOT_FLASH_HAS_HW_ENCRYPTION config-condition
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @almir-okato

espressif: fix build if hal_espressif is used as HAL layer for Espressif Port
  boot/espressif/CMakeLists.txt
  boot/espressif/hal/include/stubs.h
  boot/espressif/hal/include/zephyr_compat.h
Owners: @almir-okato

espressif: add forced aligned flash erase
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

DEBUG: add debug logs - THIS COMMIT WILL BE DELETED
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/loader.c
  boot/espressif/port/esp_mcuboot.c
Owners: @davidvincze, @almir-okato

DEBUG: test scenario for C3 - THIS COMMIT WILL BE DELETED
  boot/espressif/port/esp32c3/bootloader.conf
Owners: @almir-okato

DEBUG: test scenario for confirm image after an OTA - THIS COMMIT WILL BE DELETED
  boot/espressif/hal/include/esp32s3/sdkconfig.h
  boot/espressif/port/esp32s3/bootloader.conf
Owners: @almir-okato

espressif: flash: fix image wrong state after swap-scratch when flash encryption is enabled
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

github: workflows: Update zephyr docker image
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

github: workflows: Update zephyr docker image
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

boot: zephyr: move CDC ACM serial to the new device stack
  boot/zephyr/Kconfig.serial_recovery
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840dongle_nrf52840.conf
  boot/zephyr/serial_adapter.c
  boot/zephyr/usb_cdc_acm_log_recovery.conf
  boot/zephyr/usb_cdc_acm_recovery.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: defines FLASH device for external NOR
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

boot: zephyr: Add Cortex-R support
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: zephyr: Add support for Cortex-R cleanup before final jump
  boot/zephyr/Kconfig
  boot/zephyr/arm_cleanup.c
  boot/zephyr/include/arm_cleanup.h
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add changes for Cortex-R booting
  docs/release-notes.d/add-cortex-r-support-00-basic.md
  docs/release-notes.d/add-cortex-r-support-01-cleanup-core.md
Owners: @d3zd3z

boot: stm32n6: Define specific executable region
  boot/zephyr/CMakeLists.txt
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/ram_load.c
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: Add configuration for stm32n6570_dk
  boot/zephyr/boards/stm32n6570_dk_stm32n657xx_fsbl.conf
Owners: @nordicjm, @de-nordic

bootutil: Remove duplicate definitions
  boot/bootutil/src/bootutil_priv.h
Owners: @davidvincze

boot: bootutil: avoid full erase on BOOT_MAGIC_BAD in boot_set_next
  boot/bootutil/src/bootutil_public.c
Owners: @davidvincze

loader: Allow to specify slot number in version
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

bootutil: Replace local identifiers with common definitions
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: Move all encryption TLV helper identifiers into one place
  boot/bootutil/include/bootutil/bootutil_macros.h
  boot/bootutil/include/bootutil/crypto/rsa.h
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: Remove redundant ALIGN definitions
  boot/bootutil/include/bootutil/bootutil_public.h
Owners: @davidvincze

bootutil: Improve logging coverage
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze

boot: zephyr: add support for revert mode with ramload
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

boot: zephyr: add ram_load overlays for nrf52840dk and mimxrt1050_evk boards
  boot/zephyr/boards/mimxrt1050_evk_mimxrt1052_hyperflash_ram_load.overlay
  boot/zephyr/boards/nrf52840dk_nrf52840_ram_load.overlay
Owners: @nordicjm, @de-nordic

doc: update documentation for mcuboot to document ram-load with revert
  docs/design.md
  docs/release-notes.d/enable-ram-load-revert.md
Owners: @d3zd3z

imgtool: bump minimal required version to 2.2.0
  zephyr/requirements.txt
Owners: @nordicjm, @de-nordic

imgtool: bump minimal required version to 2.2.0
  zephyr/requirements.txt
Owners: @nordicjm, @de-nordic

zephyr: Improve logging
  boot/zephyr/firmware_loader.c
  boot/zephyr/main.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic

bootutil: Conditionally include crypto/common.h
  boot/bootutil/include/bootutil/crypto/ecdsa.h
Owners: @davidvincze

boot: zephyr: boards: Add configuration for stm32n6570_dk
  boot/zephyr/boards/stm32n6570_dk_stm32n657xx_fsbl.conf
Owners: @nordicjm, @de-nordic

boot: stm32n6: Define specific executable region
  boot/zephyr/CMakeLists.txt
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/ram_load.c
Owners: @nordicjm, @de-nordic

boot: zephyr: defines FLASH device for external NOR
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

bootutil: Conditionally include crypto/common.h
  boot/bootutil/include/bootutil/crypto/ecdsa.h
Owners: @davidvincze

boot: Zephyr: Add a Kconfig for MULTIPLE_EXECUTABLE_RAM_REGIONS define
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: zephyr: stm32n6570_dk: define CONFIG_MULTIPLE_EXECUTABLE_RAM_REGIONS
  boot/zephyr/boards/stm32n6570_dk_stm32n657xx_fsbl.conf
Owners: @nordicjm, @de-nordic

bootutil: Improve logging coverage
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze
