Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

boot: zephyr: Move watchdog code to separate file
  boot/zephyr/CMakeLists.txt
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/include/watchdog.h
  boot/zephyr/watchdog.c
Owners: @nordicjm, @de-nordic

scripts: imgtool: Fix verification with public ed25519 key file
  scripts/imgtool/image.py
Owners: @d3zd3z

docs: release-notes: Add note on imgtool verify fix
  docs/release-notes.d/imgtool-public-ed25519.md
Owners: @d3zd3z

boot: zephyr: kconfig: Flip swap move defaults for esp32/stm32
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Flip swap move defaults for esp32/stm32
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

docs: release-notes: Add note on imgtool verify fix
  docs/release-notes.d/imgtool-public-ed25519.md
Owners: @d3zd3z

bootutil: Replace bootutil_verify_img with bootutil_verify_sig
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Remove bootutil_verify_img
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

bootutil: Add prototypes for crypto backend initialization API
  boot/bootutil/include/bootutil/crypto/backend.h
Owners: @davidvincze

bootutil: ed25519 PSA: Remove unneeded psa_crypto_inits
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: ed25519 psa: define bootutil_crypto_backend_init
  boot/bootutil/src/ed25519_psa.c
Owners: @davidvincze

zephyr: Call bootutil_crypto_backend_init in main
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

zephyr: ED25519 PSA enabled MCUBOOT_CRYPTO_BACKEND_HAS_INIT
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: ed25519 psa: Merge bootutil_verify_sig and bootutil_verify
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

boot: zephyr: stm32n657xx: Move overlay to socs
  boot/zephyr/socs/stm32n657xx_fsbl.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: Remove BOOT_MAX_IMG settings
  boot/zephyr/socs/stm32n657xx_fsbl.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: Fix Espressif build issues
  boot/zephyr/main.c
  boot/zephyr/socs/esp32c6_hpcore.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: Fix comment in banner.c
  boot/zephyr/kernel/banner.c
Owners: @nordicjm, @de-nordic

doc: imgtool: Update available options
  docs/imgtool.md
Owners: @d3zd3z

Updates for v2.3.0-rc2 release
  README.md
  boot/zephyr/VERSION
  docs/release-notes.md
  scripts/imgtool/__init__.py
Owners: @d3zd3z, @nordicjm, @de-nordic

Updates for v2.3.0-rc2 release
  README.md
  boot/zephyr/VERSION
  docs/release-notes.md
  scripts/imgtool/__init__.py
Owners: @d3zd3z, @nordicjm, @de-nordic

bootutil: Avoid re-definition of MCUBOOT_SWAP_USING_SCRATCH
  boot/bootutil/src/bootutil_area.c
Owners: @davidvincze

boot: zephyr: Fix comment in banner.c
  boot/zephyr/kernel/banner.c
Owners: @nordicjm, @de-nordic

doc: imgtool: Update available options
  docs/imgtool.md
Owners: @d3zd3z

bootutil: Avoid re-definition of MCUBOOT_SWAP_USING_SCRATCH
  boot/bootutil/src/bootutil_area.c
Owners: @davidvincze

Bootutil: Log error code when security counter update fails
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil/crypto: Add general-purpose HMAC and HKDF implementations
  boot/bootutil/src/sha.c
Owners: @davidvincze

bootutil/crypto: Silently abort a series of calls to bootutil_sha_*
  boot/bootutil/include/bootutil/crypto/sha.h
Owners: @davidvincze

bootutil/crypto: Add shorthand for hashing
  boot/bootutil/include/bootutil/crypto/sha.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/sha.c
Owners: @davidvincze

bootutil/crypto: Add shorthands for the HMAC and HKDF functions
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/crypto/hmac_sha256.h
  boot/bootutil/include/bootutil/crypto/sha.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/sha.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  sim/mcuboot-sys/build.rs
  sim/mcuboot-sys/csupport/config-ec.h
  sim/mcuboot-sys/csupport/config-ed25519.h
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

bootutil/crypto: Escalate sha errors when hashing images
  boot/bootutil/src/bootutil_img_hash.c
Owners: @davidvincze

boot: bootutil: loader: Fix bootstrap copying in swap move mode
  boot/bootutil/src/loader.c
  docs/release-notes.d/fix-copy-size-swap-move-bootstrapping.md
Owners: @davidvincze, @d3zd3z

espressif: update default bootloader.conf files
  boot/espressif/port/esp32/bootloader.conf
  boot/espressif/port/esp32c2/bootloader.conf
  boot/espressif/port/esp32c3/bootloader.conf
  boot/espressif/port/esp32c6/bootloader.conf
  boot/espressif/port/esp32h2/bootloader.conf
  boot/espressif/port/esp32s2/bootloader.conf
  boot/espressif/port/esp32s3/bootloader.conf
Owners: @almir-okato

espressif: update readme-espressif.md documentation
  docs/readme-espressif.md
Owners: @d3zd3z

boot: bootutil: loader: Fix bootstrap copying in swap move mode
  boot/bootutil/src/loader.c
  docs/release-notes.d/fix-copy-size-swap-move-bootstrapping.md
Owners: @davidvincze, @d3zd3z

boot: espressif: Fix build problem with mbedtls
  boot/espressif/CMakeLists.txt
Owners: @almir-okato

bootutil: Add missing guards for helpers in bootutil_img_validate
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

boot: zephyr: MCUBOOT_UPDATE_FOOTER_SIZE depends on MCUBOOT_IMG_MANAGER
  boot/zephyr/sysbuild/CMakeLists.txt
Owners: @nordicjm, @de-nordic

imgtool: Add support for encrypting image with raw AES key
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Provide support for embedded AES keys
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/bootutil_loader.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/loader.c
  boot/mynewt/src/single_loader.c
Owners: @nordicjm, @de-nordic, @davidvincze, @kasjer
