Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

delete stm32 support
  boot/stm32/include/boot_log_uart.h
  boot/stm32/include/flash_map/flash_map.h
  boot/stm32/include/flash_map_backend/flash_map_backend.h
  boot/stm32/include/key/key.h
  boot/stm32/include/mcuboot_config/mcuboot_config.h
  boot/stm32/include/mcuboot_config/mcuboot_logging.h
  boot/stm32/include/mcuboot_config/mcuboot_rng.h
  boot/stm32/include/rng_stm32/rng_stm32.h
  boot/stm32/include/sysflash/sysflash.h
  boot/stm32/src/boot_log_uart.c
  boot/stm32/src/flash_map_backend.c
  boot/stm32/src/key.c
  boot/stm32/src/rng_stm32.c
Owners: @d3zd3z

change license
  boot/bootutil/include/bootutil/generate_key_pair.h
  boot/bootutil/src/generate_key_pair.c
Owners: @davidvincze

minor change
  boot/bootutil/src/loader.c
  boot/zephyr/main.c
  ext/tinycrypt/lib/include/tinycrypt/ecc_platform_specific.h
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

minor change
  ext/tinycrypt/lib/include/tinycrypt/ecc_platform_specific.h
Owners: @d3zd3z

bootutil: Refactor boot_read_enc_key
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

bootutil: In boot_swap_image add return check from boot_read_enc_key
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: zephyr: socs: add overlay & conf for stm32h573xx_ext_flash_app
  boot/zephyr/boards/stm32h573i_dk.conf
  boot/zephyr/socs/stm32h573xx_ext_flash_app.conf
  boot/zephyr/socs/stm32h573xx_ext_flash_app.overlay
Owners: @nordicjm, @de-nordic

bootutil: boot_enc_set_key: error on set to valid context
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

ci: Update FIH docker to Ubuntu Plucky (25.04)
  ci/fih-tests_config.sh
  ci/fih_test_docker/docker-build/Dockerfile
Owners: @d3zd3z

espressif: fix esp32 console_write loop forever if cnt too large spilt buffer to make sure console_write won't occupy forever
  boot/espressif/port/esp32/serial_adapter.c
Owners: @almir-okato

loader: Fix compile-time issues in loader.c
  boot/bootutil/src/loader.c
Owners: @davidvincze

remove stm32
  boot/bootutil/include/bootutil/generate_key_pair.h
  boot/bootutil/src/generate_key_pair.c
  boot/zephyr/app.overlay
  boot/zephyr/prj.conf
Owners: @davidvincze, @nordicjm, @de-nordic

loader: Fix compile-time issues in loader.c
  boot/bootutil/src/loader.c
Owners: @davidvincze

espressif: fix esp32 console_write loop forever if cnt too large spilt buffer to make sure console_write won't occupy forever
  boot/espressif/port/esp32/serial_adapter.c
Owners: @almir-okato

bootutil: Move update-independent code
  boot/bootutil/CMakeLists.txt
  boot/bootutil/src/bootutil_loader.c
  boot/bootutil/src/bootutil_loader.h
  boot/bootutil/src/loader.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

bootutil: Move state-independent area APIs
  boot/bootutil/CMakeLists.txt
  boot/bootutil/src/bootutil_area.c
  boot/bootutil/src/bootutil_area.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

loader: Move boot_get_max_app_size(..) API
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/loader.c
Owners: @davidvincze

loader: Unify header_valid(..) API
  boot/bootutil/src/loader.c
Owners: @davidvincze

loader: Unify image check API.
  boot/bootutil/src/loader.c
Owners: @davidvincze

loader: Rename boot_version_cmp
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Add missing docs
  boot/bootutil/include/bootutil/bootutil.h
Owners: @davidvincze

loader: Optimize boot_check_header_erased(..)
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Move state-independent area APIs
  boot/bootutil/CMakeLists.txt
  boot/bootutil/src/bootutil_area.c
  boot/bootutil/src/bootutil_area.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

loader: Optimize boot_check_header_erased(..)
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Move update-independent code
  boot/bootutil/CMakeLists.txt
  boot/bootutil/src/bootutil_loader.c
  boot/bootutil/src/bootutil_loader.h
  boot/bootutil/src/loader.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

loader: Rename boot_version_cmp
  boot/bootutil/src/loader.c
Owners: @davidvincze

loader: Unify header_valid(..) API
  boot/bootutil/src/loader.c
Owners: @davidvincze

loader: Unify image check API.
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Add missing docs
  boot/bootutil/include/bootutil/bootutil.h
Owners: @davidvincze

loader: Move boot_get_max_app_size(..) API
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/loader.c
Owners: @davidvincze

imgtool: Add support for encrypting image with raw AES key
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Provide support for embedded AES keys
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/bootutil_loader.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/loader.c
  boot/mynewt/src/single_loader.c
Owners: @nordicjm, @de-nordic, @davidvincze, @kasjer

zephyr: Add support for embedded AES key
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/templates/custom_boot_enc_take_key/CMakeLists.txt
  boot/zephyr/templates/custom_boot_enc_take_key/README.rst
  boot/zephyr/templates/custom_boot_enc_take_key/boot_take_enc_key.c
  boot/zephyr/templates/single_builtin_aes_key_provider.c.template
Owners: @nordicjm, @de-nordic

imgtool: Add a possibility to attach manifest TLV
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Add manifest-based loader for Direct XIP
  boot/bootutil/CMakeLists.txt
  boot/bootutil/src/loader.c
  boot/bootutil/src/loader_manifest_xip.c
  boot/zephyr/CMakeLists.txt
Owners: @davidvincze, @nordicjm, @de-nordic

boot: Add MCUboot manifest TLV
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/mcuboot_manifest.h
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_validate.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

boot: zephyr: socs: stm32h7s7xx: Add support for ext_flash_app variant
  boot/zephyr/boards/stm32h7s78_dk.conf
  boot/zephyr/socs/stm32h7s7xx_ext_flash_app.conf
  boot/zephyr/socs/stm32h7s7xx_ext_flash_app.overlay
Owners: @nordicjm, @de-nordic

Replace stm32 by generic and define zephyrpoll
  boot/bootutil/src/generate_key_pair.c
  boot/zephyr/app.overlay
  boot/zephyr/boot_rng.c
  boot/zephyr/include/boot_rng.h
  boot/zephyr/include/rng_stm32.h
  boot/zephyr/mbedtls.conf
  boot/zephyr/prj.conf
Owners: @davidvincze, @nordicjm, @de-nordic

boot_serial: Fix double boot_loader_state init
  boot/boot_serial/src/boot_serial_encryption.c
Owners: @nordicjm, @de-nordic

scripts: imgtool: Add script to combine multiple image as single
  docs/combine_images.md
  docs/images/AppPack.png
  docs/index.md
  scripts/combine_images.py
  scripts/combine_images.yaml
Owners: @d3zd3z
