Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

boot: zephyr: kconfig: fix detection of Mbed TLS 4
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: fix detection of Mbed TLS 4
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: Update nrf52840-board overlay bindings
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840_single_slot.overlay
  boot/zephyr/boards/nrf52840dk_qspi_nor_secondary.overlay
  boot/zephyr/boards/nrf52840dk_ram.overlay
  boot/zephyr/boards/nrf52840dk_ram_multi.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: Switch to partition macros without FIXED_ prefix
  boot/zephyr/boot_serial_extension_zephyr_basic.c
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/sysflash/sysflash.h
  boot/zephyr/include/target.h
  boot/zephyr/main.c
  samples/runtime-source/zephyr/hooks/hooks.c
Owners: @nordicjm, @de-nordic

boot: zephyr: call LOG_PANIC before jumping to app to flush in flight logs
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: zephyr: Remove invalid RISCV copying swap image to RAM code
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add note on zephyr RISCV fix
  docs/release-notes.d/zephyr-riscv.md
Owners: @d3zd3z

boot: zephyr: migrate CDC ACM serial recovery to USB_DEVICE_STACK_NEXT
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig.serial_recovery
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840dongle_nrf52840.conf
  boot/zephyr/boards/nrf52840dongle_nrf52840_big.overlay
  boot/zephyr/main.c
  boot/zephyr/sample.yaml
  boot/zephyr/serial_adapter.c
  boot/zephyr/usb_cdc_acm_log_recovery.conf
  boot/zephyr/usb_cdc_acm_recovery.conf
  boot/zephyr/usbd_cdc_serial.c
  boot/zephyr/usbd_cdc_serial.h
  docs/readme-zephyr.md
Owners: @nordicjm, @de-nordic, @d3zd3z

docs: add serial recovery throughput tuning guide
  docs/readme-zephyr.md
Owners: @d3zd3z

boot: bootutil: add support for multiple hw keys
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

ci: add interrupted-OTA swap-move canary
  .github/workflows/ota-resilience-canary.yml
Owners: @d3zd3z

boot: zephyr: use DT_REG_*() macros
  boot/zephyr/ram_load.c
Owners: @nordicjm, @de-nordic

boot: zephyr: cmake: handle devicetree compatible properties as lists
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: zephyr: remove forced sector max
  boot/zephyr/socs/esp32_procpu.conf
  boot/zephyr/socs/esp32c2.conf
  boot/zephyr/socs/esp32c3.conf
  boot/zephyr/socs/esp32c6_hpcore.conf
  boot/zephyr/socs/esp32h2.conf
  boot/zephyr/socs/esp32s2.conf
  boot/zephyr/socs/esp32s3_procpu.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: Update nrf52840-board overlay bindings
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840_single_slot.overlay
  boot/zephyr/boards/nrf52840dk_qspi_nor_secondary.overlay
  boot/zephyr/boards/nrf52840dk_ram.overlay
  boot/zephyr/boards/nrf52840dk_ram_multi.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: Switch to partition macros without FIXED_ prefix
  boot/zephyr/boot_serial_extension_zephyr_basic.c
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/sysflash/sysflash.h
  boot/zephyr/include/target.h
  boot/zephyr/main.c
  samples/runtime-source/zephyr/hooks/hooks.c
Owners: @nordicjm, @de-nordic

boot: zephyr: remove forced sector max
  boot/zephyr/socs/esp32_procpu.conf
  boot/zephyr/socs/esp32c2.conf
  boot/zephyr/socs/esp32c3.conf
  boot/zephyr/socs/esp32c6_hpcore.conf
  boot/zephyr/socs/esp32h2.conf
  boot/zephyr/socs/esp32s2.conf
  boot/zephyr/socs/esp32s3_procpu.conf
Owners: @nordicjm, @de-nordic

boot: bootutil: Include ih_protect_tlv_size in size validation
  boot/bootutil/src/bootutil_public.c
Owners: @davidvincze

boot: zephyr: use DT_REG_*() macros
  boot/zephyr/ram_load.c
Owners: @nordicjm, @de-nordic

boot: zephyr: Switch to partition macros without FIXED_ prefix
  boot/zephyr/boot_serial_extension_zephyr_basic.c
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/sysflash/sysflash.h
  boot/zephyr/include/target.h
  boot/zephyr/main.c
  samples/runtime-source/zephyr/hooks/hooks.c
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: Update nrf52840-board overlay bindings
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840_single_slot.overlay
  boot/zephyr/boards/nrf52840dk_qspi_nor_secondary.overlay
  boot/zephyr/boards/nrf52840dk_ram.overlay
  boot/zephyr/boards/nrf52840dk_ram_multi.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: cmake: handle devicetree compatible properties as lists
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

boot: bootutil: Include ih_protect_tlv_size in size validation
  boot/bootutil/src/bootutil_public.c
Owners: @davidvincze

boot: zephyr: Remove invalid RISCV copying swap image to RAM code
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add note on zephyr RISCV fix
  docs/release-notes.d/zephyr-riscv.md
Owners: @d3zd3z

github: workflow: zephyr: Update packages
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

github: workflow: zephyr: Update packages
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

boot: zephyr: separate Espressif do_boot from Xtensa path
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: zephyr: add ESP32-P4 support
  boot/zephyr/socs/esp32p4_hpcore.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: add ESP32-C5 support
  boot/zephyr/socs/esp32c5_hpcore.conf
Owners: @nordicjm, @de-nordic

imgtool: Fix regression in verify TLV skipping
  scripts/imgtool/image.py
Owners: @d3zd3z

Revert "boot: zephyr: kconfig: fix detection of Mbed TLS 4"
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: use MBEDTLS_VERSION_4_x to select crypto Mbed TLS legacy support
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: separate Espressif do_boot from Xtensa path
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: bootutil: add support for multiple hw keys
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  docs/design.md
Owners: @davidvincze, @d3zd3z

Revert "boot: zephyr: kconfig: fix detection of Mbed TLS 4"
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: use MBEDTLS_VERSION_4_x to select crypto Mbed TLS legacy support
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

Add support of shared slot in simulator
  docs/shared_upgrade_slot.md
  sim/src/image.rs
  sim/src/lib.rs
  sim/tests/core.rs
Owners: @d3zd3z

boot: zephyr: Avoid relying on assert statement and add explicit checks
  boot/zephyr/firmware_loader.c
  boot/zephyr/io.c
  boot/zephyr/main.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic

boot: zephyr: add ESP32-P4 support
  boot/zephyr/socs/esp32p4_hpcore.conf
Owners: @nordicjm, @de-nordic
