Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

docs: Add release note entry for MCUBOOT_BOOT_MAX_ALIGN Zephyr change
  docs/release-notes.d/zephyr-bootutil-max-align.md
Owners: @d3zd3z

docs: Add release note entry for MCUBOOT_BOOT_MAX_ALIGN Zephyr change
  docs/release-notes.d/zephyr-bootutil-max-align.md
Owners: @d3zd3z

boot: bootutil: write_sz fix
  boot/bootutil/src/bootutil_priv.h
Owners: @davidvincze

imgtool: support producing images in test mode
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Rework boot_validate_slot
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Fix log module registration
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

espressif: flash: fix image wrong state after swap-scratch when flash encryption is enabled
  boot/espressif/hal/src/flash_encrypt.c
  boot/espressif/port/esp_mcuboot.c
  docs/readme-espressif.md
  docs/release-notes.d/espressif-fix-fw-update-with-hw-flash-encryption-enabled
Owners: @almir-okato, @d3zd3z

espressif: flash: refactor force aligned write and erase algorithms
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: bump supported IDF code to v5.1.6
  boot/espressif/CMakeLists.txt
  boot/espressif/hal/include/esp32c2/esp32c2.cmake
  boot/espressif/hal/include/esp32c3/esp32c3.cmake
  boot/espressif/hal/include/esp32c6/esp32c6.cmake
  boot/espressif/hal/include/esp32h2/esp32h2.cmake
  boot/espressif/hal/include/esp32s3/esp32s3.cmake
  boot/espressif/hal/include/stubs.h
  boot/espressif/hal/include/zephyr_compat.h
  boot/espressif/port/esp32h2/bootloader.conf
Owners: @almir-okato

espressif: reorganize iram_loader.text section to reduce its size
  boot/espressif/port/esp32/ld/bootloader.ld
  boot/espressif/port/esp32c2/ld/bootloader.ld
  boot/espressif/port/esp32c3/ld/bootloader.ld
  boot/espressif/port/esp32c6/ld/bootloader.ld
  boot/espressif/port/esp32h2/ld/bootloader.ld
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp32s3/ld/bootloader.ld
Owners: @almir-okato

espressif: flash: fix image wrong state after swap-scratch when flash encryption is enabled
  boot/espressif/hal/src/flash_encrypt.c
  boot/espressif/port/esp_mcuboot.c
  docs/readme-espressif.md
  docs/release-notes.d/espressif-fix-fw-update-with-hw-flash-encryption-enabled
Owners: @almir-okato, @d3zd3z

espressif: ci: add C2, C6 and H2 builds and adjust for hal v5.1.6
  .github/workflows/espressif.yaml
  boot/espressif/ci_configs/esp32-secureboot.conf
  boot/espressif/ci_configs/esp32c2-secureboot.conf
  boot/espressif/ci_configs/esp32c3-secureboot.conf
  boot/espressif/ci_configs/esp32c6-secureboot.conf
  boot/espressif/ci_configs/esp32h2-secureboot.conf
  boot/espressif/ci_configs/esp32s2-secureboot.conf
  boot/espressif/ci_configs/esp32s3-secureboot.conf
  boot/espressif/ci_configs/secureboot-sign-ec256.conf
  boot/espressif/ci_configs/secureboot-sign-ed25519.conf
  boot/espressif/ci_configs/secureboot-sign-rsa2048.conf
  boot/espressif/ci_configs/secureboot-sign-rsa3072.conf
  ci/espressif_install.sh
  ci/espressif_run.sh
Owners: @d3zd3z, @almir-okato

espressif: flash: refactor force aligned write and erase algorithms
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: add forced aligned flash erase
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: fix flash write/erase operation when encryption is enabled
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

boot: bootutil: fix image_index definition
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Fix log module registration
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: Fix minor issues
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Allow enabling logical sectors
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Support for logical sectors
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

sim: Test logical sectors
  sim/Cargo.toml
  sim/mcuboot-sys/Cargo.toml
  sim/mcuboot-sys/build.rs
Owners: @d3zd3z

bootutil: Fix minor issues
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: zephyr: boards: add stm32h750b_dk_stm32h750xx_ext_flash_app overlay
  boot/zephyr/boards/stm32h750b_dk_stm32h750xx_ext_flash_app.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: stm32h750b_dk_ext_flash_app: remove conf file
  boot/zephyr/boards/stm32h750b_dk.conf
Owners: @nordicjm, @de-nordic

Add macro
  boot/stm32/include/flash_map_backend/flash_map_backend.h
  boot/stm32/include/mcuboot_config/mcuboot_logging.h
  boot/stm32/include/mcuboot_config/mcuboot_rng.h
  boot/stm32/include/rng_stm32/rng_stm32.h
  boot/stm32/src/generate_key_pair.c
  boot/stm32/src/rng_stm32.c
Owners: @d3zd3z

boot: zephyr: Fix IO-based entrance method
  boot/zephyr/include/io/io.h
Owners: @nordicjm, @de-nordic

Add comments generate_key
  boot/stm32/src/generate_key_pair.c
Owners: @d3zd3z

EXAMPLE
  boot/stm32/src/generate_key_pair.c
Owners: @d3zd3z

update
  .gitignore
  .vscode/settings.json
Owners: @d3zd3z

Remove .vscode from tracking
  .vscode/settings.json
Owners: @d3zd3z

Secure boot for EFR32
  boot/bootutil/src/image_validate.c
  boot/zephyr/CMakeLists.txt
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/silabs/app_properties_config.h
  boot/zephyr/silabs/application_properties.c
  boot/zephyr/silabs/application_properties.h
Owners: @davidvincze, @nordicjm, @de-nordic

boot: bootutil: fix image_index definition
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

Add signing helper script, public key (autogen), and gitignore rules
  .gitignore
  boot/bootutil/src/autogen-pubkey.c
  sign.sh
Owners: @d3zd3z, @davidvincze

Move generation key file to bootutil, add bootutil_hw_rng, add macro for hwrng and gen key
  boot/bootutil/include/bootutil/bootutil_hwrng.h
  boot/bootutil/include/bootutil/generate_key_pair.h
  boot/bootutil/src/generate_key_pair.c
  boot/stm32/include/mcuboot_config/mcuboot_config.h
  boot/stm32/include/mcuboot_config/mcuboot_rng.h
Owners: @davidvincze, @d3zd3z

Modify name macro
  boot/bootutil/src/generate_key_pair.c
  boot/stm32/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @d3zd3z

workflows: zephyr: Fix zephyr builds
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

workflows: zephyr: Fix zephyr builds
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

zephyr: Added MCUBOOT_CHECK_HEADER_LOAD_ADDRESS Kconfig
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

zephyr: Deprecate MCUBOOT_VERIFY_IMG_ADDRESS
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

bootutil: Add MCUBOOT_CHECK_HEADER_LOAD_ADDRESS
  boot/bootutil/src/loader.c
Owners: @davidvincze
