Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

boot: zephyr: add ESP32-C5 support
  boot/zephyr/socs/esp32c5_hpcore.conf
Owners: @nordicjm, @de-nordic

bootutil: Parse key id for built in keys
  boot/bootutil/include/bootutil/crypto/ecdsa.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/image_validate.c
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

imgtool: Add support for multiple signatures
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

scripts/imgtool.py: Add PKCS#11 ECDSA P384 support
  docs/release-notes.d/add-imgtool-pkcs11-ecdsa.md
  scripts/imgtool.nix
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/imgtool_keys_pkcs11.py
  scripts/imgtool/keys/imgtool_keys_pkcs11_test.py
  scripts/imgtool/main.py
  scripts/requirements.txt
  scripts/setup.py
Owners: @d3zd3z

bootutil: Add support to key wrap using PSA key id
  boot/bootutil/include/bootutil/crypto/aes_kw.h
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/loader.c
  enc-aeskw-128.b64
  enc-aeskw-128_ns.b64
Owners: @davidvincze, @d3zd3z

bootutil: Remove AES key wrap Mbedtls APIs
  boot/bootutil/include/bootutil/crypto/aes_kw.h
Owners: @davidvincze

imgtool: Rename key-ids to psa-key-ids
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Add support for multi-sign of same type
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

scripts/imgtool.py: Allow token select by label
  scripts/imgtool/keys/imgtool_keys_pkcs11.py
Owners: @d3zd3z

bootutil: Add support for AES-KW encrypted images
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/include/bootutil/crypto/aes_ctr_psa.h
  boot/bootutil/include/bootutil/crypto/aes_kw.h
  boot/bootutil/src/encrypted_psa.c
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/aeskw.py
Owners: @davidvincze, @d3zd3z

BL2: Backport some changes from mcuboot PR#2305
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_validate.c
  docs/release-notes.d/multi-signature-support.md
  samples/mcuboot_config/mcuboot_config.template.h
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

bootutil: Fix signature verification for multi-sig images
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

imgtool: add multi-signing utils for append and remove
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: handle keys=None without crashing
  scripts/imgtool/image.py
Owners: @d3zd3z

imgtool: Add extra TLV support for image binding
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: add image binding TLV support
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/image_validate.c
  samples/mcuboot_config/mcuboot_config.template.h
Owners: @davidvincze, @d3zd3z

bootutil: Add platform boot hook after ram load
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/ram_load.c
Owners: @davidvincze

Build: Fix build error when BOOT_IMAGE_NUMBER=1
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

boot: zephyr: Add PSOC Edge case in flash_map_extended.c
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

boot: zephyr: rename CONFIG_MBEDTLS_CFG_FILE
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

Revert "boot: zephyr: add ESP32-P4 support"
  boot/zephyr/socs/esp32p4_hpcore.conf
Owners: @nordicjm, @de-nordic

Revert "boot: zephyr: add ESP32-C5 support"
  boot/zephyr/socs/esp32c5_hpcore.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: auto-enable TEST_RANDOM_GENERATOR
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

imgtool: Add TLV IDs for SHA3 in image.py
  scripts/imgtool/image.py
Owners: @d3zd3z

boot: zephyr: Add HW Image Swapping into boot flow
  boot/zephyr/Kconfig
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

Fix a few spurious executable files
  boot/mynewt/src/main.c
  docs/design.md
  testplan/mynewt/apps/blinky/src/main.c
Owners: @kasjer, @d3zd3z

Add a hook for implement image's pre-copying action
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

updates for 2.4.0-rc1 releases
  README.md
  boot/zephyr/VERSION
  docs/release-notes.d/fix-copy-size-swap-move-bootstrapping.md
  docs/release-notes.d/zephyr-riscv.md
  docs/release-notes.d/zephyr-sysbuild-hooks.md
  docs/release-notes.md
  repository.yml
  scripts/imgtool/__init__.py
Owners: @d3zd3z, @nordicjm, @de-nordic

boot: bootutil: crypto: do not check RSA struct version in new Mbed TLS
  boot/bootutil/include/bootutil/crypto/rsa.h
Owners: @davidvincze

boot: zephyr: enable AES key type and CTR alg when BOOT_ENCRYPT_IMAGE
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

imgtool: fix sign command with no signing key
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: fix sign command with no signing key
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: zephyr: link to `mbedTLS` only when `CONFIG_MBEDTLS_BUILTIN`
  boot/bootutil/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

bootutil: Fix format string in swap_run function log
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

boot: zephyr: migrate CDC ACM serial recovery to USB_DEVICE_STACK_NEXT
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig.serial_recovery
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840dongle_nrf52840.conf
  boot/zephyr/boards/nrf52840dongle_nrf52840_big.overlay
  boot/zephyr/main.c
  boot/zephyr/sample.yaml
  boot/zephyr/serial_adapter.c
  boot/zephyr/usb_cdc_acm_log_recovery.conf
  boot/zephyr/usb_cdc_acm_recovery.conf
  boot/zephyr/usbd_cdc_serial.c
  boot/zephyr/usbd_cdc_serial.h
  docs/readme-zephyr.md
Owners: @nordicjm, @de-nordic, @d3zd3z

docs: add serial recovery throughput tuning guide
  docs/serial_recovery.md
Owners: @d3zd3z

bootutil: loader: Fix invalid status assumption
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: loader: Add image to validated debug message
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: loader: Fix indentation
  boot/bootutil/src/loader.c
Owners: @davidvincze

ci: python version coverage
  .github/workflows/imgtool.yaml
  scripts/imgtool/keys/general.py
  scripts/setup.py
Owners: @d3zd3z

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
