Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

espressif: add checking for supported IDF version
  boot/espressif/CMakeLists.txt
  boot/espressif/tools/utils.cmake
  ci/espressif_install.sh
  docs/release-notes.d/espressif-idf-version-checking.md
Owners: @almir-okato, @d3zd3z

espressif: update readme-espressif.md documentation
  docs/readme-espressif.md
Owners: @d3zd3z

Update cmake script to sign images for mbed
  boot/mbed/mcuboot_imgtool.cmake
Owners: @d3zd3z

Update imgtool documentation related to encrypted images
  docs/imgtool.md
Owners: @d3zd3z

Update encrypted_images.md
  docs/encrypted_images.md
Owners: @d3zd3z

added missing MCUBOOT_VERSION_TWEAK in Zephyr port
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

zephyr: added address/size of bootloader/firmware shared memory area
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

added missing MCUBOOT_VERSION_TWEAK in Zephyr port
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: boot_serial: Fix uninitialised variables for upload
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add note on serial recovery fix
  docs/release-notes.d/serial-recovery-var.md
Owners: @d3zd3z

Improve TLV control under ALLOW_ROGUE_TLVS switch
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

scripts: imgtool: fix compression with encryption
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

espressif: increase esp32s2 dram_seg size
  boot/espressif/port/esp32s2/ld/bootloader.ld
Owners: @almir-okato

docs: release-notes: Add note on serial recovery fix
  docs/release-notes.d/serial-recovery-var.md
Owners: @d3zd3z

boot: boot_serial: Fix uninitialised variables for upload
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

espressif: extend loader data
  boot/espressif/hal/include/esp_mcuboot_image.h
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp_loader.c
  docs/release-notes.d/espressif-idf-version-checking.md
Owners: @almir-okato, @d3zd3z

espressif: extend loader data
  boot/espressif/hal/include/esp_mcuboot_image.h
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp_loader.c
  docs/release-notes.d/espressif-idf-version-checking.md
Owners: @almir-okato, @d3zd3z

zephyr: Remove scratch from flash_area_id_from_multi_image_slot
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

bootutil: Add missing MBEDTLS_ASN1_PARSE_C
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

bootutil: Add missing MBEDTLS_ASN1_PARSE_C
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

boot: zephyr: boards config of the stm32 disco kit
  boot/zephyr/boards/b_u585i_iot02a.conf
  boot/zephyr/boards/stm32f746g_disco.conf
  boot/zephyr/boards/stm32h735g_disco.conf
  boot/zephyr/boards/stm32h747i_disco_m7.conf
  boot/zephyr/boards/stm32h750b_dk.conf
  boot/zephyr/boards/stm32h7b3i_dk.conf
  boot/zephyr/boards/stm32l496g_disco.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h7s78 disco kit
  boot/zephyr/boards/stm32h7s78_dk.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: xspi1 for RWW on external NOR of stm32h7s78 disco kit
  boot/zephyr/boards/stm32h7s78_dk.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h7s3l8 nucleo
  boot/zephyr/boards/nucleo_h7s3l8.conf
Owners: @nordicjm, @de-nordic

zephyr: Fix usage of CONFIG_MBEDTLS_BUILTIN and ASN1
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

bootutil: Allow SHA512 with TinyCrypt
  boot/bootutil/include/bootutil/crypto/sha.h
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

bootutil: Enable hash calculation directly on storage
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Allow bypassing ASN.1 encoding for ED25519 key import
  boot/bootutil/src/image_ed25519.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

zephyr: Add Kconfig option CONFIG_BOOT_KEY_IMPORT_BYPASS_ASN
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: Fix usage of CONFIG_MBEDTLS_BUILTIN and ASN1
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: Add Kconfig and configuration for SHA on storage
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: PureEdDSA using ED25519
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_validate.c
  docs/design.md
Owners: @davidvincze, @d3zd3z

zephyr: Allow SHA512 with TinyCrypt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: Add Kconfig option to select PureEdDS
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

zephyr: Fix image encryption configuration for mbedTLS.
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: Add imgtool/cbor to pip packages installed by west
  zephyr/module.yml
  zephyr/requirements.txt
Owners: @nordicjm, @de-nordic

zephyr: Allow SHA512 with TinyCrypt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: Add Kconfig option to select PureEdDS
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

zephyr: Add Kconfig and configuration for SHA on storage
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Enable hash calculation directly on storage
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
