Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

zephyr: Add support for devices without erase and reduced erases
  boot/zephyr/Kconfig
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

mynewt: Add flash_sector_get_size
  boot/mynewt/flash_map_backend/include/flash_map_backend/flash_map_backend.h
Owners: @kasjer

zephyr: Add support for devices without erase and reduced erases
  boot/zephyr/Kconfig
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Add support for devices without erase and reduced erases
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze

boot: Enable MCUBOOT_DEV_WITH_ERASE in other systems
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

zephyr: Use flash_area_flatten in bs_custom_storage_erase
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

bootutil: PSA implementation of x25519 and ed25519 verification
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/pkg.yml
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

zephyr: Enable building ed25519 PSA variant with Zephyr
  boot/bootutil/zephyr/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

sim: Add device with larger sectors in slot 0 than in slot 1
  sim/src/image.rs
  sim/src/lib.rs
Owners: @d3zd3z

boot: bootutil: Fix invalid last sector computation for swap-scratch
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

bootutil: Allow bypassing ASN.1 encoding for ED25519 key import
  boot/bootutil/src/image_ed25519.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

zephyr: Add Kconfig option CONFIG_BOOT_KEY_IMPORT_BYPASS_ASN
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

Fix path for DT example
  docs/readme-zephyr.md
Owners: @d3zd3z

Fix path for DT example
  docs/readme-zephyr.md
Owners: @d3zd3z

bootutil: Do not compile boot_trailer_scramble_off when not needed
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

Revert "boot: Enable MCUBOOT_DEV_WITH_ERASE in other systems"
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

Revert "zephyr: Use flash_area_flatten in bs_custom_storage_erase"
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

Revert "zephyr: Add support for devices without erase and reduced erases"
  boot/zephyr/Kconfig
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

Revert "bootutil: Add support for devices without erase and reduced erases"
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze

Revert "zephyr: Use flash_area_flatten in bs_custom_storage_erase"
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

Revert "boot: Enable MCUBOOT_DEV_WITH_ERASE in other systems"
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

Revert "zephyr: Add support for devices without erase and reduced erases"
  boot/zephyr/Kconfig
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

Revert "bootutil: Add support for devices without erase and reduced erases"
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze

boot: zephyr: kconfig: Add new defaults option for FIH
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Add new defaults option for FIH
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: bootutil: Fix scratch trailer overwritten if image trailer is large
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: bootutil: Fix underflow in swap-scratch when trailer is large
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

sim: Avoid assuming trailer is sector-aligned for swap-scratch + max-align-32
  sim/mcuboot-sys/src/area.rs
  sim/src/image.rs
Owners: @d3zd3z

boot: bootutil: Ensure the whole trailer is erased when it is large
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: bootutil: Take into account scratch trailer when computing max image size
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: bootutil: Fix last sector index computation for swap-offset
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

sim: Make TLV size for ECDSA signature constant
  sim/src/tlv.rs
Owners: @d3zd3z

sim: Generate smallest possible oversized image
  sim/src/image.rs
Owners: @d3zd3z

sim: Fix incorrect trailer size computation for overwrite-only
  sim/src/image.rs
Owners: @d3zd3z

boot: bootutil: Fix last sector index computation for swap-offset
  boot/bootutil/src/swap_offset.c
Owners: @davidvincze

zephyr: Add support for devices without erase and reduced erases
  boot/zephyr/Kconfig
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

zephyr: Use flash_area_flatten in bs_custom_storage_erase
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

bootutil: Add support for devices without erase and reduced erases
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze

boot: Enable MCUBOOT_DEV_WITH_ERASE in other systems
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

boot: Reuse pointers for flash_area objects from state
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
