Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

Docs: Add release notes for multi-signature support
  docs/release-notes.d/multi-signature-support.md
Owners: @d3zd3z

sim: Test for boot_load_image_from_flash_to_sram API
  sim/mcuboot-sys/csupport/run.c
  sim/mcuboot-sys/src/c.rs
  sim/src/image.rs
  sim/tests/core.rs
Owners: @d3zd3z

ci: Clone tf-m from github mirror
  ci/fih-tests_run.sh
Owners: @d3zd3z

ci: Remove pointless '&&' command chaining
  ci/fih-tests_run.sh
Owners: @d3zd3z

boot: zephyr: defines FLASH device for external NOR
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

boot: boot_serial: Fix wrong slot ID for hook calls
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

ci: Clone tf-m from github mirror
  ci/fih-tests_run.sh
Owners: @d3zd3z

ci: Remove pointless '&&' command chaining
  ci/fih-tests_run.sh
Owners: @d3zd3z

bootutil: loader: fix: compile for single slot encrypted message
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: zephyr: boards config of the stm32h7rs target boards
  boot/zephyr/boards/nucleo_h7s3l8.conf
  boot/zephyr/boards/stm32h7s78_dk.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h573 disco kit
  boot/zephyr/boards/stm32h573i_dk.conf
Owners: @nordicjm, @de-nordic

boot: bootutil: Fix serial recovery issues
  boot/bootutil/include/bootutil/bootutil.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/zephyr/single_loader.c
Owners: @davidvincze, @nordicjm, @de-nordic

boot: bootutil: Fix single loader trailer size
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

boot: bootutil: Fix wrong define for single loader mode
  boot/bootutil/src/bootutil_priv.h
Owners: @davidvincze

boot: boot_serial: Fix wrong slot ID for hook calls
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: boot_serial: Fix slot info response on error
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: boot_serial: Fix upload for swap using offset mode
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: boot_serial: Fix indent
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: Reformat DTS files
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840_single_slot.overlay
  boot/zephyr/boards/nrf52840dk_qspi_nor_secondary.overlay
  boot/zephyr/boards/nrf52840dk_ram.overlay
  boot/zephyr/boards/nrf52840dk_ram_multi.overlay
Owners: @nordicjm, @de-nordic

bootutil: Use flash base address for direct hash
  boot/bootutil/src/image_validate.c
  docs/release-notes.d/fix-direct-hash-base-address.md
Owners: @davidvincze, @d3zd3z

boot: bootutil: Fix wrong define for single loader mode
  boot/bootutil/src/bootutil_priv.h
Owners: @davidvincze

boot: bootutil: Fix single loader trailer size
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

boot: bootutil: Fix serial recovery issues
  boot/bootutil/include/bootutil/bootutil.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/zephyr/single_loader.c
Owners: @davidvincze, @nordicjm, @de-nordic

docs: release-notes: Add details on some fixed issues
  docs/release-notes.d/single-slot-fixes.md
Owners: @d3zd3z

boot: boot_serial: Fix slot info response on error
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: boot_serial: Fix indent
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

boot: boot_serial: Fix upload for swap using offset mode
  boot/boot_serial/src/boot_serial.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add details on some fixed issues
  docs/release-notes.d/single-slot-fixes.md
Owners: @d3zd3z

bootutil: Use flash base address for direct hash
  boot/bootutil/src/image_validate.c
  docs/release-notes.d/fix-direct-hash-base-address.md
Owners: @davidvincze, @d3zd3z

zephyr: Remove legacy flash_area_get_sectors
  boot/zephyr/CMakeLists.txt
  boot/zephyr/flash_map_legacy.c
Owners: @nordicjm, @de-nordic

zephyr: Allow enabling logical sectors
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Support for logical sectors
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: zephyr: RAM cleanup debug loop
  boot/zephyr/Kconfig
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

Update boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: bootutil: declare fih_panic_loop() as noreturn
  boot/bootutil/include/bootutil/fault_injection_hardening.h
  boot/bootutil/src/fault_injection_hardening.c
Owners: @davidvincze

bootutil: Parse key id for built in keys
  boot/bootutil/include/bootutil/crypto/ecdsa.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/image_validate.c
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

imgtool: Add support for multiple signatures
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Add support for multi-sign of same type
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_img_security_cnt.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  samples/mcuboot_config/mcuboot_config.template.h
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @d3zd3z

Docs: Add release notes for multi-signature support
  docs/release-notes.d/multi-signature-support.md
Owners: @d3zd3z

imgtool: Rename key-ids to psa-key-ids
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
