Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

boot: Add config for dongle bare variant
  boot/zephyr/boards/nrf52840dongle_nrf52840_bare.conf
Owners: @nordicjm, @de-nordic

bootutil: Support for MCUBOOT_BYPASS_KEY_MATCH
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

zephyr: Add CONFIG_BOOT_BYPASS_KEY_MATCH
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

Align with Trusted Firmware security policy
  docs/SECURITY.md
  docs/release-notes.d/align-security-policy.md
Owners: @d3zd3z

boot: zephyr: adjust sample.yaml to pass USB deprecation process
  boot/zephyr/sample.yaml
Owners: @nordicjm, @de-nordic

bootutil: Remove pointless includes of asn1 headers
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Use common type name for key exchange context
  boot/bootutil/include/bootutil/crypto/ecdh_p256.h
  boot/bootutil/include/bootutil/crypto/ecdh_x25519.h
  boot/bootutil/include/bootutil/crypto/rsa.h
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: Replace uint16_t with size_t in hkdf
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: Replace uint16_t with size_t in hkdf
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: Use common type name for key exchange context
  boot/bootutil/include/bootutil/crypto/ecdh_p256.h
  boot/bootutil/include/bootutil/crypto/ecdh_x25519.h
  boot/bootutil/include/bootutil/crypto/rsa.h
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

boot: zephyr: boards config of the variant stm32 disco kit
  boot/zephyr/boards/b_u585i_iot02a_stm32u585xx_ext_flash_app.conf
  boot/zephyr/boards/stm32h750b_dk.conf
  boot/zephyr/boards/stm32h7b3i_dk_stm32h7b3xx_ext_flash_app.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: nrf54l15dk: Remove invalid Kconfigs
  boot/zephyr/boards/nrf54l15dk_nrf54l05_cpuapp.conf
  boot/zephyr/boards/nrf54l15dk_nrf54l10_cpuapp.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: Remove reference to old Kconfigs
  boot/zephyr/main.c
  boot/zephyr/prj.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: nrf52: Fix minimal config
  boot/zephyr/boards/nrf52_minimal_footprint.conf
Owners: @nordicjm, @de-nordic

boot: bootutil: image_validate: Add error on security counter fail
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootloader: Add bootloader requests
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/bootutil/include/bootutil/boot_request.h
  boot/bootutil/src/loader.c
  boot/bootutil/zephyr/CMakeLists.txt
  boot/bootutil/zephyr/src/boot_request_retention.c
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/Kconfig.firmware_loader
  boot/zephyr/Kconfig.serial_recovery
  boot/zephyr/firmware_loader.c
  boot/zephyr/hooks_find_next_slot.c
  boot/zephyr/hooks_sample.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/main.c
Owners: @davidvincze, @nordicjm, @de-nordic

bootutil: Add support for bootloader requests
  boot/bootutil/src/bootutil_public.c
Owners: @davidvincze

bootutil: Expose hardware security counter
  boot/bootutil/include/bootutil/boot_status.h
  boot/bootutil/src/boot_record.c
Owners: @davidvincze

adpat overlay and proj.conf to use mcuboot with signature and WL55.
  boot/zephyr/app.overlay
  boot/zephyr/prj.conf
Owners: @nordicjm, @de-nordic

bootutil: Expose hardware security counter
  boot/bootutil/include/bootutil/boot_status.h
  boot/bootutil/src/boot_record.c
Owners: @davidvincze

boot: zephyr: boards config of the variant stm32 disco kit
  boot/zephyr/boards/b_u585i_iot02a_stm32u585xx_ext_flash_app.conf
  boot/zephyr/boards/stm32h750b_dk.conf
  boot/zephyr/boards/stm32h7b3i_dk_stm32h7b3xx_ext_flash_app.conf
Owners: @nordicjm, @de-nordic

Add boot/stm32 code
  boot/stm32/include/boot_log_uart.h
  boot/stm32/include/flash_map/flash_map.h
  boot/stm32/include/flash_map_backend/flash_map_backend.h
  boot/stm32/include/mcuboot_config/mcuboot_config.h
  boot/stm32/include/mcuboot_config/mcuboot_logging.h
  boot/stm32/include/sysflash/sysflash.h
  boot/stm32/src/boot_log_uart.c
  boot/stm32/src/flash_map_backend.c
  boot/stm32/src/key.c
Owners: @d3zd3z

boot: zephyr: boards: stm32: set configs for some boards
  boot/zephyr/boards/nucleo_f207zg.conf
  boot/zephyr/boards/nucleo_g071rb.conf
Owners: @nordicjm, @de-nordic

bootutil: Fix X25519 HMAC-SHA512
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

imgtool: Fix x25519 TLV HMAC tag
  scripts/imgtool/image.py
Owners: @d3zd3z

bootutil: Expose hardware security counter
  boot/bootutil/include/bootutil/boot_status.h
  boot/bootutil/src/boot_record.c
Owners: @davidvincze

To permit to compile cause we are not windows or linux. Todo : to make rigth prng we need to use stm32 prng drivers. (hw drivers)
  ext/tinycrypt/lib/include/tinycrypt/ecc_platform_specific.h
Owners: @d3zd3z

loader: Add boot hook for slot selection
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Add support for slot selection boot hook
  boot/zephyr/Kconfig
  boot/zephyr/hooks_sample.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: add MCUBOOT_FLASH_HAS_HW_ENCRYPTION config-condition
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_scratch.c
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @almir-okato

espressif: fix build if hal_espressif is used as HAL layer for Espressif Port
  boot/espressif/CMakeLists.txt
  boot/espressif/hal/include/stubs.h
  boot/espressif/hal/include/zephyr_compat.h
Owners: @almir-okato

espressif: fix flash write/erase operation when encryption is enabled
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: add forced aligned flash erase
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

bootutil: Fix X25519 HMAC-SHA512
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

imgtool: Fix x25519 TLV HMAC tag
  scripts/imgtool/image.py
Owners: @d3zd3z

loader: Add boot hook for slot selection
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Add support for slot selection boot hook
  boot/zephyr/Kconfig
  boot/zephyr/hooks_sample.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: bootutil: image_validate: Add error on security counter fail
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

imgtool: Allow for AES256 encryption
  scripts/imgtool/image.py
Owners: @d3zd3z

zephyr: Add support for AES256
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic
