Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

bootutil: fix null pointer dereference in logging.
  boot/bootutil/src/tlv.c
Owners: @davidvincze

boot: zephyr: get base addres from dts for flexspi devices
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the variant stm32 disco kit
  boot/zephyr/boards/b_u585i_iot02a_stm32u585xx_ext_flash_app.conf
  boot/zephyr/boards/stm32h750b_dk.conf
  boot/zephyr/boards/stm32h7b3i_dk_stm32h7b3xx_ext_flash_app.conf
Owners: @nordicjm, @de-nordic

imgtool: improve key password support
  scripts/imgtool/main.py
Owners: @d3zd3z

docs: release-notes: Add changes for imgtool key password support
  docs/release-notes.d/imgtool-add-key-password-support.md
Owners: @d3zd3z

espressif: bump supported IDF code to v5.1.6
  boot/espressif/CMakeLists.txt
  boot/espressif/hal/include/esp32c2/esp32c2.cmake
  boot/espressif/hal/include/esp32c3/esp32c3.cmake
  boot/espressif/hal/include/esp32c6/esp32c6.cmake
  boot/espressif/hal/include/esp32h2/esp32h2.cmake
  boot/espressif/hal/include/esp32s3/esp32s3.cmake
  boot/espressif/hal/include/stubs.h
  boot/espressif/hal/include/zephyr_compat.h
  boot/espressif/port/esp32h2/bootloader.conf
Owners: @almir-okato

espressif: ci: add C2, C6 and H2 builds and adjust for hal v5.1.6
  .github/workflows/espressif.yaml
  boot/espressif/ci_configs/esp32-secureboot.conf
  boot/espressif/ci_configs/esp32c2-secureboot.conf
  boot/espressif/ci_configs/esp32c3-secureboot.conf
  boot/espressif/ci_configs/esp32c6-secureboot.conf
  boot/espressif/ci_configs/esp32h2-secureboot.conf
  boot/espressif/ci_configs/esp32s2-secureboot.conf
  boot/espressif/ci_configs/esp32s3-secureboot.conf
  boot/espressif/ci_configs/secureboot-sign-ec256.conf
  boot/espressif/ci_configs/secureboot-sign-ed25519.conf
  boot/espressif/ci_configs/secureboot-sign-rsa2048.conf
  boot/espressif/ci_configs/secureboot-sign-rsa3072.conf
  ci/espressif_install.sh
  ci/espressif_run.sh
Owners: @d3zd3z, @almir-okato

espressif: reorganize iram_loader.text section to reduce its size
  boot/espressif/port/esp32/ld/bootloader.ld
  boot/espressif/port/esp32c2/ld/bootloader.ld
  boot/espressif/port/esp32c3/ld/bootloader.ld
  boot/espressif/port/esp32c6/ld/bootloader.ld
  boot/espressif/port/esp32h2/ld/bootloader.ld
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp32s3/ld/bootloader.ld
Owners: @almir-okato

espressif: flash: refactor force aligned write and erase algorithms
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: flash: fix image wrong state after swap-scratch when flash encryption is enabled
  boot/espressif/hal/src/flash_encrypt.c
  boot/espressif/port/esp_mcuboot.c
  docs/readme-espressif.md
  docs/release-notes.d/espressif-fix-fw-update-with-hw-flash-encryption-enabled
Owners: @almir-okato, @d3zd3z

espressif: add forced aligned flash erase
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

espressif: fix flash write/erase operation when encryption is enabled
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

boot: zephyr: Cleanup RAM by default
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

ci: Use fih-test container from GHCR
  .github/workflows/fih_tests.yaml
  ci/fih-tests_config.sh
  ci/fih-tests_install.sh
  ci/fih-tests_run.sh
  ci/fih-tests_version.sh
Owners: @d3zd3z

ci: Use fih-test container from GHCR
  .github/workflows/fih_tests.yaml
  ci/fih-tests_config.sh
  ci/fih-tests_install.sh
  ci/fih-tests_run.sh
  ci/fih-tests_version.sh
Owners: @d3zd3z

bootutil: Support for logical sectors
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Allow enabling logical sectors
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: zephyr: config: Allow custom MCUBOOT_BOOT_MAX_ALIGN
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: bootutil: Fix upgrade only serial recovery slot info
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

Revert "samples: compression_test"
  samples/compression_test/README.txt
  samples/compression_test/independent_cmp.c
Owners: @d3zd3z

boot: bootutil: Fix upgrade only serial recovery slot info
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

Revert "samples: compression_test"
  samples/compression_test/README.txt
  samples/compression_test/independent_cmp.c
Owners: @d3zd3z

Revert "samples: compression_test"
  samples/compression_test/README.txt
  samples/compression_test/independent_cmp.c
Owners: @d3zd3z

zephyr: Remove duplicate zephyr module line
  zephyr/module.yml
Owners: @nordicjm, @de-nordic

zephyr: Remove duplicate zephyr module line
  zephyr/module.yml
Owners: @nordicjm, @de-nordic

zephyr: nRF54L05 and L10 configuration with LTO enabled
  boot/zephyr/socs/nrf54l05_cpuapp.conf
  boot/zephyr/socs/nrf54l10_cpuapp.conf
Owners: @nordicjm, @de-nordic

zephyr: nRF54L05 and L10 configuration with LTO enabled
  boot/zephyr/socs/nrf54l05_cpuapp.conf
  boot/zephyr/socs/nrf54l10_cpuapp.conf
Owners: @nordicjm, @de-nordic

scripts: imgtool: Add script to combine multiple image as single
  scripts/combine_images.py
  scripts/combine_images.yaml
Owners: @d3zd3z

boot: bootutils: Add image in image support
  boot/bootutil/src/loader.c
Owners: @davidvincze

workflow: zephyr: Fix zephyr docker image issues
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

workflow: zephyr: Fix zephyr docker image issues
  .github/workflows/zephyr_build.yaml
Owners: @d3zd3z

boot: bootutil: write_sz fix
  boot/bootutil/src/bootutil_priv.h
Owners: @davidvincze

hooks: Use dedicated type for slot numbers
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/zephyr/hooks_sample.c
Owners: @davidvincze, @nordicjm, @de-nordic

boot: zephyr: Fix IO-based entrance method
  boot/zephyr/include/io/io.h
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: delete frdm_mcxa156 configuration
  boot/zephyr/boards/frdm_mcxa156.conf
Owners: @nordicjm, @de-nordic

Add generation key and convert to pkcs8
  .vscode/settings.json
  boot/stm32/include/generate_key_pair/generate_key_pair.h
  boot/stm32/src/flash_map_backend.c
  boot/stm32/src/generate_key_pair.c
  boot/stm32/src/key.c
  ext/mbedtls-pkcs8/pkcs8secp256write.c
Owners: @d3zd3z

boot: zephyr: config: Introduce MCUBOOT_BOOT_MAX_ALIGN Kconfig symbol
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: delete frdm_mcxa156 configuration
  boot/zephyr/boards/frdm_mcxa156.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: config: Introduce MCUBOOT_BOOT_MAX_ALIGN Kconfig symbol
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

hooks: Use dedicated type for slot numbers
  boot/bootutil/include/bootutil/boot_hooks.h
  boot/zephyr/hooks_sample.c
Owners: @davidvincze, @nordicjm, @de-nordic
