Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

bootutil: ed25519 psa: define bootutil_crypto_backend_init
  boot/bootutil/src/ed25519_psa.c
Owners: @davidvincze

zephyr: ED25519 PSA enabled MCUBOOT_CRYPTO_BACKEND_HAS_INIT
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

zephyr: Call bootutil_crypto_backend_init in main
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

bootutil: Add prototypes for crypto backend initialization API
  boot/bootutil/include/bootutil/crypto/backend.h
Owners: @davidvincze

bootutil: ed25519 PSA: Remove unneeded psa_crypto_inits
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: Replace bootutil_verify_img with bootutil_verify_sig
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Remove bootutil_verify_img
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

bootutil: ed25519 psa: Merge bootutil_verify_sig and bootutil_verify
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

boot: zephyr: select `IS_BOOTLOADER`
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: Fix Espressif build issues
  boot/zephyr/main.c
  boot/zephyr/socs/esp32c6_hpcore.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: Add correct ECDSA kconfig
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: bootutil: loader: Fix bootstrap copying in swap move mode
  boot/bootutil/src/loader.c
  docs/release-notes.d/fix-copy-size-swap-move-bootstrapping.md
Owners: @davidvincze, @d3zd3z

zephyr: mcuboot_config: align nrfx_wdt usage
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

zephyr: remove NRFX_WDT instance symbols
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: remove NRFX_WDT instance symbols
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: mcuboot_config: align nrfx_wdt usage
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

sim: Add PSOC Edge E8x device with the new max-align-16 feature
  .github/workflows/sim.yaml
  sim/Cargo.toml
  sim/mcuboot-sys/Cargo.toml
  sim/mcuboot-sys/build.rs
  sim/src/image.rs
  sim/src/lib.rs
Owners: @d3zd3z

boot: zephyr: Move watchdog code to separate file
  boot/zephyr/CMakeLists.txt
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/include/watchdog.h
  boot/zephyr/watchdog.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add note on Zephyr watchdog changes
  docs/release-notes.d/zephyr-watchdog.md
Owners: @d3zd3z

boot: zephyr: Add watchdog setup/timeout configurability options
  boot/zephyr/Kconfig
  boot/zephyr/watchdog.c
Owners: @nordicjm, @de-nordic

boot: zephyr: Remove weird custom key directory handling
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Only show signature file when needed
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Move modes to choice Kconfig
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

docs: release-notes: Add note on fixed zephyr build system usage
  docs/release-notes.d/zephyr-folder-paths.md
Owners: @d3zd3z

bootutil: Add manifest-based loader for Direct XIP
  boot/bootutil/CMakeLists.txt
  boot/bootutil/src/loader.c
  boot/bootutil/src/loader_manifest_xip.c
  boot/zephyr/CMakeLists.txt
Owners: @davidvincze, @nordicjm, @de-nordic

doc: Add manifest conceptual description
  docs/design.md
Owners: @d3zd3z

imgtool: Add a possibility to attach manifest TLV
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

design: Fix UUID TLVs
  docs/design.md
Owners: @d3zd3z

boot: Add MCUboot manifest TLV
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/mcuboot_manifest.h
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/mcuboot_manifest.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

boot: zephyr: Add ECDSA support using mbedTLS
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: Fix Espressif build issues
  boot/zephyr/main.c
  boot/zephyr/socs/esp32c6_hpcore.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: select `IS_BOOTLOADER`
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

scripts: imgtool: Fix verification with public ed25519 key file
  scripts/imgtool/image.py
Owners: @d3zd3z

imgtool: handle keys=None without crashing
  scripts/imgtool/image.py
Owners: @d3zd3z

docs: release-notes: Add note on fixed zephyr build system usage
  docs/release-notes.d/zephyr-folder-paths.md
Owners: @d3zd3z

boot: zephyr: Remove weird custom key directory handling
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Only show signature file when needed
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Move modes to choice Kconfig
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: Add watchdog setup/timeout configurability options
  boot/zephyr/Kconfig
  boot/zephyr/watchdog.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add note on Zephyr watchdog changes
  docs/release-notes.d/zephyr-watchdog.md
Owners: @d3zd3z
