Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

boot: zephyr: kconfig: Remove superflous default n lines
  boot/zephyr/Kconfig
  boot/zephyr/Kconfig.serial_recovery
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Remove superflous default n lines
  boot/zephyr/Kconfig
  boot/zephyr/Kconfig.serial_recovery
Owners: @nordicjm, @de-nordic

zephyr: Add support for devices without erase and reduced erases
  boot/zephyr/Kconfig
  boot/zephyr/include/flash_map_backend/flash_map_backend.h
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Add support for devices without erase and reduced erases
  boot/boot_serial/src/boot_serial.c
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @nordicjm, @de-nordic, @davidvincze

zephyr: Use flash_area_flatten in bs_custom_storage_erase
  boot/zephyr/boot_serial_extension_zephyr_basic.c
Owners: @nordicjm, @de-nordic

boot: Enable MCUBOOT_DEV_WITH_ERASE in other systems
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

imgtool: dumpinfo: Avoid exit and use return
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Fix ed25519 pure signature verification
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

zephyr: Fix translation of PSA Kconfig to MCUboot config
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Fix ed25519 pure signature verification
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

zephyr: Deselect MBEDTLS_KEY_EXCHANGE_RSA_ENABLED
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: Fix translation of PSA Kconfig to MCUboot config
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot/bootutil/ram_load: Add flash area pointer to bootloader state
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/ram_load.c
  boot/zephyr/single_loader.c
  samples/runtime-source/zephyr/hooks/hooks.c
Owners: @davidvincze, @nordicjm, @de-nordic

boot/zephyr: Use MCUBOOT_RAM_LOAD instead of CONFIG_BOOT_RAM_LOAD
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot/mynewt: remove redundant mbedtls flag and enable CTR
  boot/boot_serial/test/syscfg.yml
  boot/bootutil/pkg.yml
  ci/mynewt_keys/enc_rsa/pkg.yml
Owners: @nordicjm, @de-nordic, @davidvincze, @d3zd3z

boot: zephyr: Only supply MBEDTLS config file path if set
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

zephyr: flash map: fix comparison signedness
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

boot: zephyr: Only supply MBEDTLS config file path if set
  boot/zephyr/CMakeLists.txt
Owners: @nordicjm, @de-nordic

docs: compression_format: Fix tags
  docs/compression_format.md
Owners: @d3zd3z

boot: espressif: integrate Espressif Port with Zephyr sysbuild system
  boot/espressif/CMakeLists.txt
  boot/espressif/Kconfig
  boot/espressif/hal/CMakeLists.txt
  boot/espressif/prj.conf
  boot/espressif/zephyr/include/stubs.h
  boot/espressif/zephyr/socs/esp32.conf
  boot/espressif/zephyr/socs/esp32c2.conf
  boot/espressif/zephyr/socs/esp32c3.conf
  boot/espressif/zephyr/socs/esp32c6.conf
  boot/espressif/zephyr/socs/esp32s2.conf
  boot/espressif/zephyr/socs/esp32s3.conf
  boot/espressif/zephyr/zephyr.cmake
Owners: @almir-okato, @nordicjm, @de-nordic

boot: espressif: adjust CMakeLists.txt indentation
  boot/espressif/CMakeLists.txt
Owners: @almir-okato

doc: update documentation for mcuboot to document ram-load with revert
  docs/design.md
  docs/release-notes.d/enable-ram-load-revert.md
Owners: @d3zd3z

boot: zephyr: add ram_load overlays for nrf52840dk and mimxrt1050_evk boards
  boot/zephyr/boards/mimxrt1050_evk_mimxrt1052_hyperflash_ram_load.overlay
  boot/zephyr/boards/nrf52840dk_nrf52840_ram_load.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: add support for revert mode with ramload
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

boot: zephyr: add support for mcx_n9xx_evk
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0.conf
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0_qspi.conf
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0_qspi.overlay
Owners: @nordicjm, @de-nordic

imgtool: dumpinfo: Avoid exit and use return
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/main.py
Owners: @d3zd3z

zephyr: flash map: fix comparison signedness
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

docs: compression_format: Fix tags
  docs/compression_format.md
Owners: @d3zd3z

sim: Make TLV size for ECDSA signature constant
  sim/src/tlv.rs
Owners: @d3zd3z

sim: Generate smallest possible oversized image
  sim/src/image.rs
Owners: @d3zd3z

sim: Fix incorrect trailer size computation for overwrite-only
  sim/src/image.rs
Owners: @d3zd3z

bootutil: Make boot_get_first_trailer_sector available for swap-move
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

bootutil: swap-move: Allow unaligned trailer sector during move
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

bootutil: swap-move: Erase secondary trailer during swap
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

bootutil: swap-move: Avoid rewriting the secondary trailer on revert
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

bootutil: swap-move: Remove check of the image size in swap_run
  boot/bootutil/src/swap_move.c
Owners: @davidvincze

bootutil: swap-move: Update maximum size to allow unaligned trailers
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

sim: Fix largest image computation for swap-move and swap-offset
  sim/src/image.rs
Owners: @d3zd3z

sim: swap-move: Allow firmware data in the first trailer sector
  sim/src/image.rs
Owners: @d3zd3z

sim: swap-move: Update expected post-upgrade secondary trailer content
  sim/src/image.rs
Owners: @d3zd3z

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
