Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

boot: bootutil: bootutil_misc: Fix max image size for single images
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

bootutil: Small sleanup in image.h
  boot/bootutil/include/bootutil/image.h
Owners: @davidvincze

Updates for 2.2.0-rc2 release
  README.md
  docs/index.md
  docs/release-notes.md
  scripts/imgtool/__init__.py
Owners: @d3zd3z

doc: release-notes: Add note on fix for single images
  docs/release-notes.md
Owners: @d3zd3z

doc: release-notes: Add note on fix for single images
  docs/release-notes.md
Owners: @d3zd3z

Decrypt_key: One context, common defs
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: Remove redundant ALIGN definitions
  boot/bootutil/include/bootutil/bootutil_public.h
Owners: @davidvincze

bootutil: Move all encryption TLV helper identifiers into one place
  boot/bootutil/include/bootutil/bootutil_macros.h
  boot/bootutil/include/bootutil/crypto/rsa.h
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: Replace local identifiers with common definitions
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: boot_decrypt_key: Only one bootutil_hmac_sha256_drop needed
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: Remove duplicate call mbedtls_asn1_get_tag
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

Hkdf uses size_t
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

boot_decrypt_key: Move ECIES AES key decryption out
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: Small cleanup in image.h
  boot/bootutil/include/bootutil/image.h
Owners: @davidvincze

boot: zephyr: boards: delete mcxn947 configuration.
  boot/zephyr/boards/frdm_mcxn947_mcxn947_cpu0.conf
  boot/zephyr/boards/frdm_mcxn947_mcxn947_cpu0_qspi.conf
  boot/zephyr/boards/frdm_mcxn947_mcxn947_cpu0_qspi.overlay
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0.conf
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0_qspi.conf
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0_qspi.overlay
Owners: @nordicjm, @de-nordic

bootutil: Improve logging coverage
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze

boot: zephyr: update NXP MPU define to new name
  boot/zephyr/arm_cleanup.c
  boot/zephyr/include/arm_cleanup.h
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

doc: Add information on supporting SHA512 with ECIES-X25519
  docs/encrypted_images.md
Owners: @d3zd3z

zephyr: Improve logging
  boot/zephyr/firmware_loader.c
  boot/zephyr/main.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic

bootutil: Add support for HAMC-SHA512 with ECIES-X25519
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

zephyr: Support for HKDF/HMAC with SHA512
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

imgtool: Add support for HMAC/HKDF-SHA512 with ECIES-X25519
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Parse key id for built in keys
  boot/bootutil/include/bootutil/crypto/ecdsa.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/image_validate.c
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

imgtool: Add support for multiple signatures
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: zephyr: update NXP MPU define to new name
  boot/zephyr/arm_cleanup.c
  boot/zephyr/include/arm_cleanup.h
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: delete mcxn947 configuration.
  boot/zephyr/boards/frdm_mcxn947_mcxn947_cpu0.conf
  boot/zephyr/boards/frdm_mcxn947_mcxn947_cpu0_qspi.conf
  boot/zephyr/boards/frdm_mcxn947_mcxn947_cpu0_qspi.overlay
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0.conf
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0_qspi.conf
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0_qspi.overlay
Owners: @nordicjm, @de-nordic

Updates for 2.2.0 release
  README.md
  docs/index.md
  docs/release-notes.md
  scripts/imgtool/__init__.py
Owners: @d3zd3z

bootutil: Add support for multi-sign of same type
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_image_hash.c
  boot/bootutil/src/bootutil_img_security_cnt.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @d3zd3z

imgtool: Rename key-ids to psa-key-ids
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

Updates for 2.2.0 release
  README.md
  docs/index.md
  docs/release-notes.md
  scripts/imgtool/__init__.py
Owners: @d3zd3z

zephyr: Improve logging
  boot/zephyr/firmware_loader.c
  boot/zephyr/main.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic

bootutil: Improve logging coverage
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze

bootutil: Fix boot_scramble_region escaping flash area
  boot/bootutil/src/loader.c
Owners: @davidvincze

scripts: imgtool: Compression of no header-padded images
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: fix dependency on click version
  scripts/tests/test_commands.py
Owners: @d3zd3z

boot: zephyr: move CDC ACM serial to the new device stack
  boot/zephyr/Kconfig.serial_recovery
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840dongle_nrf52840.conf
  boot/zephyr/serial_adapter.c
  boot/zephyr/usb_cdc_acm_log_recovery.conf
  boot/zephyr/usb_cdc_acm_recovery.conf
Owners: @nordicjm, @de-nordic

imgtool: fix dependency on click version
  scripts/tests/test_commands.py
Owners: @d3zd3z

scripts: imgtool: Compression of no header-padded images
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

sim: Test for boot_load_image_from_flash_to_sram API
  sim/mcuboot-sys/csupport/run.c
  sim/mcuboot-sys/src/c.rs
  sim/src/image.rs
  sim/tests/core.rs
Owners: @d3zd3z

boot: zephyr: Add Cortex-R support
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
