Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

bootutil: imgtool: Fix CI failures
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/image_validate.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  scripts/imgtool/image.py
  scripts/imgtool/main.py
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

mynewt: Update to release 2.2.0
  repository.yml
Owners: @d3zd3z

boot: Provide default configuration for nRF54H20
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: Add Cortex-R support
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: zephyr: Add support for Cortex-R cleanup before final jump
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/cleanup/arm_cortex_m.c
  boot/zephyr/cleanup/arm_cortex_r.c
  boot/zephyr/include/arm_cleanup.h
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add changes for Cortex-R booting
  docs/release-notes.d/add-cortex-r-support-00-basic.md
  docs/release-notes.d/add-cortex-r-support-01-cleanup-core.md
Owners: @d3zd3z

zephyr: boards: nrf - remove redundant multithreading configuration
  boot/zephyr/boards/nrf52840dk_qspi_secondary_boot.conf
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
Owners: @nordicjm, @de-nordic

bootutil: Unify app_max_size() implementations
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

zephyr: Execute crypto key houseekping
  boot/zephyr/CMakeLists.txt
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

bootutil: Add bootutil_crypto_key_housekeeping definition
  boot/bootutil/include/bootutil/bootutil_crypto.h
  boot/bootutil/src/crypto_common.c
  boot/zephyr/main.c
Owners: @davidvincze, @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h7rs target boards
  boot/zephyr/boards/nucleo_h7s3l8.conf
  boot/zephyr/boards/stm32h7s78_dk.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h573 disco kit
  boot/zephyr/boards/stm32h573i_dk.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: defines FLASH device for external NOR
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

zephyr: Add zephyr samples folder to list of samples
  zephyr/module.yml
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: Remove outdated nrf54l15pdk board config
  boot/zephyr/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
Owners: @nordicjm, @de-nordic

boot: Add config for dongle bare variant
  boot/zephyr/boards/nrf52840dongle_nrf52840_bare.conf
Owners: @nordicjm, @de-nordic

imgtool: Add support for multiple signatures
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

Docs: Add release notes for multi-signature support
  docs/release-notes.d/multi-signature-support.md
Owners: @d3zd3z

imgtool: Rename key-ids to psa-key-ids
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Parse key id for built in keys
  boot/bootutil/include/bootutil/crypto/ecdsa.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/image_validate.c
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

bootutil: Add support for multi-sign of same type
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_img_security_cnt.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  samples/mcuboot_config/mcuboot_config.template.h
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @d3zd3z

bootutil: imgtool: Fix CI failures
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/image_validate.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  ci/fih-tests_run.sh
  ci/fih_test_docker/execute_test.sh
  scripts/imgtool/image.py
  scripts/imgtool/main.py
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

mynewt: Update to release 2.2.0
  repository.yml
Owners: @d3zd3z

loader: Allow to specify slot number in version
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
  docs/imgtool.md
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

bootutil: Unify app_max_size() implementations
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

bootutil: Fix comment formatting
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Fix comment formatting
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: (refactor) split image_validate.c into separate files
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_img_security_cnt.c
  boot/bootutil/src/image_validate.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

zephyr: Remove legacy flash_area_get_sectors
  boot/zephyr/CMakeLists.txt
  boot/zephyr/flash_map_legacy.c
Owners: @nordicjm, @de-nordic

zephyr: Allow enabling logical sectors
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Support for logical sectors
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

mbedtls: Move local mbedtls to v3.6.0
  sim/mcuboot-sys/build.rs
  sim/mcuboot-sys/csupport/config-ec-psa.h
  sim/mcuboot-sys/csupport/config-rsa-kw.h
Owners: @d3zd3z

doc: update documentation for mcuboot to document ram-load with revert
  docs/design.md
  docs/release-notes.d/enable-ram-load-revert.md
Owners: @d3zd3z

boot: zephyr: add ram_load overlays for nrf52840dk and mimxrt1050_evk boards
  boot/zephyr/boards/mimxrt1050_evk_mimxrt1052_hyperflash_ram_load.overlay
  boot/zephyr/boards/nrf52840dk_nrf52840_ram_load.overlay
Owners: @nordicjm, @de-nordic

boot: zephyr: add support for revert mode with ramload
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @nordicjm, @de-nordic

espressif: fix RSA sign build after MbedTLS version update
  boot/espressif/include/crypto_config/mbedtls_custom_config.h
  boot/espressif/include/crypto_config/rsa.cmake
Owners: @almir-okato

espressif: fix RSA sign build after MbedTLS version update
  boot/espressif/include/crypto_config/mbedtls_custom_config.h
  boot/espressif/include/crypto_config/rsa.cmake
Owners: @almir-okato

mbedtls: Move local mbedtls to v3.6.0
  sim/mcuboot-sys/build.rs
  sim/mcuboot-sys/csupport/config-ec-psa.h
  sim/mcuboot-sys/csupport/config-rsa-kw.h
Owners: @d3zd3z

bootutil: Add retry mechanism for image validation
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
Owners: @davidvincze, @nordicjm, @de-nordic

zephyr: boards: nrf - remove redundant multithreading configuration
  boot/zephyr/boards/nrf52840dk_qspi_secondary_boot.conf
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
Owners: @nordicjm, @de-nordic
