Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

bootutil: Move primary/secondary slot definition to bootutil_public
  boot/boot_serial/src/boot_serial.c
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
  boot/zephyr/flash_check.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic, @davidvincze

boot: Enable Encryption with PSA + ECDSA
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/zephyr/CMakeLists.txt
Owners: @davidvincze, @nordicjm, @de-nordic

boot: bootutil: Fix pure image validation check with offset swap
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

Fixed str and int concat in key loading exceptions
  scripts/imgtool/keys/__init__.py
Owners: @d3zd3z

espressif: move the virtual eFuse offset config to .conf file
  boot/espressif/hal/include/esp32/sdkconfig.h
  boot/espressif/hal/include/esp32c2/sdkconfig.h
  boot/espressif/hal/include/esp32c3/sdkconfig.h
  boot/espressif/hal/include/esp32c6/sdkconfig.h
  boot/espressif/hal/include/esp32h2/sdkconfig.h
  boot/espressif/hal/include/esp32s2/sdkconfig.h
  boot/espressif/hal/include/esp32s3/sdkconfig.h
  boot/espressif/port/esp32/bootloader.conf
  boot/espressif/port/esp32c2/bootloader.conf
  boot/espressif/port/esp32c3/bootloader.conf
  boot/espressif/port/esp32c6/bootloader.conf
  boot/espressif/port/esp32h2/bootloader.conf
  boot/espressif/port/esp32s2/bootloader.conf
  boot/espressif/port/esp32s3/bootloader.conf
  docs/readme-espressif.md
  docs/release-notes.d/espressif-move-virtual-efuse-offset-config.md
Owners: @almir-okato, @d3zd3z

bootutil: Move primary/secondary slot definition to bootutil_public
  boot/boot_serial/src/boot_serial.c
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
  boot/bootutil/src/ram_load.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
  boot/zephyr/flash_check.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic, @davidvincze

bootutil: src: image_validate.c: remove mbedtls headers
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

zephyr: Add Kconfig-based VID and CID checks
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/Kconfig.uuid.template
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/main.c
  boot/zephyr/mcuboot_uuid.c
Owners: @nordicjm, @de-nordic

boot: Add VID and CID checks
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/mcuboot_uuid.h
  boot/bootutil/src/image_validate.c
  docs/design.md
Owners: @davidvincze, @d3zd3z

imgtool: Add support for VID and CID
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: src: image_validate.c: remove mbedtls headers
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

espressif: move the virtual eFuse offset config to .conf file
  boot/espressif/hal/include/esp32/sdkconfig.h
  boot/espressif/hal/include/esp32c2/sdkconfig.h
  boot/espressif/hal/include/esp32c3/sdkconfig.h
  boot/espressif/hal/include/esp32c6/sdkconfig.h
  boot/espressif/hal/include/esp32h2/sdkconfig.h
  boot/espressif/hal/include/esp32s2/sdkconfig.h
  boot/espressif/hal/include/esp32s3/sdkconfig.h
  boot/espressif/port/esp32/bootloader.conf
  boot/espressif/port/esp32c2/bootloader.conf
  boot/espressif/port/esp32c3/bootloader.conf
  boot/espressif/port/esp32c6/bootloader.conf
  boot/espressif/port/esp32h2/bootloader.conf
  boot/espressif/port/esp32s2/bootloader.conf
  boot/espressif/port/esp32s3/bootloader.conf
  docs/readme-espressif.md
  docs/release-notes.d/espressif-move-virtual-efuse-offset-config.md
Owners: @almir-okato, @d3zd3z

boot: Add VID and CID checks
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/mcuboot_uuid.h
  boot/bootutil/src/image_validate.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/main.c
  docs/design.md
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

scripts/imgtool.py: Add PKCS#11 ECDSA P384 support
  docs/release-notes.d/add-imgtool-pkcs11-ecdsa.md
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/imgtool_keys_pkcs11.py
  scripts/imgtool/keys/imgtool_keys_pkcs11_test.py
  scripts/imgtool/main.py
  scripts/requirements.txt
Owners: @d3zd3z

imgtool: Add support for VID and CID
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

imgtool: Add support for VID and CID
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: Add VID and CID checks
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/mcuboot_uuid.h
  boot/bootutil/src/image_validate.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/main.c
  docs/design.md
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

imgtool: Add sha512 to allowed configurations for ECDSA256P1
  scripts/imgtool/image.py
Owners: @d3zd3z

imgtool: max alignment to 128 bytes for Renesas
  boot/bootutil/include/bootutil/bootutil_public.h
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @davidvincze, @d3zd3z

mynewt: Fix flash_area_sector_from_off
  boot/mynewt/flash_map_backend/src/flash_map_extended.c
Owners: @kasjer

boot: Enable Encryption with PSA + ECDSA
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/zephyr/CMakeLists.txt
Owners: @davidvincze, @nordicjm, @de-nordic

boot: zephyr: get base addres from dts for flexspi devices
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

imgtool: Add sha512 to allowed configurations for ECDSA256P1
  scripts/imgtool/image.py
Owners: @d3zd3z

fix flash_map_backend
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/stm32/include/generate_key_pair/generate_key_pair.h
  boot/stm32/include/mcuboot_config/mcuboot_config.h
  boot/stm32/src/boot_log_uart.c
  boot/stm32/src/flash_map_backend.c
  boot/stm32/src/generate_key_pair.c
  ext/mbedtls-asn1/include/mbedtls/mbedtls_config.h
Owners: @davidvincze, @d3zd3z

key generator
  boot/stm32/include/key/key.h
  boot/stm32/src/generate_key_pair.c
  boot/stm32/src/key.c
Owners: @d3zd3z

bootutil: Support for logical sectors
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Allow enabling logical sectors
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

mynewt: Fix flash_area_sector_from_off
  boot/mynewt/flash_map_backend/src/flash_map_extended.c
Owners: @kasjer

boot: bootutil: Fix bootutil_find_key definition
  boot/bootutil/src/bootutil_find_key.c
Owners: @davidvincze

boot: bootutil: Fix bootutil_find_key definition
  boot/bootutil/src/bootutil_find_key.c
Owners: @davidvincze

scripts/imgtool.py: Add PKCS#11 ECDSA P384 support
  docs/release-notes.d/add-imgtool-pkcs11-ecdsa.md
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/imgtool_keys_pkcs11.py
  scripts/imgtool/keys/imgtool_keys_pkcs11_test.py
  scripts/imgtool/main.py
  scripts/requirements.txt
Owners: @d3zd3z

zephyr: Add basic UUID checks implementation
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/uuid/CMakeLists.txt
  boot/zephyr/uuid/Kconfig
  boot/zephyr/uuid/Kconfig.uuid.template
  boot/zephyr/uuid/uuid.c
Owners: @nordicjm, @de-nordic

boot: Enable Encryption with PSA + ECDSA
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/zephyr/CMakeLists.txt
Owners: @davidvincze, @nordicjm, @de-nordic

bootutil: fix null pointer dereference in logging.
  boot/bootutil/src/tlv.c
Owners: @davidvincze

boot/zephyr: fix compilation errors in logging.
  boot/zephyr/firmware_loader.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic

zephyr: Kconfig to control MCUBOOT_USE_TLV_ALLOW_LIST
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Add MCUBOOT_USE_TLV_ALLOW_LIST
  boot/bootutil/src/image_validate.c
  docs/release-notes.d/tlv-allow-list.md
Owners: @davidvincze, @d3zd3z

sys: Add MCUBOOT_USE_TLV_ALLOW_LIST to mcuboot_config.h
  boot/cypress/MCUBootApp/config/mcuboot_config/mcuboot_config.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
  boot/mbed/include/mcuboot_config/mcuboot_config.h
  boot/mynewt/mcuboot_config/include/mcuboot_config/mcuboot_config.h
  boot/nuttx/include/mcuboot_config/mcuboot_config.h
Owners: @romanjoe, @almir-okato, @d3zd3z, @kasjer, @michallenc

doc: Add information on TLV allow list
  docs/design.md
Owners: @d3zd3z

boot/zephyr: fix compilation errors in logging.
  boot/zephyr/firmware_loader.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
