Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

sim: Parametrize make_bad_secondary_slot_image
  sim/src/image.rs
  sim/src/lib.rs
  sim/tests/core.rs
Owners: @d3zd3z

sim: Add test for MCUBOOT_CHECK_HEADER_LOAD_ADDRESS
  sim/Cargo.toml
  sim/mcuboot-sys/Cargo.toml
  sim/mcuboot-sys/build.rs
  sim/src/image.rs
  sim/tests/core.rs
Owners: @d3zd3z

boot: zephyr: get base addres from CONFIG_FLASH_BASE_ADDRESS
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

loader: Remove the possibility to specifu dep slot
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

loader: Brute force solution for dependencies
  boot/bootutil/src/loader.c
Owners: @davidvincze

loader: Enforce version equality in slot deps
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Add MCUBOOT_CHECK_HEADER_LOAD_ADDRESS
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Deprecate MCUBOOT_VERIFY_IMG_ADDRESS
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

sim: Add test for MCUBOOT_CHECK_HEADER_LOAD_ADDRESS
  sim/Cargo.toml
  sim/mcuboot-sys/Cargo.toml
  sim/mcuboot-sys/build.rs
  sim/src/image.rs
  sim/tests/core.rs
Owners: @d3zd3z

sim: Parametrize make_bad_secondary_slot_image
  sim/src/image.rs
  sim/src/lib.rs
  sim/tests/core.rs
Owners: @d3zd3z

zephyr: Added MCUBOOT_CHECK_HEADER_LOAD_ADDRESS Kconfig
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: zephyr: fix getting base address for certain boards
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

bootutil: Move boot_enc_init in boot_swap_image
  boot/bootutil/src/loader.c
Owners: @davidvincze

ci: Non-safely fix python files
  ci/fih_test_docker/generate_test_report.py
  ci/fih_test_docker/utils.py
Owners: @d3zd3z

scripts: Safely fix python files
  scripts/assemble.py
  scripts/imgtool/boot_record.py
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/ecdsa.py
  scripts/imgtool/keys/ecdsa_test.py
  scripts/imgtool/keys/ed25519.py
  scripts/imgtool/keys/ed25519_test.py
  scripts/imgtool/keys/general.py
  scripts/imgtool/keys/privatebytes.py
  scripts/imgtool/keys/rsa.py
  scripts/imgtool/keys/rsa_test.py
  scripts/imgtool/keys/x25519.py
  scripts/imgtool/main.py
  scripts/setup.py
  scripts/tests/test_commands.py
  scripts/tests/test_compression.py
  scripts/tests/test_keys.py
Owners: @d3zd3z

ci: Safely fix python files
  ci/compare_versions.py
  ci/fih_test_docker/damage_image.py
  ci/fih_test_docker/generate_test_report.py
  ci/fih_test_docker/utils.py
  ci/fih_test_docker/validate_output.py
  ci/get_features.py
Owners: @d3zd3z

scripts: Non-safely fix python files
  scripts/assemble.py
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/image.py
  scripts/imgtool/keys/general.py
  scripts/imgtool/main.py
Owners: @d3zd3z

ci: Safely fix python files
  ci/compare_versions.py
  ci/fih_test_docker/damage_image.py
  ci/fih_test_docker/generate_test_report.py
  ci/fih_test_docker/utils.py
  ci/fih_test_docker/validate_output.py
  ci/get_features.py
Owners: @d3zd3z

scripts: Non-safely fix python files
  scripts/assemble.py
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/image.py
  scripts/imgtool/keys/general.py
  scripts/imgtool/main.py
Owners: @d3zd3z

ci: Non-safely fix python files
  ci/fih_test_docker/generate_test_report.py
  ci/fih_test_docker/utils.py
Owners: @d3zd3z

scripts: Safely fix python files
  scripts/assemble.py
  scripts/imgtool/boot_record.py
  scripts/imgtool/dumpinfo.py
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/ecdsa.py
  scripts/imgtool/keys/ecdsa_test.py
  scripts/imgtool/keys/ed25519.py
  scripts/imgtool/keys/ed25519_test.py
  scripts/imgtool/keys/general.py
  scripts/imgtool/keys/privatebytes.py
  scripts/imgtool/keys/rsa.py
  scripts/imgtool/keys/rsa_test.py
  scripts/imgtool/keys/x25519.py
  scripts/imgtool/main.py
  scripts/setup.py
  scripts/tests/test_commands.py
  scripts/tests/test_compression.py
  scripts/tests/test_keys.py
Owners: @d3zd3z

bootutil: Move boot_enc_init in boot_swap_image
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: zephyr: fix getting base address for certain boards
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

imgtool: support producing images in test mode
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

scripts/imgtool.py: Add PKCS#11 ECDSA P384 support
  docs/release-notes.d/add-imgtool-pkcs11-ecdsa.md
  scripts/imgtool.nix
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/imgtool_keys_pkcs11.py
  scripts/imgtool/keys/imgtool_keys_pkcs11_test.py
  scripts/imgtool/main.py
  scripts/requirements.txt
  scripts/setup.py
Owners: @d3zd3z

bootutil: Parse key id for built in keys
  boot/bootutil/include/bootutil/crypto/ecdsa.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/image_validate.c
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

imgtool: Add support for multiple signatures
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Add support for multi-sign of same type
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_image_hash.c
  boot/bootutil/src/bootutil_img_security_cnt.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @d3zd3z

imgtool: Rename key-ids to psa-key-ids
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Fix TF-M CI failure due to FIH call
  boot/bootutil/include/bootutil/sign_key.h
Owners: @davidvincze

bootutil: Add support for AES-KW encrypted images
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/include/bootutil/crypto/aes_kw.h
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/aeskw.py
Owners: @davidvincze, @d3zd3z

bootutil: Remove AES key wrap Mbedtls APIs
  boot/bootutil/include/bootutil/crypto/aes_kw.h
Owners: @davidvincze

bootutil: Add support to key wrap using PSA key id
  boot/bootutil/include/bootutil/crypto/aes_kw.h
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/loader.c
  enc-aeskw-128.b64
  enc-aeskw-128_ns.b64
Owners: @davidvincze, @d3zd3z

scripts/imgtool.py: Add PKCS#11 ECDSA P384 support
  docs/release-notes.d/add-imgtool-pkcs11-ecdsa.md
  scripts/imgtool.nix
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/imgtool_keys_pkcs11.py
  scripts/imgtool/keys/imgtool_keys_pkcs11_test.py
  scripts/imgtool/main.py
  scripts/requirements.txt
  scripts/setup.py
Owners: @d3zd3z

scripts: imgtool: Add script to combine multiple image as single
  scripts/combine_images.py
  scripts/combine_images.yaml
Owners: @d3zd3z

boot: bootutils: Add image in image support
  boot/bootutil/src/loader.c
Owners: @davidvincze

scripts/imgtool.py: Allow token select by label
  scripts/imgtool/keys/imgtool_keys_pkcs11.py
Owners: @d3zd3z

scripts/imgtool.py: Add PKCS#11 ECDSA P384 support
  docs/release-notes.d/add-imgtool-pkcs11-ecdsa.md
  scripts/imgtool.nix
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/imgtool_keys_pkcs11.py
  scripts/imgtool/keys/imgtool_keys_pkcs11_test.py
  scripts/imgtool/main.py
  scripts/requirements.txt
  scripts/setup.py
Owners: @d3zd3z

BL2: Backport some changes from mcuboot PR#2305
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_validate.c
  boot/espressif/CMakeLists.txt
  boot/zephyr/CMakeLists.txt
  docs/release-notes.d/multi-signature-support.md
  samples/mcuboot_config/mcuboot_config.template.h
  scripts/imgtool/image.py
  sim/mcuboot-sys/build.rs
Owners: @davidvincze, @almir-okato, @nordicjm, @de-nordic, @d3zd3z

bootutil: Replace literal slot indexes with identifiers
  boot/boot_serial/src/boot_serial_encryption.c
  boot/bootutil/src/loader.c
Owners: @nordicjm, @de-nordic, @davidvincze
