Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

boot: zephyr: boards: Remove outdated nrf54l15pdk board config
  boot/zephyr/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
Owners: @nordicjm, @de-nordic

zephyr: Remove legacy flash_area_get_sectors
  boot/zephyr/CMakeLists.txt
  boot/zephyr/flash_map_legacy.c
Owners: @nordicjm, @de-nordic

bootutil: Unify app_max_size() implementations
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: zephyr: boards: Reformat DTS files
  boot/zephyr/boards/nrf52840_big.overlay
  boot/zephyr/boards/nrf52840_single_slot.overlay
  boot/zephyr/boards/nrf52840dk_qspi_nor_secondary.overlay
  boot/zephyr/boards/nrf52840dk_ram.overlay
  boot/zephyr/boards/nrf52840dk_ram_multi.overlay
Owners: @nordicjm, @de-nordic

zephyr: Add zephyr samples folder to list of samples
  zephyr/module.yml
Owners: @nordicjm, @de-nordic

boot: zephyr: RAM cleanup debug loop
  boot/zephyr/Kconfig
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: Add config for dongle bare variant
  boot/zephyr/boards/nrf52840dongle_nrf52840_bare.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: Remove references to tinycrypt
  boot/zephyr/prj.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: Remove support for deprecated LED dts
  boot/zephyr/io.c
Owners: @nordicjm, @de-nordic

boot: bootutil: declare fih_panic_loop() as noreturn
  boot/bootutil/include/bootutil/fault_injection_hardening.h
  boot/bootutil/src/fault_injection_hardening.c
Owners: @davidvincze

boot: zephyr: Remove support for deprecated LED dts
  boot/zephyr/io.c
Owners: @nordicjm, @de-nordic

boot: zephyr: Remove references to tinycrypt
  boot/zephyr/prj.conf
Owners: @nordicjm, @de-nordic

zephyr: Allow enabling logical sectors
  boot/zephyr/Kconfig
  boot/zephyr/flash_map_extended.c
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

bootutil: Support for logical sectors
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Improve SHA support selectors
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: Add support for Cortex-R cleanup before final jump
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/cleanup/arm_cortex_m.c
  boot/zephyr/cleanup/arm_cortex_r.c
  boot/zephyr/include/arm_cleanup.h
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

boot: zephyr: Add Cortex-R support
  boot/zephyr/main.c
Owners: @nordicjm, @de-nordic

docs: release-notes: Add changes for Cortex-R booting
  docs/release-notes.d/add-cortex-r-support-00-basic.md
  docs/release-notes.d/add-cortex-r-support-01-cleanup-core.md
Owners: @d3zd3z

zephyr: boards: nrf54h20dk: disable power domains
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp_iron.overlay
Owners: @nordicjm, @de-nordic

zephyr: Improve SHA support selectors
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: boards: nrf54h20dk: disable power domains
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp_iron.conf
  boot/zephyr/boards/nrf54h20dk_nrf54h20_cpuapp_iron.overlay
Owners: @nordicjm, @de-nordic

bootutil: Use common type name for key exchange context
  boot/bootutil/include/bootutil/crypto/ecdh_p256.h
  boot/bootutil/include/bootutil/crypto/ecdh_x25519.h
  boot/bootutil/include/bootutil/crypto/rsa.h
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: Replace uint16_t with size_t in hkdf
  boot/bootutil/src/encrypted.c
Owners: @davidvincze

bootutil: Remove pointless includes of asn1 headers
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Remove pointless includes of asn1 headers
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

boot: zephyr: Set prefer swap using move for aligned boards
  boot/zephyr/boards/ctcc_nrf52840.conf
  boot/zephyr/boards/decawave_dwm3001cdk.conf
  boot/zephyr/boards/it8xxx2_evb.conf
  boot/zephyr/boards/micromod_nrf52840..conf
  boot/zephyr/boards/myra_sip_baseboard.conf
  boot/zephyr/boards/numaker_pfm_m467.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Default to swap using offset
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: kconfig: Default to swap using offset
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: Set prefer swap using move for aligned boards
  boot/zephyr/boards/ctcc_nrf52840.conf
  boot/zephyr/boards/decawave_dwm3001cdk.conf
  boot/zephyr/boards/it8xxx2_evb.conf
  boot/zephyr/boards/micromod_nrf52840..conf
  boot/zephyr/boards/myra_sip_baseboard.conf
  boot/zephyr/boards/numaker_pfm_m467.conf
Owners: @nordicjm, @de-nordic

zephyr: Improve SHA support selectors
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

zephyr: Enable building ECDSA PSA variant
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

loader: Allow to specify slot number in version
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
  docs/imgtool.md
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z

imgtool: add key password support
  scripts/imgtool/main.py
Owners: @d3zd3z

docs: release-notes: Add changes for imgtool key password support
  docs/release-notes.d/imgtool-add-key-password-support.md
Owners: @d3zd3z

imgtool: add key password support
  scripts/imgtool/main.py
Owners: @d3zd3z

docs: release-notes: Add changes for imgtool key password support
  docs/release-notes.d/imgtool-add-key-password-support.md
Owners: @d3zd3z

zephyr: Enable building ECDSA PSA variant
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

espressif: fix esp32 console_write loop forever if cnt too large spilt buffer to make sure console_write won't occupy forever
  boot/espressif/port/esp32/serial_adapter.c
Owners: @almir-okato

zephyr: Enable building ECDSA PSA variant
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

loader: Allow to specify slot number in version
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/loader.c
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  docs/design.md
  docs/imgtool.md
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @davidvincze, @nordicjm, @de-nordic, @d3zd3z
