Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

bootutil: encryption: Fix typo in PSA code
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

bootutil: encryption: Fix typo in PSA code
  boot/bootutil/src/encrypted_psa.c
Owners: @davidvincze

boot: bootutil: Only update the security counter for confirmed images
  boot/bootutil/src/loader.c
Owners: @davidvincze

sim: Use non-equal security counters when testing upgrades
  sim/mcuboot-sys/src/api.rs
  sim/mcuboot-sys/src/c.rs
  sim/src/image.rs
  sim/tests/core.rs
Owners: @d3zd3z

boot: bootutil: Only update the security counter for confirmed images
  boot/bootutil/src/loader.c
Owners: @davidvincze

sim: Use non-equal security counters when testing upgrades
  sim/mcuboot-sys/src/api.rs
  sim/mcuboot-sys/src/c.rs
  sim/src/image.rs
  sim/tests/core.rs
Owners: @d3zd3z

bootutil: Fix crash when bootutil_sha_init() is called in loop
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

docs: Add current version to docs
  docs/contributing.md
  docs/index.md
Owners: @d3zd3z

docs: Add contributing guideline
  docs/contributing.md
  docs/index.md
Owners: @d3zd3z

bootutil: Support for MCUBOOT_BYPASS_KEY_MATCH
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

docs: Add current version to docs
  docs/contributing.md
  docs/index.md
Owners: @d3zd3z

docs: Add contributing guideline
  docs/contributing.md
  docs/index.md
Owners: @d3zd3z

boot: bootutil: avoid full erase on BOOT_MAGIC_BAD in boot_set_next
  boot/bootutil/src/bootutil_public.c
Owners: @davidvincze

bootutil: Parse key id for built in keys
  boot/bootutil/include/bootutil/crypto/ecdsa.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/image_validate.c
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

imgtool: Add support for multiple signatures
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Add support for multi-sign of same type
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/image_multi_sig.c
Owners: @davidvincze

imgtool: Rename key-ids to psa-key-ids
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Unify app_max_size() implementations
  boot/bootutil/include/bootutil/bootutil.h
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

bootutil: Improve logging coverage
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/ed25519_psa.c
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/bootutil/src/tlv.c
Owners: @davidvincze

zephyr: Improve logging
  boot/zephyr/firmware_loader.c
  boot/zephyr/main.c
  boot/zephyr/single_loader.c
Owners: @nordicjm, @de-nordic

zephyr: Add CONFIG_BOOT_BYPASS_KEY_MATCH
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

boot: zephyr: boards: frdm_mcxn947_qspi and mcx_n9xx_evk_qspi: remove overlays
  boot/zephyr/boards/frdm_mcxn947_mcxn947_cpu0_qspi.conf
  boot/zephyr/boards/frdm_mcxn947_mcxn947_cpu0_qspi.overlay
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0_qspi.conf
  boot/zephyr/boards/mcx_n9xx_evk_mcxn947_cpu0_qspi.overlay
Owners: @nordicjm, @de-nordic

Updates for 2.2.0-rc2 release
  README.md
  docs/index.md
  docs/release-notes.md
  scripts/imgtool/__init__.py
Owners: @d3zd3z

espressif: fix build if hal_espressif is used as HAL layer for Espressif Port
  boot/espressif/CMakeLists.txt
  boot/espressif/hal/include/stubs.h
Owners: @almir-okato

espressif: add forced aligned flash erase
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

DEBUG: test scenario for confirm image after an OTA - THIS COMMIT WILL BE DELETED
  boot/espressif/hal/include/esp32s3/sdkconfig.h
  boot/espressif/port/esp32s3/bootloader.conf
Owners: @almir-okato

DEBUG: add debug logs - THIS COMMIT WILL BE DELETED
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/loader.c
  boot/espressif/port/esp_mcuboot.c
Owners: @davidvincze, @almir-okato

bootutil: add MCUBOOT_FLASH_HAS_HW_ENCRYPTION config-condition
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/loader.c
  boot/bootutil/src/swap_misc.c
  boot/espressif/hal/include/mcuboot_config/mcuboot_config.h
Owners: @davidvincze, @almir-okato

espressif: flash: fix image wrong state after swap-scratch when flash encryption is enabled
  boot/espressif/port/esp_mcuboot.c
Owners: @almir-okato

DEBUG: test scenario for confirm image after an OTA - THIS COMMIT WILL BE DELETED
  boot/espressif/hal/include/esp32s3/sdkconfig.h
  boot/espressif/port/esp32s3/bootloader.conf
Owners: @almir-okato

DEBUG: add debug logs - THIS COMMIT WILL BE DELETED
  boot/bootutil/src/bootutil_public.c
  boot/bootutil/src/loader.c
  boot/espressif/port/esp_mcuboot.c
Owners: @davidvincze, @almir-okato

boot: zephyr: boards config of the stm32h7rs target boards
  boot/zephyr/boards/nucleo_h7s3l8.conf
  boot/zephyr/boards/stm32h7s78_dk.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: boards config of the stm32h573 disco kit
  boot/zephyr/boards/stm32h573i_dk.conf
Owners: @nordicjm, @de-nordic

boot: zephyr: defines FLASH base address device for external NOR
  boot/zephyr/flash_map_extended.c
Owners: @nordicjm, @de-nordic

bootutil: Unify app_max_size() implementations
  boot/bootutil/include/bootutil/bootutil_public.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/swap_move.c
  boot/bootutil/src/swap_offset.c
  boot/bootutil/src/swap_scratch.c
Owners: @davidvincze

boot: bootutil: bootutil_misc: Fix max image size for single images
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

imgtool: Add support for HMAC/HKDF-SHA512 with ECIES-X25519
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

doc: Add information on supporting SHA512 wieh ECIES-X25519
  docs/encrypted_images.md
Owners: @d3zd3z

bootutil: Add support for HAMC-SHA512 with ECIES-X25519
  boot/bootutil/include/bootutil/enc_key_public.h
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

zephyr: Support for HKDF/HMAC with SHA512
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
Owners: @nordicjm, @de-nordic

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic
