Repository mcu-tools/mcuboot, changes with the owners that CODEOWNERS names for each.
All owners: @d3zd3z, @nordicjm, @de-nordic, @davidvincze, @romanjoe, @almir-okato, @kasjer, @michallenc

CODEOWNERS:

* @d3zd3z
boot/boot_serial/ @nordicjm @de-nordic
boot/bootutil/ @davidvincze
boot/cypress/ @romanjoe
boot/espressif/ @almir-okato
boot/mynewt/ @kasjer
boot/nuttx/ @michallenc
boot/zcbor/ @nordicjm @de-nordic
boot/zephyr/ @nordicjm @de-nordic
zephyr/ @nordicjm @de-nordic

bootutil: Small logging improvements
  boot/bootutil/src/loader.c
Owners: @davidvincze

zephyr: Add support for embedded AES key
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
  boot/zephyr/include/mcuboot_config/mcuboot_config.h
  boot/zephyr/templates/single_builtin_aes_key_provider.c.template
Owners: @nordicjm, @de-nordic

imgtool: Temporary workaround for entanglement with TF-M.
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

boot: zephyr: fix kconfig indentation
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

boot: zephyr: fix kconfig indentation
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

Release v2.3.0
  README.md
  boot/zephyr/VERSION
  docs/index.md
  repository.yml
  scripts/imgtool/__init__.py
Owners: @d3zd3z, @nordicjm, @de-nordic

boot: espressif: integrate Espressif Port with Zephyr sysbuild system
  boot/espressif/CMakeLists.txt
  boot/espressif/common.cmake
  boot/espressif/hal/CMakeLists.txt
  boot/espressif/hal/include/esp32c2/sdkconfig.h
  boot/espressif/hal/include/mcuboot_config/mcuboot_assert.h
  boot/espressif/port/esp32/ld/bootloader.ld
  boot/espressif/port/esp32c2/ld/bootloader.ld
  boot/espressif/port/esp32c3/ld/bootloader.ld
  boot/espressif/port/esp32c6/ld/bootloader.ld
  boot/espressif/port/esp32h2/ld/bootloader.ld
  boot/espressif/port/esp32s2/ld/bootloader.ld
  boot/espressif/port/esp32s3/ld/bootloader.ld
  boot/espressif/port/include/esp32/memory.h
  boot/espressif/port/include/esp32c2/memory.h
  boot/espressif/port/include/esp32c3/memory.h
  boot/espressif/port/include/esp32c6/memory.h
  boot/espressif/port/include/esp32h2/memory.h
  boot/espressif/port/include/esp32s2/memory.h
  boot/espressif/port/include/esp32s3/memory.h
  boot/espressif/zephyr/CMakeLists.txt
  boot/espressif/zephyr/Kconfig
  boot/espressif/zephyr/include/stubs.h
  boot/espressif/zephyr/prj.conf
  boot/espressif/zephyr/socs/esp32_procpu.conf
  boot/espressif/zephyr/socs/esp32c2.conf
  boot/espressif/zephyr/socs/esp32c3.conf
  boot/espressif/zephyr/socs/esp32c6_hpcore.conf
  boot/espressif/zephyr/socs/esp32h2.conf
  boot/espressif/zephyr/socs/esp32s2.conf
  boot/espressif/zephyr/socs/esp32s3_procpu.conf
  docs/release-notes.d/espressif-build-espressif-port-from-zephyros-sysbuild.md
Owners: @almir-okato, @nordicjm, @de-nordic, @d3zd3z

boot: espressif: reorganize cmake build script file
  boot/espressif/CMakeLists.txt
Owners: @almir-okato

bootutil: Remove redundant variable
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

bootutil: mynewt: Improve BOOTUTIL configuration
  boot/bootutil/pkg.yml
Owners: @davidvincze

bootutil: boot_read_enc_key now returns boolean
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

Release v2.3.0
  README.md
  boot/zephyr/VERSION
  docs/index.md
  repository.yml
  scripts/imgtool/__init__.py
Owners: @d3zd3z, @nordicjm, @de-nordic

readme: Update for next dev release
  README.md
  boot/zephyr/VERSION
  docs/release-notes.d/imgtool-public-ed25519.md
  docs/release-notes.d/zephyr-folder-paths.md
  docs/release-notes.d/zephyr-watchdog.md
Owners: @d3zd3z, @nordicjm, @de-nordic

samples: zephyr: hello-world: Drop invalid key
  samples/zephyr/hello-world/sample.yaml
Owners: @nordicjm, @de-nordic

samples: zephyr: hello-world: Fix schema validation
  samples/zephyr/hello-world/sample.yaml
Owners: @nordicjm, @de-nordic

samples: zephyr: hello-world: Format 'tags'key in sample.yaml
  samples/zephyr/hello-world/sample.yaml
Owners: @nordicjm, @de-nordic

samples: zephyr: Remove hello-world
  samples/zephyr/hello-world/CMakeLists.txt
  samples/zephyr/hello-world/README.rst
  samples/zephyr/hello-world/boards/.gitignore
  samples/zephyr/hello-world/boards/README.rst
  samples/zephyr/hello-world/prj.conf
  samples/zephyr/hello-world/sample.yaml
  samples/zephyr/hello-world/src/Makefile
  samples/zephyr/hello-world/src/main.c
  samples/zephyr/hello-world/sysbuild.conf
Owners: @nordicjm, @de-nordic

readme: Update for next dev release
  README.md
  boot/zephyr/VERSION
  docs/release-notes.d/imgtool-public-ed25519.md
  docs/release-notes.d/zephyr-folder-paths.md
  docs/release-notes.d/zephyr-watchdog.md
Owners: @d3zd3z, @nordicjm, @de-nordic

bootutil: boot_read_enc_key now returns boolean
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/loader.c
Owners: @davidvincze

bootutil: Remove redundant variable
  boot/bootutil/src/bootutil_misc.c
Owners: @davidvincze

bootutil: mynewt: Improve BOOTUTIL configuration
  boot/bootutil/pkg.yml
Owners: @davidvincze

bootutil: Small logging improvements
  boot/bootutil/src/loader.c
Owners: @davidvincze

boot: zephyr: socs: stm32h7s3xx: Add support for ext_flash_app variant
  boot/zephyr/boards/nucleo_h7s3l8.conf
  boot/zephyr/socs/stm32h7s3xx_ext_flash_app.conf
  boot/zephyr/socs/stm32h7s3xx_ext_flash_app.overlay
Owners: @nordicjm, @de-nordic

bootutil: ed25519 psa: Merge bootutil_verify_sig and bootutil_verify
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

bootutil: Replace bootutil_verify_img with bootutil_verify_sig
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Remove bootutil_verify_img
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ed25519.c
Owners: @davidvincze

boot: bootutil: loader: Fix bootstrap copying in swap move mode
  boot/bootutil/src/loader.c
  docs/release-notes.d/fix-copy-size-swap-move-bootstrapping.md
Owners: @davidvincze, @d3zd3z

espressif: update default bootloader.conf files
  boot/espressif/port/esp32/bootloader.conf
  boot/espressif/port/esp32c2/bootloader.conf
  boot/espressif/port/esp32c3/bootloader.conf
  boot/espressif/port/esp32c6/bootloader.conf
  boot/espressif/port/esp32h2/bootloader.conf
  boot/espressif/port/esp32s2/bootloader.conf
  boot/espressif/port/esp32s3/bootloader.conf
Owners: @almir-okato

espressif: update readme-espressif.md documentation
  docs/readme-espressif.md
Owners: @d3zd3z

boot: zephyr: resolve relative key file path via WEST_TOPDIR, as supported by Zephyr
  boot/zephyr/CMakeLists.txt
  boot/zephyr/Kconfig
Owners: @nordicjm, @de-nordic

scripts/imgtool.py: Allow token select by label
  scripts/imgtool/keys/imgtool_keys_pkcs11.py
Owners: @d3zd3z

imgtool: add multi-signing utils for append and remove
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Remove AES key wrap Mbedtls APIs
  boot/bootutil/include/bootutil/crypto/aes_kw.h
Owners: @davidvincze

bootutil: Fix TF-M CI failure due to FIH call
  boot/bootutil/include/bootutil/sign_key.h
Owners: @davidvincze

scripts/imgtool.py: Add PKCS#11 ECDSA P384 support
  docs/release-notes.d/add-imgtool-pkcs11-ecdsa.md
  scripts/imgtool.nix
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/imgtool_keys_pkcs11.py
  scripts/imgtool/keys/imgtool_keys_pkcs11_test.py
  scripts/imgtool/main.py
  scripts/requirements.txt
  scripts/setup.py
Owners: @d3zd3z

bootutil: Add support for multi-sign of same type
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ecdsa.c
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_rsa.c
  boot/bootutil/src/image_validate.c
Owners: @davidvincze

bootutil: Add support for AES-KW encrypted images
  boot/bootutil/include/bootutil/crypto/aes_ctr.h
  boot/bootutil/include/bootutil/crypto/aes_ctr_psa.h
  boot/bootutil/include/bootutil/crypto/aes_kw.h
  boot/bootutil/src/encrypted_psa.c
  scripts/imgtool/image.py
  scripts/imgtool/keys/__init__.py
  scripts/imgtool/keys/aeskw.py
Owners: @davidvincze, @d3zd3z

BL2: Backport some changes from mcuboot PR#2305
  boot/bootutil/CMakeLists.txt
  boot/bootutil/include/bootutil/image.h
  boot/bootutil/include/bootutil/sign_key.h
  boot/bootutil/src/bootutil_find_key.c
  boot/bootutil/src/bootutil_img_hash.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/image_ed25519.c
  boot/bootutil/src/image_validate.c
  docs/release-notes.d/multi-signature-support.md
  samples/mcuboot_config/mcuboot_config.template.h
  scripts/imgtool/image.py
Owners: @davidvincze, @d3zd3z

imgtool: Rename key-ids to psa-key-ids
  scripts/imgtool/image.py
  scripts/imgtool/main.py
Owners: @d3zd3z

bootutil: Add support to key wrap using PSA key id
  boot/bootutil/include/bootutil/crypto/aes_kw.h
  boot/bootutil/include/bootutil/enc_key.h
  boot/bootutil/src/bootutil_misc.c
  boot/bootutil/src/bootutil_priv.h
  boot/bootutil/src/encrypted.c
  boot/bootutil/src/encrypted_psa.c
  boot/bootutil/src/loader.c
  enc-aeskw-128.b64
  enc-aeskw-128_ns.b64
Owners: @davidvincze, @d3zd3z
